<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "Home">
  <!ENTITY PageName "HomeModuleContent.aspx">
  <!ENTITY ModuleConfig "HomeModuleConfig">
  <!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
  <!ENTITY NavElementEnabled "True">
]>

<!-- On July 15, 2005 in the afternoon, Basil Eliopoulos changed references to the file "Home_Help_Page.pdf"  -->
<!-- to the generic AHA help file "Easygrants Mgr User Guide_AHA.pdf".   I did that in the below    -->
<!-- navigational elements.    I did this as part of a QA task.    -->


<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		AvailableAfterSubmit'Indicates if this page is available after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants
-->

<EasyGrants>
  <Module UserClass='cEGHomeUser'
		PageContent='XML:Pages'

		DefaultPageFrameKey='Option01'
		ModuleName = '&ModuleName;'
		ModuleConfig = '&ModuleConfig;'
		DefaultPageKey='Home'
		InvalidURL=''>

    <Class Name='cEGHomeUser'
			Assembly='EasyGrants'
			FullName='EasyGrants.Web.User.cEGHomeUser'/>

    <PageFrames>
      <PageFrame Key='Option01'
				PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
      <PageFrame Key='Option02'
				PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
      <PageFrame Key='Print'
				PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
    </PageFrames>

    <Navigation Key='Home'>
      <NavElement Key='Home'
				NavTitle='Home'
				Enabled='&NavElementEnabled;'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Home_Page_Help.pdf'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Home'/>
      <NavElement Key='Sep1' NavTitle='('/>
      <NavElement Key='ChangePassword'
				NavTitle='Change Password'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ChangePassword'/>
		<NavElement Key='Sep2' NavTitle='(' />
		<NavElement Key='FAQ'
				  NavTitle='FAQ'
				  Enabled='&NavElementEnabled;'
				  Target='Blank'
				  SourceFile='&DefaultSourceFileURL;&amp;Page=FAQPublicView&amp;PageFrame=Print' />
      <NavElement Key='Sep1' NavTitle='('/>
      <NavElement Key='Help'
				NavTitle='Help'
				Enabled='&NavElementEnabled;'/>
      <NavElement Key='Sep1' NavTitle='('/>

      <NavElement Key='Logout'
				NavTitle='Logout'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
      <NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				SourceFile=''/>
    </Navigation>

    <Pages>
      <Page Key='Home'
				NavKey='Home'
				PageTitle='Home'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/HomeContent.ascx' />
      <Page Key='MyGrants'
				NavKey='Home'
				PageTitle='My Grants'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ViewMyGrants.ascx' />
      <Page Key='MyGrantDetails'
				NavKey='Home'
				PageTitle='Grant Details'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/GrantDetails.ascx' />
      <Page Key='CopyTask'
				NavKey='Home'
				PageTitle='Home'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/CopyTaskContent.ascx' />
      <Page Key='ChangePassword'
				NavKey='ChangePassword'
				PageTitle='Change Password'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ChangePasswordContent.ascx' />
      <Page Key='SelectProgram'
				NavKey='Home'
				PageTitle='Select a Grant Program'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/SelectProgram_Content.ascx' />
      <Page Key='ApplyGrant'
				NavKey='Home'
				PageTitle='Apply for a New Grant'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ApplyGrantContent.ascx' />
      <Page Key='FTFEligQuiz'
				NavKey='Home'
				PageTitle='Eligibility Quiz'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/EligibilityQuiz_Content.ascx' />
      <Page Key='Logout'
				NavKey='Logout'
				PageTitle='Log Out'
				ContentCtl='&CoreRoot;/Controls/Page/Logout_Content.ascx' />
      <Page Key='EditAfterSubmitError'
				NavKey='Home'
				PageTitle='Already Submitted Error'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/EditAfterSubmitErrorContent.ascx' />
	  <Page Key='FAQPublicView'
				NavKey='FAQManager'
				PageTitle='Frequently Asked Questions'
				ContentCtl='EasyGrants/Controls/PageSection/FAQ_Public_View.ascx' />
	  <Page Key='FAQView'
				NavKey='FAQManager'
				PageTitle='Frequently Asked Questions'
				ContentCtl='EasyGrants/Controls/PageSection/FAQ_View.ascx' />
    </Pages>
  </Module>
</EasyGrants>