<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "ApplReview">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "PPQVApplReviewModuleConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>

<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		EnabledAfterSubmit  'Indicates if navigation element is enabled after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants

-->

<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		  PageContent='XML:Pages'
		  DefaultPageFrameKey='Option01'
		  ModuleName = '&ModuleName;'
		  DescriptiveName = 'Application Review'
		  ModuleConfig = '&ModuleConfig;'
		  PageName='&PageName;'
		  DefaultPageKey='Main'
		  InvalidURL=''>

		<Class Name='cEGWfTAUser'
				Assembly='EasyGrants'
				FullName='EasyGrants.Web.User.cEGWfTAUser'
				CopyUser= 'cEGHomeUser'
				UniqueHashKey='_Appl' />

		<PageFrames>
			<PageFrame Key='Option01'
					  PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

		<!-- Configure Left navigation links -->
		<Navigation Key='Application'>
			<NavElement Key='StaffHome'
				NavTitle='Home'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;'
				SourceFile='&ModuleRoot;/Staff/ModuleContent.aspx?Config=ModuleConfig&amp;Page=Home'/>
			<NavElement Key='Sep2' NavTitle='('/>
			<NavElement Key='Main'
				NavTitle='Main'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Main'
				HelpFile='../../../Implementation/Modules/ApplReview/Help/Eval_Main.aspx'/>
			<NavElement Key='PostPQVForm'
				NavTitle='PQV Form'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=PostPQVForm'/>
			<NavElement Key='CSRAnalysis'
				NavTitle='CSR Analysis'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=CSRAnalysis'/>
			<NavElement Key='OtherRequiredReview'
				NavTitle='Other Required Review'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=OtherRequiredReview'/>
			<NavElement Key='ScoreReport'
				NavTitle='Score Report'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ScoreReport'/>
			<NavElement Key='CommentsSummary'
				NavTitle='Comments Summary'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=CommentsSummary'/>
			<NavElement Key='FiscalGranteeFundingApplication'
				NavTitle='Fiscal Grantee Funding Application'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=FiscalGranteeFundingApplication'/>
			<NavElement Key='Submission'
				NavTitle='Review and Submit'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'/>
			<NavElement Key='Sep3' NavTitle='('/>
			<NavElement Key='Logout'
				NavTitle='Log Out'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
			<NavElement Key='Sep4' NavTitle='('/>
			<NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile=''/>
			<NavElement Key='Sep3' NavTitle='('/>
		</Navigation>

		<!-- Configure Web Page filename -->
		<Pages>
			<Page Key='Home'
				NavKey='Home'
				PageTitle='Home'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/HomeContent.ascx' />
			<Page Key='Main'
				NavKey='Main'
				PageTitle='Main'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PPQVMain.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReviewSubmitted.ascx'/>

			<Page Key='FundingTerm'
				NavKey='FundingTerm'
				PageTitle='Funding Term'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/FundingTerm.ascx' />
			<Page Key='AppOverviewReview'
				NavKey='AppOverviewReview'
				PageTitle='Applicant Overview Review'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/AppOverviewReview.ascx'/>
			<Page Key='ApplicantPAIPlanReview'
				NavKey='ApplicantPAIPlanReview'
				PageTitle='Applicant PAI Plan Review'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/AppPAIPlanReview.ascx'/>
			<Page Key='OCERptReview'
				NavKey='OCERptReview'
				PageTitle='OCE Report Review'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/OCERptReview.ascx'/>
			<Page Key='GranteeProfileReview'
				NavKey='GranteeProfileReview'
				PageTitle='Grantee Profile Review'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/GranteeProfileReview.ascx'/>
			<Page Key='CSRAnalysis'
				NavKey='CSRAnalysis'
				PageTitle='CSR Analysis'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PPQVCSRAnalysis.ascx'/>
			<Page Key='EvaluationPartII'
				NavKey='EvaluationPartII'
				PageTitle='Evaluation- Part II'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/EvalPart2.ascx' />
			<Page Key='EvaluationPartIII'
				NavKey='EvaluationPartIII'
				PageTitle='Evaluation- Part III'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/EvalPart3.ascx' />
			<Page Key='RecommendationOA1'
				NavKey='RecommendationOA1'
				PageTitle='Recommendation - OA-1'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/RecommendationOA1.ascx' />
			<Page Key='ScoreReport'
				NavKey='ScoreReport'
				PageTitle='Score Report'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ScoreReportPPQV.ascx' />
			<Page Key='RecommendationOA2'
				NavKey='RecommendationOA2'
				PageTitle='Recommendation- OA-2'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/RecommendationOA2.ascx' />
			<Page Key='GrantTermsAndConditions'
				NavKey='GrantTermsAndConditions'
				PageTitle='Summary of Applicant Scores and Funding Term Recommendation'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/GrantTermsAndConditions.ascx' />
			<Page Key='GrantTermsAndConditionsEditor'
				NavKey='GrantTermsAndConditions'
				PageTitle='Grant Terms And Conditions Editor'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/GrantTermsAndConditionsEditor.ascx' />
			<Page Key='Submission'
				NavKey='Submission'
				PageTitle='Review and Submit'
			    ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReviewSubmitPPQV.ascx' />
			<Page Key='Logout'
				NavKey='Logout'
				PageTitle='Log Out'
				ContentCtl='&CoreRoot;/Controls/Page/Logout_Content.ascx' />
			<Page Key='ValidationSections'
				NavKey='Submission'
				PageTitle='Build Performance Area Validation'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ValidationSections.ascx'/>
			<Page Key='ReviewSummary2'
				NavKey='Main'
				PageTitle ='Application Review Summary'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReviewSummary2.ascx'/>
			<Page Key='PV_Intake_System'
				NavKey='PA2C1QF1'
				PageTitle ='Intake System Technology'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReadonlyForms/RFPIntakeFormReadonly.ascx'/>
			<Page Key='PV_LEP'
				NavKey='PA2C2_3QF4'
				PageTitle ='LEP Plan and Components'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReadonlyForms/RFPLEPplanReadonly.ascx'/>
			<Page Key='PV_Training'
				NavKey='PA3C1aQF5'
				PageTitle ='Training'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReadonlyForms/RFPTrainingReadonly.ascx'/>
			<Page Key='PV_Legal_Work_Mngt'
				NavKey='PA3C1bQF6'
				PageTitle ='Legal Work Management'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReadonlyForms/RFPWorkMngtReadonly.ascx'/>
			<Page Key='PV_CaseHandling'
				NavKey='PA3C1bQF7'
				PageTitle ='Casehandling Protocols'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReadonlyForms/RFPCaseHandlingProtocolsReadonly.ascx'/>
			<Page Key='PV_CaseDevelopment'
				NavKey='PA3C1bQF8'
				PageTitle ='Case Development Activities'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReadonlyForms/RFPCaseDevelopmentActReadonly.ascx'/>
			<Page Key='PV_PAI'
				NavKey='PA3C2QF9'
				PageTitle ='Private Attorney Involvement'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReadonlyForms/RFPPvtAttyInvolvementReadonly.ascx'/>
			<Page Key='PV_Recruit_PA'
				NavKey='PA3C2QF10'
				PageTitle ='Methods Used To Recruit Private Attorneys'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReadonlyForms/RFPRecruitPvtAttyReadonly.ascx'/>
			<Page Key='PV_Retain_PA'
				NavKey='PA3C2QF11'
				PageTitle ='Methods Used to Retain Private Attorney Volunteers'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReadonlyForms/RFPRetainPvtAttyReadonly.ascx'/>
			<Page Key='PV_Board_Policies'
				NavKey='PA4C1QF12'
				PageTitle ='Board Policies and Practices'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReadonlyForms/RFPBoardPoliciesReadonly.ascx'/>
			<Page Key='PV_Data_Methods'
				NavKey='PA1C1QF1'
				PageTitle ='Legal Needs Assessment Data Collection Methods '
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReadonlyForms/DataCollectionMethodsReadonly.ascx'/>
			<Page Key='PV_Data_Sources'
				NavKey='PA1C1QF2'
				PageTitle ='Legal Needs Assessment Data Sources and Tools'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReadonlyForms/DataSourcesandToolsReadonly.ascx'/>
			<Page Key='PV_Continuity_Oper'
				NavKey='PA4C3QF13'
				PageTitle ='Continuity of Operations Planning'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReadonlyForms/ContinuityOperationsPlanningReadonly.ascx'/>
			<Page Key='OtherRequiredReview'
				NavKey='OtherRequiredReview'
				PageTitle ='Other Required Review'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PPQVOtherRequiredReview.ascx'/>
			<Page Key='CommentsSummary'
				NavKey='CommentsSummary'
				PageTitle ='Comments Summary'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/PageSection/CommentsSummaryPPQV.ascx'/>
			<Page Key='PostPQVForm'
				NavKey='PostPQVForm'
				PageTitle ='Post PQV Form'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PostPQVForm.ascx'/>
			<Page Key='PostPQVPA1'
					  NavKey='PostPQVForm'
					  PageTitle='Post PQV PA1'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PostPQVPA1.ascx' />
			<Page Key='PostPQVPA2'
					  NavKey='PostPQVForm'
					  PageTitle='Post PQV PA2'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PostPQVPA2.ascx' />
			<Page Key='PostPQVPA3'
					  NavKey='PostPQVForm'
					  PageTitle='Post PQV PA3'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PostPQVPA3.ascx' />
			<Page Key='PostPQVPA4'
					  NavKey='PostPQVForm'
					  PageTitle='Post PQV PA4'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PostPQVPA4.ascx' />
			<Page Key='PostPQVSupplemental'
					  NavKey='PostPQVForm'
					  PageTitle='Post PQV Supplemental Inquiries'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PostPQVSupplemental.ascx' />
			<Page Key='PV_Priorities'
				NavKey='PA1C2QF3'
				PageTitle='Priorities, Goals, Strategies and Desired Outcomes'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReadonlyForms/PrioritiesReadonly.ascx'/>
			<Page Key='PV_Accomplish_Clients'
				NavKey='PA3C1cQF10'
				PageTitle ='Accomplishments for Clients'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReadonlyForms/AccomplishmentsClientsReadonly.ascx'/>
			<Page Key='PV_Accomplish_Clients_PAI'
				NavKey='PA3C2QF14'
				PageTitle ='Accomplishments for Clients through PAI'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReadonlyForms/AccomplishmentsClientsPAIReadonly.ascx'/>
			<Page Key='PV_Justice_Advocacy'
				NavKey='PA3C4QF15'
				PageTitle ='Involvement with Justice and Advocacy Community'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReadonlyForms/JusticeAndAdvocacyCommunityReadonly.ascx'/>
			<Page Key='PV_Accomplish_Other_Services'
				NavKey='PA4C9QF18'
				PageTitle ='Accomplishments for Clients with Other Providers'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReadonlyForms/AccomplishmentsClientsOtherProvidersReadonly.ascx'/>
			<Page Key='FiscalGranteeFundingApplication'
				NavKey='FiscalGranteeFundingApplication'
				PageTitle ='Fiscal Grantee Funding Application'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/FiscalGranteeFundingApplication.ascx'/>

		</Pages>
		
		
		<Validation>

			<ValidationSection Key="PQVForm" DisplayName="PQV Form" PageKey="PostPQVForm">
				<ValidationItem Type='Method'>
					<Action
							Object='ModulePage'
							Method='ValidatePPQVReviewersResponsesToRec'>
					</Action>
					<Results>
						<Result
							ResultCode='3'
							Message=''
							MessageStart='A response for recommendation '
							MessageEnd=' is required.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscWftaPQVRecommendationServArea.LscPQVRecommendationServArea">
						<Filters>
							<Argument PropertyKey="LscPQVRecommendationStatusIDReviewer" Value=""/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a status for each recommendation." MinCount="1" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="1">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="1">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="Comment" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for PA1, C1, 2, and 3." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="1">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="1">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="LscReviewInquiryScoreID" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a score for PA1, C1, 2, and 3." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="1">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="2">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="Comment" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for PA1, C4." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="1">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="2">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="LscReviewInquiryScoreID" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a score for PA1, C4." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscWftaPQVRecommendationServArea">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="2">
								<RelatedProperty PropertyKey="LscPQVRecommendation.LscReviewCriterion.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="ReviewerComment" Value="" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for every applicant response to recommendations in Performance Area 2." MinCount="1" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="2">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="1">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="Comment" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for PA2, C1." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="2">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="1">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="LscReviewInquiryScoreID" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a score for PA2, C1." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="2">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="2">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="Comment" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for PA2, C2 and 3." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="2">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="2">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="LscReviewInquiryScoreID" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a score for PA2, C2 and 3." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscWftaPQVRecommendationServArea">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="3">
								<RelatedProperty PropertyKey="LscPQVRecommendation.LscReviewCriterion.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="ReviewerComment" Value="" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for every applicant response to recommendations in Performance Area 3." MinCount="1" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="3">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="1">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="Comment" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for PA3, C1a." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="3">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="1">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="LscReviewInquiryScoreID" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a score for PA3, C1a." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="3">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="2">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="Comment" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for PA3, C1b." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="3">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="2">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="LscReviewInquiryScoreID" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a score for PA3, C1b." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="3">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="3">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="Comment" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for PA3, C1c." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="3">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="3">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="LscReviewInquiryScoreID" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a score for PA3, C1c." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="3">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="Comment" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for PA3, C2." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="3">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="LscReviewInquiryScoreID" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a score for PA3, C2." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="3">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="5">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="Comment" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for PA3, C3 and 4." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="3">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="5">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="LscReviewInquiryScoreID" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a score for PA3, C3 and 4." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscWftaPQVRecommendationServArea">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscPQVRecommendation.LscReviewCriterion.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="ReviewerComment" Value="" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for every applicant response to recommendations in Performance Area 4." MinCount="1" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="1">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="Comment" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for PA4, C1." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="1">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="LscReviewInquiryScoreID" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a score for PA4, C1." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="2">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="Comment" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for PA4, C2." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="2">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="LscReviewInquiryScoreID" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a score for PA4, C2." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="3">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="Comment" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for PA4, C3." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="3">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="LscReviewInquiryScoreID" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a score for PA4, C3." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="Comment" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for PA4, C4." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="LscReviewInquiryScoreID" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a score for PA4, C4." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="5">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="Comment" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for PA4, C5." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="5">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="LscReviewInquiryScoreID" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a score for PA4, C5." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="6">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="Comment" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for PA4, C6." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="6">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="LscReviewInquiryScoreID" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a score for PA4, C6." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="7">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="Comment" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for PA4, C7." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="7">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="LscReviewInquiryScoreID" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a score for PA4, C7." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="9">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="Comment" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a comment for PA4, C9." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="LscReviewAssignmentCategory">
						<Filters>
							<Argument PropertyKey="SortOrder" Value="4">
								<RelatedProperty PropertyKey="LscReviewCategory.LscReviewPerformanceArea" />
							</Argument>
							<Argument PropertyKey="SortOrder" Value="9">
								<RelatedProperty PropertyKey="LscReviewCategory" />
							</Argument>
							<Argument PropertyKey="LscReviewInquiryScoreID" Value="" Operator="NotEqual" />
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a score for PA4, C9." MaxCount="0" />
					</Results>
				</ValidationItem>
				
			</ValidationSection>


			<ValidationSection Key='CSRAnalysis' DisplayName='CSR Analysis' PageKey='CSRAnalysis'>
				<ValidationItem>
					<Requirement PropertyKey='vLSCCompWftaOrgServareaYear'>
						<Filters>
							<Argument PropertyKey='CasesDecreasePrevYr_20' Value='True' Operator='Boolean' >
								<RelatedProperty PropertyKey='LscCsrAnalysisByRecipient'/>
							</Argument>
							<Argument PropertyKey='CaseStaffFundDecDesc' Value=''>
								<RelatedProperty PropertyKey='WfTaskAssignment.LscReviewApplication'/>
							</Argument>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must provide an explanation for the 20% drop in total cases'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='vLSCCompWftaOrgServareaYear'>
						<Filters>
							<Argument PropertyKey='PAICasesDecreasePrevYr_20' Value='True' Operator='Boolean' >
								<RelatedProperty PropertyKey='LscCsrAnalysisByRecipient'/>
							</Argument>
							<Argument PropertyKey='CaseStaffFundDecDesc' Value=''>
								<RelatedProperty PropertyKey='WfTaskAssignment.LscReviewApplication'/>
							</Argument>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must provide an explanation for the 20% drop in PAI cases'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='vLSCCompWftaOrgServareaYear'>
						<Filters>
							<Argument PropertyKey='StaffFTEsPctIncrease' Value='-20' Operator='LessThan' >
								<RelatedProperty PropertyKey='LscCsrAnalysisByRecipient'/>
							</Argument>
							<Argument PropertyKey='CaseStaffFundDecDesc' Value=''>
								<RelatedProperty PropertyKey='WfTaskAssignment.LscReviewApplication'/>
							</Argument>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must provide an explanation for the 20% drop in staffing.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='vLSCCompWftaOrgServareaYear'>
						<Filters>
							<Argument PropertyKey='OtherFundingPctIncrease' Value='-20' Operator='LessThan' >
								<RelatedProperty PropertyKey='LscCsrAnalysisByRecipient'/>
							</Argument>
							<Argument PropertyKey='CaseStaffFundDecDesc' Value=''>
								<RelatedProperty PropertyKey='WfTaskAssignment.LscReviewApplication'/>
							</Argument>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must provide an explanation for the 20% drop in non-LSC funding.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='CSRBelow70' Value='True' Operator='Boolean'>
								<RelatedProperty PropertyKey='WfTaskAssignment.vLSCCompWftaOrgServareaYear.LscCsrAnalysisByRecipient'/>
							</Argument>
							<Argument PropertyKey='HighPctExtCase' Value='False' Operator='Boolean'/>
							<Argument PropertyKey='LowNonLscFund' Value='False' Operator='Boolean'/>
							<Argument PropertyKey='FundNonReportable' Value='False' Operator='Boolean'/>
							<Argument PropertyKey='ResourceIntensive' Value='False' Operator='Boolean'/>
							<Argument PropertyKey='CensusAdjIssues' Value='False' Operator='Boolean'/>
							<Argument PropertyKey='LowCaseRateOther' Value='False' Operator='Boolean'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Total CSR numbers are below 70% of the national median. You must indicate which factors tend to explain this.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='LowCaseRateOther' Value='True' />
							<Argument PropertyKey='LowCaseRateComment' Value='' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You have checked the box for item 3f. You must provide a comment.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='PAICSRBelow70' Value='True' Operator='Boolean'>
								<RelatedProperty PropertyKey='WfTaskAssignment.vLSCCompWftaOrgServareaYear.LscCsrAnalysisByRecipient'/>
							</Argument>
							<Argument PropertyKey='HighPctExtPAICase' Value='False' Operator='Boolean'/>
							<Argument PropertyKey='ResourceIntensivePAI' Value='False' Operator='Boolean'/>
							<Argument PropertyKey='LowCaseRateOtherPAI' Value='False' Operator='Boolean'/>
							<Argument PropertyKey='LowCaseRateOther' Value='False' Operator='Boolean'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='PAI CSR numbers are below 70% of the national median. You must indicate which factors tend to explain this.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='LowCaseRateOtherPAI' Value='True' />
							<Argument PropertyKey='LowCaseRateCommentPAI' Value='' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You have checked the box for item 5c. You must provide a comment.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem Type='Method'>
					<Action
							Object='ModulePage'
							Method='ValidateCSRNumberPatternsComment'>
					</Action>
					<Results>
						<Result
							ResultCode='3'
							Message='You must provide a comment as atleast one of the number patterns is "Yes"'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='OtherCsrNumberPatternsOther' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question 6c is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>

				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='CsrAnalysisConclusionID' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question 7 is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>

				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='CsrAnalysisComment' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question 8 is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
			</ValidationSection>

			<!-- Other Required Review Form-->
			<ValidationSection Key='OtherRequiredReview' DisplayName='Other Required Review' PageKey='OtherRequiredReview'>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='Claims' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question 3 is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>

				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='Conflicts1' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question 4 is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='LscFundingTermID' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Funding Term is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>

				<ValidationItem>
					<Requirement PropertyKey='LscOA1'>
						<Filters>
							<Argument PropertyKey='ChkIA' Value='True' />
							<Argument PropertyKey='ChkIC' Value='True' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Checkboxes A (On Site Capabilities Assessment) and C (Further review is not required) must not both be checked.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscOA1'>
						<Filters>
							<Argument PropertyKey='ChkIB' Value='True' />
							<Argument PropertyKey='ChkIC' Value='True' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Checkboxes B (Staff formal communications with applicant) and C (Further review is not required) must not both be checked.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscOA1'>
						<Filters>
							<Argument PropertyKey='ChkIA' Value='False' />
							<Argument PropertyKey='ChkIB' Value='False' />
							<Argument PropertyKey='ChkIC' Value='False' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='At least one of the three checkboxes in Section B must be checked.'
							MinCount='1'/>
					</Results>
				</ValidationItem>

				<ValidationItem>
					<Requirement PropertyKey='LscOA1'>
						<Filters>
							<Argument PropertyKey='StaffReaderPersonID' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='LSC Staff Reader is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscOA1'>
						<Filters>
							<Argument PropertyKey='StaffReaderDate' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='LSC Staff Reader date is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
			</ValidationSection>
			<!--End of New Form-->
			
			
		</Validation>
	</Module>
</EasyGrants>
