<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "ApplReview">
]>
<EasyGrants>
	<Outcomes ProgramKey='Application Review'
		  DefaultOutcomeKey='148'
		  DefaultOutcomeDescription='Application Review Submitted'
		PostSubmitModuleConfig='PPQVApplReviewModuleConfig'
		PostSubmitModuleName='ApplReview'
		ReportOutputRelatedProperty='WfProjectTask.WfProjectTaskPDF.FinalPDFReportKeyLink.ReportOutputDefinitionID'>
		<!-- APPLICATION REVIEW SUBMISSION -->
		<Outcome OutcomeKey='148' OutcomeDescription=' PPQV Application Review Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='68' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
			</Filters>
			<Events>
				<Event EventKey='6' Description='Application Review Submission Notification'/>
			</Events>
		</Outcome>
	</Outcomes>
</EasyGrants>