<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "ReviewStage">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "BioMedPanel">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>
<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		AvailableAfterSubmit'Indicates if this page is available after submission
		DisabledBeforeSubmit'Indicates if this page is disabled before submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants
-->
<EasyGrants>
	<Module UserClass='cEGWfTAUser' 
			PageContent='XML:Pages' 
			DefaultPageFrameKey='Option01'
			ModuleName='&ModuleName;' 
			ModuleConfig='&ModuleConfig;'
			DescriptiveName='BioMed - Panel Meeting'
			PageName='&PageName;'
			DefaultPageKey='PanelReview' 
			InvalidURL=''>
			
		<Class Name='cEGWfTAUser'
			Assembly='EasyGrants'
			FullName='EasyGrants.Web.User.cEGWfTAUser'
			CopyUser= 'cEGHomeUser'
			UniqueHashKey='_MedInitialReview' />
		<PageFrames>
			<PageFrame Key='Option01' PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx' />
			<PageFrame Key='Option02' PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx' />
			<PageFrame Key='Print' PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx' />
		</PageFrames>
		<Navigation Key='Reviewer'>
			<NavElement Key='ReturnHome' NavTitle='Home' Enabled='&NavElementEnabled;' EnabledAfterSubmit='True' />
			<NavElement Key='Sep1' NavTitle='(' />
			<NavElement Key='PanelReview' 
				NavTitle='Panel Review' 
				Enabled='&NavElementEnabled;' 
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=PanelReview'/>
			<NavElement Key='ViewAllApplicationsComments' 
				NavTitle='All Applications and Comments' 
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ViewAllApplicationsComments'/>
			<NavElement Key='Guide' 
				NavTitle='Guide for Panelists' 
				Enabled='&NavElementEnabled;' 
				EnabledAfterSubmit='True' 
				SourceFile='&ModuleRoot;/../PDF/2007 BioMed Guide for Reviewers.pdf' 
				Target='_blank' />
			<NavElement Key='Sep1' NavTitle='('/>
			<NavElement Key='Logout'
				NavTitle='Log Out'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
			<NavElement Key='Sep1' NavTitle='('/>
			<NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile=''/>
		</Navigation>
		<Pages>
			<Page Key='PanelReview' 
				NavKey='PanelReview' 
				PageTitle='Panel Review' 
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/BioMedPanel.ascx' />
			<Page Key='CommentsEditor' 
				NavKey='PanelReview' 
				PageTitle='Review Comments' 
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PanelReviewCommentsEditor.ascx' />
			<Page Key='ViewAllApplicationsComments' 
				NavKey='ViewAllApplicationsComments' 
				PageTitle='All Applications and Comments' 
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/BioMedPanelViewAllApplications.ascx' />
			<Page Key='UnattributedCommentsDetail' 
				NavKey='ViewAllApplicationsComments' 
				PageTitle='Unattributed Comments Detail' 
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/BioMedPanelUnattributedCommentsDetail.ascx' />
			<Page Key='Logout' 
				NavKey='Logout' 
				PageTitle='Logout Page' 
				ContentCtl='&CoreRoot;/Controls/Page/Logout_Content.ascx' />
		</Pages>
	</Module>
</EasyGrants>
