<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "ReviewStage">
]>
<EasyGrants>
  <Outcomes ProgramKey='' DefaultOutcomeKey='0' DefaultOutcomeDescription='No default outcome provided'>
    <!-- One outcome for all review tasks. -->
    <!-- The actual outcome is already set by the reviewer in WfTaskAssignmentReviews.ProposedOutcomeID -->
    <!-- We need this only to raise an event and/or create -->
    <!-- <Outcome OutcomeKey='-1' OutcomeDescription='Review Submited' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='6' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='9' />
			</Filters>
			
			<OutcomeValue>
				<Argument Type='DataObjectRelated' TypeKey='WfTaskAssignmentReviews.ProposedOutcomeID' />
			</OutcomeValue>	
			
			<Tasks></Tasks>
			<Events>
				<Event EventKey='9' Description='Reviewer Submission Email' />
			</Events>
		</Outcome> -->

    <!-- Reserach Outcomes -->
    <!-- Peer Review Outcome -->
    <Outcome OutcomeKey='27' OutcomeDescription='Peer Review Submited' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='19' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='9' />
      </Filters>

      <OutcomeValue></OutcomeValue>

      <Tasks></Tasks>
      <Events>
        <Event EventKey='22' Description='Peer Reviewer Submission Confirmation' />
      </Events>
    </Outcome>
    <!-- Panel Review Outcome -->
    <Outcome OutcomeKey='28' OutcomeDescription='Panel Review Submited' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='3' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='9' />
      </Filters>

      <OutcomeValue></OutcomeValue>

      <Tasks></Tasks>
      <Events>
        <Event EventKey='22' Description='Peer Reviewer Submission Confirmation' />
      </Events>
    </Outcome>
    <!-- Select Pref Outcome -->
    <Outcome OutcomeKey='29' OutcomeDescription='Select Pref Submited' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='20' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='9' />
      </Filters>

      <OutcomeValue></OutcomeValue>

      <Tasks></Tasks>
      <Events>
        <Event EventKey='22' Description='Peer Reviewer Submission Confirmation' />
      </Events>
    </Outcome>
    <!-- Chair Review Outcome -->
    <Outcome OutcomeKey='30' OutcomeDescription='Chair Review Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='22' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='9' />
      </Filters>

      <OutcomeValue></OutcomeValue>

      <Tasks></Tasks>
      <Events>
        <Event EventKey='22' Description='Peer Reviewer Submission Confirmation' />
      </Events>
    </Outcome>
    <!-- Pre-Award Submitted Outcome -->
    <Outcome OutcomeKey='39' OutcomeDescription='Pre Review Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='27' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='1' />
      </Filters>

      <OutcomeValue></OutcomeValue>

      <Tasks>
        <Task TaskKey='31' Description='Pre-Award Review' Status='1' NoPersonID='True' RoleID='7'/>
      </Tasks>
      <Events>
        <Event EventKey='25' Description='Pre-Review Submission Confirmation' />
      </Events>
    </Outcome>
    <!-- Animal Subjects Submitted Outcome -->
    <Outcome OutcomeKey='41' OutcomeDescription='Animal Subject Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='28' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='1' />
      </Filters>

      <OutcomeValue></OutcomeValue>

      <Tasks>
        <Task TaskKey='46' Description='Animal Subject Use Review' Status='1' NoPersonID='True' RoleID='7'/>
      </Tasks>
      <Events>
        <Event EventKey='25' Description='Pre-Review Submission Confirmation' />
      </Events>
    </Outcome>
  </Outcomes>
</EasyGrants>
