<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "ReviewStage">
  <!ENTITY PageName "ModuleContent.aspx">
  <!ENTITY ModuleConfig "ViewRankModuleConfig">
  <!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
  <!ENTITY NavElementEnabled "True">
]>

<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		EnabledAfterSubmit  'Indicates if navigation element is enabled after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants
-->

<EasyGrants>
  <Module UserClass='cEGWfTAUser'
		PageContent='XML:Pages'
		DefaultPageFrameKey='Option01'
		ModuleConfig = '&ModuleConfig;'
		PageName='&PageName;'
		DefaultPageKey='Main'
		InvalidURL=''>

    <Class Name='cEGWfTAUser'
			Assembly='EasyGrants'
			FullName='EasyGrants.Web.User.cEGWfTAUser'
			CopyUser= 'cEGHomeUser'
			UniqueHashKey='_ViewRank' />

    <PageFrames>
      <PageFrame Key='Option01'
				PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser02.ascx'/>
      <PageFrame Key='Option02'
				PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
      <PageFrame Key='Print'
				PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
    </PageFrames>

    <Navigation Key='ViewRank'>
      <NavElement Key='ReturnHome'
				NavTitle='Home'
				Enabled='&NavElementEnabled;'/>
      <NavElement Key='Sep1' NavTitle='('/>
      <NavElement Key='Main'
				NavTitle='Peer Review'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Main'/>
      <NavElement Key='ViewAllApplications'
				NavTitle='View All Applications'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ViewAllApplications'/>
      <!-- <NavElement Key='ViewScores'
				NavTitle='View Scores &amp; Critques'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ViewScores'/> -->
      <NavElement Key='Sep1' NavTitle='('/>
      <NavElement Key='Help'
				NavTitle='Help'
				Enabled='&NavElementEnabled;'/>
      <NavElement Key='Sep1' NavTitle='('/>
      <NavElement Key='Logout'
				NavTitle='Logout'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
      <NavElement Key='Sep1' NavTitle='('/>
      <NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile=''/>
    </Navigation>

    <Pages>
      <Page Key='Main'
				NavKey='Main'
				PageTitle='View Rank, Scores and Critiques'
				ContentCtl='&ModuleRoot;/&ModuleName;/PageContent/ViewRankMain.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/PageContent/PeerReviewSubmitted.ascx' />
      <Page Key='PeerReviewCritique'
				NavKey='Main'
				PageTitle='Review Critique'
				ContentCtl='&ModuleRoot;/&ModuleName;/PageContent/PeerReviewCritique.ascx' />
      <Page Key='ViewAllApplications'
				NavKey='ViewAllApplications'
				PageTitle='View All Applications'
				ContentCtl='&ModuleRoot;/&ModuleName;/PageContent/ViewAllApps.ascx' />
      <Page Key='ViewScores'
				NavKey='ViewScores'
				PageTitle='View Scores and Critiques'
				ContentCtl='&ModuleRoot;/&ModuleName;/PageContent/ViewScores.ascx' />
      <Page Key='ScoresCritiques'
				NavKey='ViewScores'
				PageTitle='View Scores and Critiques'
				ContentCtl='&ModuleRoot;/&ModuleName;/PageContent/ScoresAndCritiques.ascx' />
      <Page Key='Validation'
				NavKey='Validation'
				PageTitle='Validation'
				ContentCtl='&ModuleRoot;/&ModuleName;/PageContent/Validation.ascx' />
      <Page Key='Submission'
				NavKey='Submission'
				PageTitle='Submission'
				ContentCtl='&ModuleRoot;/&ModuleName;/PageContent/Submission.ascx' />
      <Page Key='Home'
				NavKey='Home'
				PageTitle='Home'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/HomeContent.ascx' />
      <Page Key='Logout'
				NavKey='Logout'
				PageTitle='Log Out'
				ContentCtl='&CoreRoot;/Controls/Page/Logout_Content.ascx' />

      <Page Key='AdditionalInfo'
				NavKey='Main'
				PageTitle='Additional Information'
				ContentCtl='EasyGrants/Controls/PageSection/AdditionalInfo.ascx' />
      <Page Key='RevAddInfoRevEditor'
				NavKey='Main'
				PageTitle='Additional Information Editor'
				ContentCtl='EasyGrants/Controls/PageSection/RevAddInfoRevEditor.ascx' />
    </Pages>

    <!-- <Validation>
			<ValidationHeader HeaderText='Scholars Grant Application PreScreen Review'>

				<ValidationSection Key='WfTaskAssignmentReview' DisplayName='Comments' PageKey='Main'>
					<ValidationItem>
						<Requirement PropertyKey='WfTaskAssignmentReviews' >
							<Filters>
								<Argument Type='Data' PropertyKey='ReviewStageID' Value='1' />
								<Argument Type='Data' PropertyKey='Comments' Value='' />
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3' 
								Message='You must provide a Comment.'
								MinCount='1'/>
						</Results>
					</ValidationItem>
				</ValidationSection>

				<ValidationSection Key='WfTaskAssignmentReview' DisplayName='Proposed Outcome' PageKey='Main'>
					<ValidationItem>
						<Requirement PropertyKey='WfTaskAssignmentReviews' >
							<Filters>
								<Argument Type='Data' PropertyKey='ReviewStageID' Value='1' />
								<Argument Type='Data' PropertyKey='ProposedOutcomeID' Value='' />
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3' 
								Message='You must provide a Proposed Outcome.'
								MinCount='1'/>
						</Results>
					</ValidationItem>
				</ValidationSection>

			</ValidationHeader>
		</Validation> -->
  </Module>
</EasyGrants>
