<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "ApplReview_OCEDir">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "ApplReviewModule_OCEDirConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>

<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		EnabledAfterSubmit  'Indicates if navigation element is enabled after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants

-->

<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		  PageContent='XML:Pages'
		  DefaultPageFrameKey='Option01'
		  ModuleName = '&ModuleName;'
		  DescriptiveName = 'Application Review - OCE Director'
		  ModuleConfig = '&ModuleConfig;'
		  PageName='&PageName;'
		  DefaultPageKey='OCEDirCompReview'
		  InvalidURL=''>

		<Class Name='cEGWfTAUser'
				Assembly='EasyGrants'
				FullName='EasyGrants.Web.User.cEGWfTAUser'
				CopyUser= 'cEGHomeUser'
				UniqueHashKey='_Appl' />

		<PageFrames>
			<PageFrame Key='Option01'
					  PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

		<!-- Configure Left navigation links -->
		<Navigation Key='Application'>
			<NavElement Key='StaffHome'
				NavTitle='Home'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;'
				SourceFile='&ModuleRoot;/Staff/ModuleContent.aspx?Config=ModuleConfig&amp;Page=Home'/>
			<NavElement Key='Sep2' NavTitle='('/>
			<NavElement Key='OCEDirCompReview'
			 NavTitle='Review'
			 Enabled='&NavElementEnabled;'
			 SourceFile='&DefaultSourceFileURL;&amp;Page=OCEDirCompReview'/>
			<NavElement Key='Submission'
			 NavTitle='Review and Submit'
			 Enabled='&NavElementEnabled;'
			 SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'/>
		</Navigation>

		<!-- Configure Web Page filename -->
		<Pages>
			<Page Key='Home'
				NavKey='Home'
				PageTitle='Home'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/HomeContent.ascx' />

			<Page Key='OCEDirCompReview'
				NavKey='OCEDirCompReview'
				PageTitle='Application Review - OCE Director'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/OCEDir_CompReview.ascx'
			    AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PostSubmission_Content.ascx'/>

			<Page Key='Submission'
				NavKey='Submission'
				PageTitle='Review and Submit'
			    ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReviewSubmit.ascx' />

			
		</Pages>

		<Validation>
			<ValidationSection Key='OCEDirCompReview' DisplayName='OCE Director Review' PageKey='OCEDirCompReview'>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='ComplianceIssues' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Significant Compliance Issues is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='ComplianceIssues' Value='True' />
							<Argument PropertyKey='ComplianceIssuesComment' Value=''/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You answered "Yes" to "Significant Compliance Issues"; you must provide a description.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='AuditIssues' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Significant Fiscal Issues is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='AuditIssues' Value='True' />
							<Argument PropertyKey='AuditIssuesComment' Value=''/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You answered "Yes" to "Significant Fiscal Issues"; you must provide a description.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<!--<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='ComplianceAuditIssues' Value='False' />
							<Argument PropertyKey='ComplianceAuditIssueComment' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You answered "No" to "Significant Compliance or Audit Issues"; you must remove the associated description.'
							MinCount='1'/>
					</Results>
				</ValidationItem>-->
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='SpecialGrant' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Special Grant Conditions Proposed is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='SpecialGrant' Value='True' />
							<Argument PropertyKey='SpecialGrantComment' Value='' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You answered "Yes" to "Special Grant Conditions Proposed"; you must provide a description.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='SpecialGrant' Value='False' />
							<Argument PropertyKey='SpecialGrantComment' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You answered "No" to "Special Grant Conditions Proposed"; you must remove the associated description.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='WfTaskOutcomeID' Value='161' >
								<RelatedProperty PropertyKey='WfTaskAssignment'/>
							</Argument>
							<Argument PropertyKey='SpecialGrant' Value='True'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Grant Award Recommendation is "Do Not Fund", so Special Grant Conditions must be answered "No".'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='WfTaskOutcome'>
						<Filters>
							<Argument PropertyKey='WfTaskOutcomeID' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Funding Recommendation is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscOA1'>
						<Filters>
							<Argument PropertyKey='StaffReaderPersonID' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='OCE Director field is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscOA1'>
						<Filters>
							<Argument PropertyKey='StaffReaderDate' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Review Date is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
			</ValidationSection>
			
		</Validation>
	</Module>
</EasyGrants>
