<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "RenewalReview_OCEDir">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "RenewalReviewModule_OCEDirConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>

<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		EnabledAfterSubmit  'Indicates if navigation element is enabled after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants

-->
<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		  PageContent='XML:Pages'
		  DefaultPageFrameKey='Option01'
		  ModuleName = '&ModuleName;'
		  DescriptiveName = 'Renewal Review - OCE Director'
		  ModuleConfig = '&ModuleConfig;'
		  PageName='&PageName;'
		  DefaultPageKey='OCEDirRenewReview'
		  InvalidURL=''>

		<Class Name='cEGWfTAUser'
			Assembly='EasyGrants'
			FullName='EasyGrants.Web.User.cEGWfTAUser'
			CopyUser= 'cEGHomeUser'
			UniqueHashKey='_RenewalReview' />

		<PageFrames>
			<PageFrame Key='Option01'
				PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
				PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
				PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

		<Navigation Key='Application'>
			<NavElement Key='StaffHome'
				NavTitle='Home'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;'
				SourceFile='&ModuleRoot;/Staff/ModuleContent.aspx?Config=ModuleConfig&amp;Page=Home'/>
			<NavElement Key='Sep2' NavTitle='('/>
			<NavElement Key='OCEDirRenewReview'
			 NavTitle='Review'
			 Enabled='&NavElementEnabled;'
			 SourceFile='&DefaultSourceFileURL;&amp;Page=OCEDirRenewReview'/>
			<NavElement Key='Submission'
			 NavTitle='Review and Submit'
			 Enabled='&NavElementEnabled;'
			 SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'/>
			
		</Navigation>

		<Pages>

			<Page Key='Home'
				NavKey='Home'
				PageTitle='Home'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/HomeContent.ascx' />

			<Page Key='OCEDirRenewReview'
				NavKey='OCEDirRenewReview'
				PageTitle='Renewal Review - OCE Director'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/OCEDir_RenewReview.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PostSubmission_Content.ascx'/>

			<Page Key='Submission'
				NavKey='Submission'
				PageTitle='Review and Submit'
			    ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReviewSubmit.ascx' />

		</Pages>

		<Validation>
			<ValidationSection Key='OCEDirRenewReview' DisplayName='OCE Director Renewal Review' PageKey='OCEDirRenewReview'>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='ComplianceIssues' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Significant Compliance Issues is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='AuditIssues' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Significant Audit Issues is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='ComplianceIssues' Value='True' />
							<Argument PropertyKey='ComplianceIssuesComment' Value=''/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You answered "Yes" to "Significant Compliance Issues"; you must provide a description.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='AuditIssues' Value='True' />
							<Argument PropertyKey='AuditIssuesComment' Value=''/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You answered "Yes" to "Significant Audit Issues"; you must provide a description.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<!--<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='ComplianceAuditIssues' Value='False' />
							<Argument PropertyKey='ComplianceAuditIssueComment' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You answered "No" to "Significant Compliance or Audit Issues"; you must remove the associated description.'
							MinCount='1'/>
					</Results>
				</ValidationItem>-->
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='YesNoSpecialGrantCond' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Special Grant Conditions Proposed is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='YesNoSpecialGrantCond' Value='True' />
							<Argument PropertyKey='SpecialGrantConditions' Value='' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You answered "Yes" to "Special Grant Conditions Proposed"; you must provide a description.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='YesNoSpecialGrantCond' Value='False' />
							<Argument PropertyKey='SpecialGrantConditions' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You answered "No" to "Special Grant Conditions Proposed"; you must remove the associated description.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='YesNoSpecialGrantCond' Value='True' />
							<Argument PropertyKey='LscRenewalRecommendationID' Value='2' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You answered "Yes" to "Special Grant Conditions Proposed"; Renewal Recommendation should be "Renew Grant with Special Conditions"'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='YesNoSpecialGrantCond' Value='False' />
							<Argument PropertyKey='LscRenewalRecommendationID' Value='2' Operator='Equal'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You answered "No" to "Special Grant Conditions Proposed"; Renewal Recommendation cannot be "Renew Grant with Special Conditions"'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='LscRenewalRecommendationID' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='OCE Grant Renewal Recommendation is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='PrimaryReaderPersonID' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='OCE Director field is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='PrimaryReaderDate' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Review Date is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
			</ValidationSection>
		</Validation>
		
	</Module>
</EasyGrants>
