<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "RenewalReview_OCEDir">
]>
<EasyGrants>
	<Outcomes ProgramKey='Renewal Review'
		PostSubmitModuleConfig='RenewalReviewModule_OCEDirConfig.config'
		PostSubmitModuleName="RenewalReview_OCEDir"
		ReportOutputRelatedProperty="WfProjectTask.WfProjectTaskPDF.FinalPDFReportKeyLink.ReportOutputDefinitionID">
	</Outcomes>
</EasyGrants>