<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "LOI">
  <!ENTITY PageName "ModuleContent.aspx">
  <!ENTITY ModuleConfig "LOIModuleConfig">
  <!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
  <!ENTITY NavElementEnabled "True">
]>

<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		EnabledAfterSubmit  'Indicates if navigation element is enabled after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants
-->

<EasyGrants>
  <Module UserClass='cEGWfTAUser'
		PageContent='XML:Pages'
		DefaultPageFrameKey='Option01'
		ModuleName = '&ModuleName;'
		DescriptiveName = 'Letter of Inquiry'
		ModuleConfig = '&ModuleConfig;'
		PageName='&PageName;'
		DefaultPageKey='Main'
		InvalidURL=''>

    <Class Name='cEGWfTAUser'
			Assembly='EasyGrants'
			FullName='EasyGrants.Web.User.cEGWfTAUser'
			CopyUser= 'cEGHomeUser'
			UniqueHashKey='_MRGLOI' />

    <PageFrames>
      <PageFrame Key='Option01'
				PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
      <PageFrame Key='Option02'
				PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
      <PageFrame Key='Print'
				PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
    </PageFrames>

    <Navigation Key='MRGLOI'>
      <NavElement Key='ReturnHome'
				NavTitle='Home'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;'/>
      <NavElement Key='Sep2' NavTitle='('/>
      <NavElement Key='Guidelines'
				NavTitle='Guidelines'
				Enabled='&NavElementEnabled;'
				External='True'
				Target='Blank'
				SourceFile='../../../Easygrants/PDF/GuidelinesPlaceholder.pdf'/>
      <NavElement Key='Sep2' NavTitle='('/>
      <NavElement Key='Main'
				NavTitle='Main'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Main'
				HelpFile='../../../Implementation/Modules/LOI/Help/LOI_Main.aspx'/>
      
      <NavElement Key='Organization'
				NavTitle='Contact Information'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Organization'
				HelpFile='../../../Implementation/Modules/LOI/Help/LOI_Organization.aspx'/>
     
      <NavElement Key='PrincipalInvestigator'
				NavTitle='Personnel'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=PrincipalInvestigator'
				HelpFile='../../../Implementation/Modules/LOI/Help/LOI_PrincipalInvest.aspx'/>
     
      <NavElement Key='ProjectInformation'
				NavTitle='Project Information'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ProjectInformation'
				HelpFile='../../../Implementation/Modules/LOI/Help/LOI_ProjectInfo.aspx'/>

      <NavElement Key='ProjectDemographics'
        NavTitle='Project Demographics'
        Enabled='&NavElementEnabled;'
        SourceFile='&DefaultSourceFileURL;&amp;Page=ProjectDemographics'
        HelpFile='../../../Implementation/Modules/LOI/Help/LOI_ProjectDemographics.aspx'/>

      <NavElement Key='Uploads'
				NavTitle='Uploads'
				Enabled='&NavElementEnabled;'
				HelpFile='../../../Implementation/Modules/LOI/Help/LOI_Uploads.aspx'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Uploads'>
       <!-- <NavElement Key='AdditionalUploads'
					NavTitle='Additional Uploads'
					Enabled='True'
					HelpFile='../../../Implementation/Modules/LOI/Help/LOI_Uploads.aspx'
					SourceFile='&DefaultSourceFileURL;&amp;Page=AdditionalUploads'/>-->
      </NavElement>
     
      <!--
			<NavElement Key='ReviewerInfo'
				NavTitle='Reviewer Information'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ReviewerInfo'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/LOI_ReviewerInfo.aspx'/>
			
      <NavElement Key='GeneratePDF'
				NavTitle='Letter of Inquiry Document'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=GeneratePDF'
				HelpFile='../../../Implementation/Modules/LOI/Help/LOI_Main.aspx'/>
      
      <NavElement Key='Validation'
				NavTitle='Validation'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Validation'
				HelpFile='../../../Implementation/Modules/LOI/Help/LOI_Validation.aspx'/>
     -->
      <NavElement Key='Submission'
				NavTitle='Review and Submit'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'
				HelpFile='../../../Implementation/Modules/LOI/Help/LOI_Submission.aspx'/>
      <NavElement Key='Sep3' NavTitle='('/>
      <NavElement Key='Help'
				NavTitle='Help'
				EnabledAfterSubmit='&NavElementEnabled;'
				External='True'
				Enabled='&NavElementEnabled;'/>
      <NavElement Key='Sep3' NavTitle='('/>
      <NavElement Key='Logout'
				NavTitle='Log Out'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
      <NavElement Key='Sep4' NavTitle='('/>
      <NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile=''/>
      <NavElement Key='Sep3' NavTitle='('/>

    </Navigation>

    <Pages>
      <Page Key='Main'
				NavKey='Main'
				PageTitle='Main'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/MainContent.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/LOISubmittedContent.ascx'/>
      <Page Key='Organization'
				NavKey='Organization'
				PageTitle='Contact Information'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/OrganizationContent.ascx' />
      <Page Key='PrincipalInvestigator'
				NavKey='PrincipalInvestigator'
				PageTitle='Personnel'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PrincipalContent.ascx' />
      <Page Key='GranteeProjectPIEditor'
				NavKey='PrincipalInvestigator'
				PageTitle='Principal Investigators Editor'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PrincipalEditorContent.ascx' />
      <Page Key='GranteeProjectCoPIEditor'
				NavKey='PrincipalInvestigator'
				PageTitle='Co-Principal Investigators Editor'
				ContentCtl='EasyGrants/Controls/PageSection/CoPrincipal_Editor.ascx' />
      <Page Key='CoPIList'
				NavKey='PrincipalInvestigator'
				PageTitle='Co-PI Matching Contacts'
				ContentCtl='EasyGrants/Controls/PageSection/CoPIList.ascx' />
      <Page Key='ProjectInformation'
				NavKey='ProjectInformation'
				PageTitle='Project Information'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ProjectContent.ascx' />
      <Page Key='ProjectDemographics'
        NavKey='ProjectDemographics'
        PageTitle='Project Demographics'
        ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ProjectDemographics.ascx' />
      <Page Key='Uploads'
				NavKey='Uploads'
				PageTitle='Uploads'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/UploadsContent.ascx' />
	  <Page Key='UploadEditor'
				  NavKey='Uploads'
				  PageTitle='Uploads'
				  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/UploadEditorContent.ascx' />
      <Page Key='AdditionalUploads'
				NavKey='AdditionalUploads'
				PageTitle='Additional Uploads'
				ContentCtl='&ModuleRoot;/Application/Controls/Page/AdditionalUploadsContent.ascx' />
      <Page Key='AdditionalUploadsEditor'
				NavKey='AdditionalUploads'
				PageTitle='Additional Uploads Editor'
				ContentCtl='&ModuleRoot;/Application/Controls/PageSection/AdditionalUploadsEditor.ascx' />
      <Page Key='ReviewerInfo'
				NavKey='ReviewerInfo'
				PageTitle='Reviewer Information'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReviewContent.ascx' />
      <Page Key='RevAddInfoAppEditor'
				NavKey='ReviewerInfo'
				PageTitle='Additional Information Editor'
				ContentCtl='EasyGrants/Controls/PageSection/RevAddInfoAppEditor.ascx' />
      <Page Key='GeneratePDF'
				NavKey='GeneratePDF'
				PageTitle='Letter of Inquiry Document'
				ContentCtl='Easygrants/Controls/PageSection/GeneratePDF.ascx' />
      <Page Key='Validation'
				NavKey='Validation'
				PageTitle='Validation'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ValidateContent.ascx' />
      <Page Key='Submission'
				NavKey='Submission'
				PageTitle='Submission'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReviewSubmission.ascx' />
      <Page Key='AddressEditor'
        NavKey='AddressEditor'
        PageTitle='Address Editor'
        ContentCtl='EasyGrants/Controls/PageSection/AddressEditor.ascx' />
      <Page Key='PhoneEditor'
       NavKey='PhoneEditor'
       PageTitle='Phone Editor'
       ContentCtl='EasyGrants/Controls/PageSection/PhoneEditor.ascx' />
      <Page Key='EmailEditor'
        NavKey='EmailEditor'
        PageTitle='Email Editor'
        ContentCtl='EasyGrants/Controls/PageSection/EmailEditor.ascx' />
      <Page Key='Home'
				NavKey='Home'
				PageTitle='Home'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/HomeContent.ascx' />
      <Page Key='Logout'
				NavKey='Logout'
				PageTitle='Log Out'
				ContentCtl='&CoreRoot;/Controls/Page/Logout_Content.ascx' />

    </Pages>

    <Validation>
      <ValidationHeader HeaderText='Letter of Inquiry'>

        <!-- Organization/ Contact Information -->
        <ValidationSection Key='Organization' DisplayName='Contact Information' PageKey='Organization'>

          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.PrimaryPerson'>
              <Filters>
                <Argument PropertyKey='Prefix' Value=''/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='3'
								Message='You must provide a Prefix.'
								MinCount='1'/>
              <Result
								ResultCode='1'
								Message='Prefix was provided.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.PrimaryPerson'>
              <Filters>
                <Argument PropertyKey='FirstName' Value=''/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='3'
								Message='You must provide a First Name.'
								MinCount='1'/>
              <Result
								ResultCode='1'
								Message='First Name was provided.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.PrimaryPerson'>
              <Filters>
                <Argument PropertyKey='LastName' Value=''/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='3'
								Message='You must provide a Last Name.'
								MinCount='1'/>
              <Result
								ResultCode='1'
								Message='Last Name was provided.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='GranteeProject' >
              <Filters>
                <Argument PropertyKey='PrimaryOrganizationID' Value=''/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='3'
								Message='Organization was not entered.'
								MinCount='1'/>
              <Result
								ResultCode='1'
								Message='Organization was entered.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.PrimaryPerson.PrimaryAddress' >
              <Filters>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='3'
								Message='Primary address was not entered.'
								MaxCount='0'/>
              <Result
								ResultCode='1'
								Message='Primary address was entered.'
								MinCount='1'/>
            </Results>
          </ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.PrimaryPerson.PersonPrimaryPhone'>
              <Filters>
              </Filters>
            </Requirement>
            <Results>
              <Result
              ResultCode='3'
              Message='Primary phone is required.'
              MaxCount='0'/>
              <Result
              ResultCode='1'
              Message='Primary phone was entered.'
              MinCount='1'/>
            </Results>
          </ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.PrimaryPerson.PersonPrimaryEMail'>
              <Filters>
              </Filters>
            </Requirement>
            <Results>
              <Result
              ResultCode='3'
              Message='Primary e-mail address is required.'
              MaxCount='0'/>
              <Result
              ResultCode='1'
              Message='Primary e-mail address was entered.'
              MinCount='1'/>
            </Results>
          </ValidationItem>

          <!--
					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.PrimaryPerson.PrimaryAddress'>
							<Filters>
								<Argument PropertyKey='AddressTypeID' Value=''/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3' 
								Message='You must provide an Address Type.'
								MinCount='1'/>
							<Result
								ResultCode='1' 
								Message='Address Type was provided.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>

					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.PrimaryPerson.PrimaryAddress'>
							<Filters>
								<Argument PropertyKey='Address1' Value=''/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3' 
								Message='You must provide a Street Line 1.'
								MinCount='1'/>
							<Result
								ResultCode='1' 
								Message='Street Line 1 was provided.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>

					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.PrimaryPerson.PrimaryAddress'>
							<Filters>
								<Argument PropertyKey='City' Value=''/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3' 
								Message='You must provide a City.'
								MinCount='1'/>
							<Result
								ResultCode='1' 
								Message='City was provided.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>

					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.PrimaryPerson.PrimaryAddress'>
							<Filters>
								<Argument PropertyKey='StateID' Value=''/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3' 
								Message='You must provide a State.'
								MinCount='1'/>
							<Result
								ResultCode='1' 
								Message='State was provided.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>

					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.PrimaryPerson.PrimaryAddress'>
							<Filters>
								<Argument PropertyKey='Zip' Value=''/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3' 
								Message='You must provide a Zip.'
								MinCount='1'/>
							<Result
								ResultCode='1' 
								Message='Zip was provided.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>

					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.PrimaryPerson.PrimaryAddress'>
							<Filters>
								<Argument PropertyKey='CountryID' Value=''/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3' 
								Message='You must provide a Country.'
								MinCount='1'/>
							<Result
								ResultCode='1' 
								Message='Country was provided.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>

					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.PrimaryPerson.PersonPrimaryPhone'>
							<Filters>
								<Argument PropertyKey='PhoneTypeID' Value=''/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3' 
								Message='You must provide a Phone Type.'
								MinCount='1'/>
							<Result
								ResultCode='1' 
								Message='Phone Type was provided.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>

					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.PrimaryPerson.PersonPrimaryPhone'>
							<Filters>
								<Argument PropertyKey='ContactValue1' Value=''/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3' 
								Message='You must provide a Phone Number.'
								MinCount='1'/>
							<Result
								ResultCode='1' 
								Message='Phone Number was provided.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>

					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.PrimaryPerson.PersonPrimaryEMail'>
							<Filters>
								<Argument PropertyKey='EmailTypeID' Value=''/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3' 
								Message='You must provide an Email Type.'
								MinCount='1'/>
							<Result
								ResultCode='1' 
								Message='Email Type was provided.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>

					-->

        </ValidationSection>


        <!-- PrincipalInvestigator -->
        <ValidationSection Key='PrincipalInvestigator' DisplayName='Personnel' PageKey='PrincipalInvestigator'>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='GranteeAffiliationTypeID' Value='5' />
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='3' MaxCount='0'
								Message='You must add a Personnel contact with Contracts/Aggreements Contact role type.'
								/>
              <Result
								ResultCode='1' MinCount='1'
								Message='Personnel contact with Contracts/Agreements Contact role type was added.'
								/>
            </Results>
          </ValidationItem>


          <!--<ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='1'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Principal Investigators were entered.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Principal Investigator was not entered.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='2'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='2'
								Message='Co-Principal Investigator was not entered.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>-->
          
        </ValidationSection>

        <!-- ProjectInformation -->
        <ValidationSection Key='ProjectInfo' DisplayName='Project Information' PageKey='ProjectInformation'>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject' >
              <Filters>
                <Argument PropertyKey='GrantTitle' Value=''/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='3'
								Message='Title was not entered.'
								MinCount='1'/>
              <Result
								ResultCode='1'
								Message='Title was entered.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectInfo' >
              <Filters>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Brief Description was entered.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Brief Description was not entered.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectInfo' >
              <Filters>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Project Start Date was entered.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Project Start Date was not entered.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectInfo' >
              <Filters>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Project End Date was entered.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Project End Date was not entered.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectInfo' >
              <Filters>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Grant Request Amount was entered.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Grant Request Amount was not entered.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>

          <!--<ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectInfo.PersonFields' >
              <Filters>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message="Discipline of Principal Investigator's Most Advanced Degree was entered."
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message="Discipline of Principal Investigator's Most Advanced Degree was not entered."
								MaxCount='0'/>
            </Results>
          </ValidationItem>-->

          <!--<ValidationItem Type='Method'>
            <Action
							Object='ModulePage'
							Method='ValidateProjectDemographics'>
            </Action>
            <Results>
              <Result
								ResultCode='1'
								Message='Project Demographics were entered.'/>
              <Result
								ResultCode='3'
								Message='Project Demographics were not entered.'/>
            </Results>
          </ValidationItem>-->

        </ValidationSection>
        <!-- ProjectDemographics -->
        <ValidationSection Key='ProjectDemograph' DisplayName='Project Demographics' PageKey='ProjectDemographics'>
          <!--<ValidationItem>
            <Requirement PropertyKey='GranteeProjectInfo' >
              <Filters>
                <Argument PropertyKey='AgeBegin' Value='' Operator='NotEqual'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message="Begin age of study participants was entered."
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message="Begin age of study participants was not entered."
								MaxCount='0'/>
            </Results>
          </ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='GranteeProjectInfo' >
              <Filters>
                <Argument PropertyKey='AgeEnd' Value='' Operator='NotEqual'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message="End age of study participants was entered."
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message="End age of study participants was not entered."
								MaxCount='0'/>
            </Results>
          </ValidationItem>-->

          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjGenders' >
              <Filters>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message="Gender was selected."
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message="Gender was not selected."
								MaxCount='0'/>
            </Results>
          </ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjRace' >
              <Filters>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message="Race/Ethnicity was selected."
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message="Race/Ethnicity was not selected."
								MaxCount='0'/>
            </Results>
          </ValidationItem>


          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjIncome' >
              <Filters>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message="Income was selected."
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message="Income was not selected."
								MaxCount='0'/>
            </Results>
          </ValidationItem>


          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjLocale' >
              <Filters>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message="Locale was selected."
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message="Locale was not selected."
								MaxCount='0'/>
            </Results>
          </ValidationItem>

        </ValidationSection>

        <!-- Budget -->
        <!--
				<ValidationSection Key='Budget' DisplayName='Budget' PageKey='Budget'>
					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.Budget.BudgetPeriods.BudgetItems' >
							<Filters>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='1' 
								Message='Budget was entered.'
								MinCount='1'/>
							<Result
								ResultCode='3' 
								Message='Budget was not entered.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
				</ValidationSection>
				-->

        <!-- Uploads -->
        <ValidationSection Key='Uploads' DisplayName='Uploads' PageKey='Uploads'>
          <!--<ValidationItem>
            <Requirement PropertyKey='SubmittedFile'>
              <Filters>
                <Argument PropertyKey='FileTypeID' Value='42'/>
                <Argument PropertyKey='ConversionStatus' Value='-1'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Letter of Inquiry was uploaded.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Letter of Inquiry was not uploaded or file conversion was not successful.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='SubmittedFile'>
              <Filters>
                <Argument PropertyKey='FileTypeID' Value='43'/>
                <Argument PropertyKey='ConversionStatus' Value='-1'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='One page Curricula Vitae were uploaded.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='One-page Curricula Vitae were not uploaded or file conversion was not successful.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>-->
        </ValidationSection>

        <!-- FinalPDF -->
      <!--  <ValidationSection Key='Letter of Inquiry Generation' DisplayName='Letter of Inquiry Document' PageKey='GeneratePDF'>
          <ValidationItem>
            <Requirement PropertyKey='ReportOutput'>
              <Filters>
                <Argument PropertyKey='DefinitionID' Value='35'/>
                <Argument PropertyKey='GenStatus' Value='-1'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Letter of Inquiry Document was generated.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Letter of Inquiry Document was not generated.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>
        </ValidationSection>-->

      </ValidationHeader>
    </Validation>
  </Module>
</EasyGrants>