<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "LOI">
]>
<EasyGrants>
  <Outcomes ProgramKey='Program 2'
		DefaultOutcomeKey='1'
		DefaultOutcomeDescription='Letter of Inquiry Submitted'>
    <!-- LOI SUBMISSION -->
    <Outcome OutcomeKey='103' OutcomeDescription='Letter of Inquiry Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='54' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
      </Filters>
      <Tasks>
        <Task TaskKey='56' Description='Letter of Inquiry Review Cycle 1' Status='1' RoleID='16' NoPersonID='True'/>
      </Tasks>
      <Events>
        <Event EventKey='1' Description='Letter of Inquiry Submission'/>
      </Events>
    </Outcome>

  </Outcomes>


</EasyGrants>