<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "Login">
  <!ENTITY PageName "LoginModuleContent.aspx">
  <!ENTITY ModuleConfig "LoginModuleConfig">
  <!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
  <!ENTITY NavElementEnabled "False">
]>

<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		AvailableAfterSubmit'Indicates if this page is available after submission
		Target				'Target for page (i.e., _blank)
-->

<EasyGrants>
  <Module UserClass='cEGPublicUser'
		PageContent='XML:Pages'
		DefaultPageFrameKey='Option01'
		ModuleName = '&ModuleName;'
		DescriptiveName='Easygrants Login'
		ModuleConfig = '&ModuleConfig;'
		CompetitionHeader='Easygrants/Controls/Base/CompetitionHeaderLogin.ascx'
		ModuleHeader='&ModuleRoot;/&ModuleName;/Controls/Header/LoginModuleHeader.ascx'
		DefaultPageKey = 'Login'
		InvalidURL=''>

    <Class Name='cEGPublicUser'
			Assembly='EasyGrants'
			FullName='EasyGrants.Web.User.cEGPublicUser'/>

    <PageFrames>
      <PageFrame Key='Option01'
				PageFrameCtl='Easygrants/Controls/PageFrame/LoginTemplate.ascx'/>
      <PageFrame Key='Option02'
				PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
      <PageFrame Key='Print'
				PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
    </PageFrames>

    <Navigation Key='Login'>
      <NavElement Key='Login'
				NavTitle='Login'
				Enabled='&NavElementEnabled;'
				HelpFile='../../../Implementation/Modules/LOI/Help/index.html?logging_in.htm'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Login'/>
      <NavElement Key='Sep1' NavTitle='('/>
      <NavElement Key='Help'
				NavTitle='Help'
				Enabled='&NavElementEnabled;'
				External='True'
				SourceFile='http://www.wtgrantfoundation.org'/>
      <NavElement Key='Sep1' NavTitle='('/>
      <NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
    </Navigation>

    <Pages>
      <Page Key='Login'
				NavKey='Login'
				PageTitle='LSC Grants Login'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Login_Content.ascx' />
      <Page Key='LoginTest'
				NavKey='Login'
				PageTitle='LSC Grants Login'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/LoginTest_Content.ascx' />
      <Page Key='Registration'
				NavKey='Login'
				PageTitle='LSC Grants Registration'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Registration.ascx' />
      <Page Key='ForgotLogin'
				NavKey='Login'
				PageTitle='LSC Grants Password Retrieval'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ForgotLogin_Content.ascx' />
      <Page Key='LoginInfoSent'
				NavKey='Login'
				PageTitle='LSC Grants Login Information Sent'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/LoginInfoSent_Content.ascx' />
      <Page Key='LoginInfoNotSent'
				NavKey='Login'
				PageTitle='LSC Grants Login Information Not Sent'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/LoginInfoNotSent_Content.ascx' />
      <Page Key='ChangePassword'
				NavKey='Login'
				PageTitle='LSC Grants Change Password'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ChangePasswordContent.ascx' />
      <Page Key='LSCRecipientInformation'
				NavKey='Login'
				PageTitle='LSC Recipient Information'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/LSCRecipientInfo.ascx' />
      <Page Key='LSCApplicantInformation'
				NavKey='Login'
				PageTitle='LSC Applicant Information'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/LSCApplicantInfo.ascx' />
      <Page Key='NICSubmissionInstructions'
				NavKey='Login'
				PageTitle='Notice of Intent to Compete (NIC) Instructions'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/NICSubmissionInstructions.ascx' />
      <Page Key='GrantApplicationInstructions'
				NavKey='Login'
				PageTitle='Grant Application Instructions'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/GrantApplicationInstructions.ascx' />
	  <Page Key='LSCApplicantBulletinBoard'
				NavKey='Login'
				PageTitle='LSC Applicant Information System Bulletin Board'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/LSCApplicantBulletinBoard.ascx' />
	  <Page Key='ArchivedFiles'
				NavKey='Login'
				PageTitle='LSC Grants Archived Files'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ArchivedFiles.ascx' />
	  <Page Key='RFPAppendices2009'
				NavKey='Login'
				PageTitle='FY 2009 Request For Proposals - Appendices'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/RFPAppendices2009.ascx' />
	  <Page Key='RFPAppendices2010'
				NavKey='Login'
				PageTitle='FY 2010 Request For Proposals - Appendices'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/RFPAppendices2010.ascx' />				
	  <Page Key='LSCGrantsFAQ'
				NavKey='Login'
				PageTitle='LSC Grants FAQ'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/LSCGrantsFAQ.ascx' />  
	  <Page Key='BulletinBoardAnnouncements'
				NavKey='Login'
				PageTitle='LSC Recipient Information Bulletin Board Announcements'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/BulletinBoardAnnouncements.ascx' />	
	  <Page Key='ProgramInformation'
				NavKey='Login'
				PageTitle='LSC Recipient Information Bulletin Board Program Information'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ProgramInfo.ascx' />				
	  <Page Key='StaffContacts'
				NavKey='Login'
				PageTitle='LSC Recipient Information Bulletin Board Staff Contacts'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/StaffContacts.ascx' />				
	  <Page Key='ImportantReportingDates'
				NavKey='Login'
				PageTitle='LSC Recipient Information Bulletin Board Important Reporting Dates'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ImportantReportingDates.ascx' />				
	  <Page Key='Archives'
				NavKey='Login'
				PageTitle='LSC Recipient Information Bulletin Board Archives'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Archives.ascx' />			
	  <Page Key='ProgramLetters'
				NavKey='Login'
				PageTitle='LSC Recipient Information Program Letters'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ProgramLetters.ascx' />			
	  <Page Key='ObsoleteProgramLetters'
				NavKey='Login'
				PageTitle='LSC Recipient Information Obsolete and Superseded Program Letters'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ObsoleteProgramLetters.ascx' />
	  <Page Key='ProgramLettersIndex'
				  NavKey='Login'
				  PageTitle='LSC Recipient Information Program Letters Index'
				  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ProgramLettersIndex.ascx' />
	  <Page Key='AppendixE'
				NavKey='Login'
				PageTitle='Appendix E'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/AppendixE.ascx' />			
	  <Page Key='NameChangeOfMatters'
				NavKey='Login'
				PageTitle='Name Change of Matters Service Report to Other Services Report'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/NameChangeOfMatters.ascx' />			 
	  <Page Key='LSCLogo'
				NavKey='Login'
				PageTitle='LSC Logo'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/LSCLogo.ascx' />							
	  <Page Key='OPPStaff'
				NavKey='Login'
				PageTitle='Office of Program Performance (OPP) Staff Contacts'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/OPPStaff.ascx' />						
	  <Page Key='OPPProgramContactPersons'
				NavKey='Login'
				PageTitle='Office of Program Performance (OPP) Program Contacts'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/OPPProgramContactPersons.ascx' />						
	  <Page Key='OCEStaff'
				NavKey='Login'
				PageTitle='Office of Compliance and Enforcement (OCE) Staff Contacts'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/OCEStaff.ascx' />				
	  <Page Key='OIMStaff'
				NavKey='Login'
				PageTitle='Office of Information Management (OIM) Staff Contacts'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/OIMStaff.ascx' />
	  <Page Key='GARInstructionsSummary' 
				 NavKey='Login'
				 PageTitle='GAR Instructions Summary - Year-End Forms'
				 ContentCtl='&ModuleRoot;/Home/Controls/Page/InstructionsSummary.ascx' />
	  <Page Key='GARInstructionsSummaryInterim' 
				 NavKey='Login'
				 PageTitle='GAR Instructions Summary - Interim Forms'
				 ContentCtl='&ModuleRoot;/Home/Controls/Page/InstructionsSummaryInterim.ascx' />
	<Page Key='RFPAppendices2011'
					NavKey='Login'
					PageTitle='FY 2011 Request For Proposals - Appendices'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/RFPAppendices2011.ascx' />
	<Page Key='RFPAppendices2012'
					NavKey='Login'
					PageTitle='FY 2012 Request For Proposals - Appendices'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/RFPAppendices2012.ascx' />
	<Page Key='AISVideos'
					NavKey='Login'
					PageTitle='2012 Applicant Informational Sessions'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/AISVideos.ascx' />


		<!--  -->
    </Pages>
  </Module>
</EasyGrants>