<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "Profile">
  <!ENTITY PageName "ProfileModuleContent.aspx">
  <!ENTITY ModuleConfig "StaffProfileModuleConfig">
  <!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
  <!ENTITY NavElementEnabled "True">
]>

<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		AvailableAfterSubmit'Indicates if this page is available after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants
-->

<EasyGrants>
  <Module UserClass='cEGHomeUser'
		PageContent='XML:Pages'
		DefaultPageFrameKey='Option01'
		ModuleName = '&ModuleName;'
		DescriptiveName='Easygrants User Profile'
		ModuleConfig = '&ModuleConfig;'
		DefaultPageKey='Contact'
		InvalidURL=''>

    <Class Name='cEGHomeUser'
			Assembly='EasyGrants'
			FullName='EasyGrants.Web.User.cEGHomeUser'
			CopyUser= 'cEGHomeUser_Staff'
			UniqueHashKey='_Staff'/>

    <PageFrames>
      <PageFrame Key='Option01'
				PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
      <PageFrame Key='Option02'
				PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
      <PageFrame Key='Print'
				PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
    </PageFrames>

    <Navigation Key='Profile'>
      <NavElement Key='Contact'
				NavTitle='Contact'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Contact'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Home_Main.aspx'>
      </NavElement>
      <NavElement Key='Attachments'
				NavTitle='Attachments'
				Enabled='&NavElementEnabled;'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Home_Main.aspx'
				SourceFile='&DefaultSourceFileURL;&amp;Page=DocumentList'>
      </NavElement>
      <NavElement Key='Sep2' NavTitle='('/>
      <NavElement Key='Help'
				NavTitle='Help'
				Enabled='&NavElementEnabled;'/>
      <NavElement Key='Sep3' NavTitle='('/>
      <NavElement Key='ReturnHome'
				NavTitle='Home'
				Enabled='&NavElementEnabled;'/>
      <NavElement Key='Logout'
				NavTitle='Logout'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
      <NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile=''/>
    </Navigation>

    <Pages>
      <Page Key='Contact'
				NavKey='Contact'
				PageTitle='Contact Information'
				ContentCtl='&ModuleRoot;/Profile/Controls/Page/Contact_Content.ascx' >
      </Page>
      <Page Key='AddressEditor'
				NavKey='Contact'
				PageTitle='Address Editor'
				ContentCtl='&ModuleRoot;/Profile/Controls/Page/AddressEditor_Content.ascx' />
      <Page Key='PhoneEditor'
				NavKey='Contact'
				PageTitle='Phone Editor'
				ContentCtl='&ModuleRoot;/Profile/Controls/Page/PhoneEditor_Content.ascx' />
      <Page Key='EmailEditor'
				NavKey='Contact'
				PageTitle='Email Editor'
				ContentCtl='&ModuleRoot;/Profile/Controls/Page/EmailEditor_Content.ascx' />
      <Page Key='WebAddressEditor'
				NavKey='Contact'
				PageTitle='Web Address Editor'
				ContentCtl='&ModuleRoot;/Profile/Controls/Page/WebAddressEditor_Content.ascx' />
      <Page Key='PersonOrgAffiliation'
				NavKey='Contact'
				PageTitle='~~Organization~~ Affiliation Editor'
				ContentCtl='&ModuleRoot;/Profile/Controls/Page/PersOrgAffiliationEditor_Content.ascx' />

      <Page Key='DocumentList'
				NavKey='Attachments'
				PageTitle='Attachments'
				ContentCtl='&ModuleRoot;/Profile/Controls/Page/DocumentList_Content.ascx' >
      </Page>
      <Page Key='DocumentEditor'
				NavKey='Attachments'
				PageTitle='Document Editor'
				ContentCtl='Implementation/Modules/Profile/Controls/Page/DocumentEditor_Content.ascx' />

      <Page Key='Logout'
				NavKey='Logout'
				PageTitle='Log Out'
				ContentCtl='&CoreRoot;/Controls/Page/Logout_Content.ascx' />
    </Pages>
  </Module>
</EasyGrants>