<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "Review">
]>
<EasyGrants>
  <Outcomes ProgramKey='Program 2'
		DefaultOutcomeKey='1'
		DefaultOutcomeDescription='Internal Review'>
    <!-- Rebate Request SUBMISSION -->
    <Outcome OutcomeKey='112' OutcomeDescription='Internal review Accepted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='56' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
		<Argument PropertyKey='SelectedOutcomeID' Value='15' />
      </Filters>
      <Tasks>
        <Task TaskKey='55' Description='Task' Status='1' RoleID='1' PersonID='GranteeProject.PrimaryPersonID'/>
      </Tasks>
      <Events>
      </Events>
    </Outcome>

	  <Outcome OutcomeKey='109' OutcomeDescription='Internal review Declined' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
		  <Filters>
			  <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='56' />
			  <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
			  <Argument PropertyKey='SelectedOutcomeID' Value='16' />
		  </Filters>
		  <Tasks>
		  </Tasks>
		  <Events>
		  </Events>
	  </Outcome>

  </Outcomes>


</EasyGrants>