<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "SubmitReport">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "SubmitProgressReportModuleConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>

<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		PageContent='XML:Pages'
		DefaultPageFrameKey='Option01'
		ModuleName = '&ModuleName;'
		ModuleConfig = '&ModuleConfig;'
		PageName='&PageName;'
		DefaultPageKey='Main'
		InvalidURL=''
		DescriptiveName='Submit Progress Report'>

		<Class Name='cEGWfTAUser'
			Assembly='EasyGrants'
			FullName='EasyGrants.Web.User.cEGWfTAUser'
			CopyUser= 'cEGHomeUser'
			UniqueHashKey='_ECAppl' />

		<PageFrames>
			<PageFrame Key='Option01'
				PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
				PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
				PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

		<AdminNavigation>
			<NavElement Key='Administration'/>
		</AdminNavigation>

		<Navigation Key='SubmitProgressReport'>
			<NavElement Key='ReturnHome'
				NavTitle='Home'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'/>
			<NavElement Key='Sep1' NavTitle='('/>
			<NavElement Key='Main'
				NavTitle='Main'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Main'
				HelpFile='Easygrants_v4_BMGF_r1/Docs/GrantViewHelpReportSubmission.pdf'/>
			<NavElement Key='Narrative'
				NavTitle='Progress Report Narrative'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Narrative'
				HelpFile='Easygrants_v4_BMGF_r1/Docs/GrantViewHelpReportSubmission.pdf'
				SubmissionSection='True'>
				<PersonRole Key='8' Description='Grantee_PS'/>
				<PersonRole Key='14' Description='Grantee_CS'/>
				<PersonRole Key='16' Description='Grantee_ER_PS'/>
				<PersonRole Key='17' Description='Grantee_ER_CS'/>
				<PersonRole Key='19' Description='Grantee_ER_OC_PS'/>
				<PersonRole Key='20' Description='Grantee_ER_OC_CS'/>
			</NavElement>
			<NavElement Key='Timeline'
				NavTitle='Updated Project Timeline'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Timeline'
				HelpFile='Easygrants_v4_BMGF_r1/Docs/GrantViewHelpReportSubmission.pdf'
				SubmissionSection='True'>
				<PersonRole Key='8' Description='Grantee_PS'/>
				<PersonRole Key='14' Description='Grantee_CS'/>
				<PersonRole Key='16' Description='Grantee_ER_PS'/>
				<PersonRole Key='17' Description='Grantee_ER_CS'/>
				<PersonRole Key='19' Description='Grantee_ER_OC_PS'/>
				<PersonRole Key='20' Description='Grantee_ER_OC_CS'/>
			</NavElement>
			<NavElement Key='Expenses_BR'
				NavTitle='Expenses &amp; Budget Report'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Expenses_BR'
				HelpFile='Easygrants_v4_BMGF_r1/Docs/GrantViewHelpReportSubmission.pdf'
				SubmissionSection='True'>
				<PersonRole Key='8' Description='Grantee_PS'/>
				<PersonRole Key='14' Description='Grantee_CS'/>
				<PersonRole Key='16' Description='Grantee_ER_PS'/>
				<PersonRole Key='17' Description='Grantee_ER_CS'/>
				<PersonRole Key='19' Description='Grantee_ER_OC_PS'/>
				<PersonRole Key='20' Description='Grantee_ER_OC_CS'/>
			</NavElement>
			<NavElement Key='School_Budget'
				NavTitle='Updated School(s) Budget'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Expenses_BR'
				HelpFile='Easygrants_v4_BMGF_r1/Docs/GrantViewHelpReportSubmission.pdf'
				SubmissionSection='True'>
				<PersonRole Key='8' Description='Grantee_PS'/>
				<PersonRole Key='14' Description='Grantee_CS'/>
				<PersonRole Key='16' Description='Grantee_ER_PS'/>
				<PersonRole Key='17' Description='Grantee_ER_CS'/>
				<PersonRole Key='19' Description='Grantee_ER_OC_PS'/>
				<PersonRole Key='20' Description='Grantee_ER_OC_CS'/>
			</NavElement>
			<NavElement Key='School_Data'
				NavTitle='Updated School(s) Data'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Expenses_BR'
				HelpFile='Easygrants_v4_BMGF_r1/Docs/GrantViewHelpReportSubmission.pdf'
				SubmissionSection='True'>
				<PersonRole Key='8' Description='Grantee_PS'/>
				<PersonRole Key='14' Description='Grantee_CS'/>
				<PersonRole Key='16' Description='Grantee_ER_PS'/>
				<PersonRole Key='17' Description='Grantee_ER_CS'/>
				<PersonRole Key='19' Description='Grantee_ER_OC_PS'/>
				<PersonRole Key='20' Description='Grantee_ER_OC_CS'/>
			</NavElement>
			<NavElement Key='RecentFinancial'
				NavTitle='More Recent Financial Statements'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=RecentFinancial'
				HelpFile='Easygrants_v4_BMGF_r1/Docs/GrantViewHelpReportSubmission.pdf'
				SubmissionSection='True'>
				<PersonRole Key='8' Description='Grantee_PS'/>
				<PersonRole Key='15' Description='Grantee_GOS'/>
				<PersonRole Key='18' Description='Grantee_ER_OC_GOS'/>
				<PersonRole Key='21' Description='Grantee_ER_OC_GOS'/>
			</NavElement>
			<NavElement Key='ExpResReport'
				NavTitle='Annual Expenditure Responsibility Report'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ExpResReport'
				HelpFile='Easygrants_v4_BMGF_r1/Docs/GrantViewHelpReportSubmission.pdf'
				SubmissionSection='True'>
				<PersonRole Key='8' Description='Grantee_PS'/>
				<PersonRole Key='16' Description='Grantee_ER_PS'/>
				<PersonRole Key='17' Description='Grantee_ER_CS'/>
				<PersonRole Key='18' Description='Grantee_ER_GOS'/>
				<PersonRole Key='19' Description='Grantee_ER_OC_PS'/>
				<PersonRole Key='20' Description='Grantee_ER_OC_CS'/>
				<PersonRole Key='21' Description='Grantee_ER_OC_GOS'/>
			</NavElement>
			<NavElement Key='OutOfCorpus'
				NavTitle='Out of Corpus Report'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=OutOfCorpus'
				HelpFile='Easygrants_v4_BMGF_r1/Docs/GrantViewHelpReportSubmission.pdf'
				SubmissionSection='True'>
				<PersonRole Key='8' Description='Grantee_PS'/>
				<PersonRole Key='19' Description='Grantee_OC_PS'/>
				<PersonRole Key='20' Description='Grantee_OC_CS'/>
				<PersonRole Key='21' Description='Grantee_ER_OC_GOS'/>
			</NavElement>
			<NavElement Key='InterimReport'
				NavTitle='Interim Report'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ExpResReport'
				HelpFile='Easygrants_v4_BMGF_r1/Docs/GrantViewHelpReportSubmission.pdf'
				SubmissionSection='True'>
				<PersonRole Key='8' Description='Grantee_PS'/>
				<PersonRole Key='16' Description='Grantee_ER_PS'/>
				<PersonRole Key='17' Description='Grantee_ER_CS'/>
				<PersonRole Key='18' Description='Grantee_ER_GOS'/>
				<PersonRole Key='19' Description='Grantee_ER_OC_PS'/>
				<PersonRole Key='20' Description='Grantee_ER_OC_CS'/>
				<PersonRole Key='21' Description='Grantee_ER_OC_GOS'/>
			</NavElement>
			<NavElement Key='ValidateSubmit'
				NavTitle='Validate and Submit'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ValidateSubmit'
				HelpFile='Easygrants_v4_BMGF_r1/Docs/GrantViewHelpReportSubmission.pdf'/>

			<NavElement Key='Sep1' NavTitle='('/>
			<!--<NavElement Key='ApplicationDirections'
				NavTitle='Guidelines'
				Enabled='&NavElementEnabled;'
				External='True'
				Target='Blank'
				SourceFile='/Easygrants_v4_BMGF_r1/Easygrants_v4_BMGF_r1/Docs/Guidelines Hold Page.pdf'/>-->
			<NavElement Key='Help'
				NavTitle='Help'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'/>
			<NavElement Key='Sep6' NavTitle='('/>
			<NavElement Key='Logout'
				NavTitle='Log Out'
				Enabled='False'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'
				EnabledAfterSubmit='&NavElementEnabled;'/>
			<NavElement Key='Sep7' NavTitle='('/>
			<NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile=''/>
		</Navigation>

		<Pages>
			<Page Key='Main'
				NavKey='Main'
				PageTitle='Main'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Main.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/PageSection/Submission.ascx'/>
			<Page Key='Narrative'
				NavKey='Narrative'
				PageTitle='Progress Report Narrative'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ProgressReport_Narrative.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/PageSection/Submission.ascx' />
			<Page Key='Timeline'
				NavKey='Timeline'
				PageTitle='Updated Project Timeline'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Timeline.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/PageSection/Submission.ascx' />
			<Page Key='Expenses_BR'
				NavKey='Expenses_BR'
				PageTitle='Upload Expenses &amp; Budget Report'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Expenses_Budget_Report.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/PageSection/Submission.ascx' />
			<Page Key='RecentFinancial'
				NavKey='RecentFinancial'
				PageTitle='Upload Financial Statement'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Recent_Financial_Stmt.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/PageSection/Submission.ascx' />
			<Page Key='ValidateSubmit'
				NavKey='ValidateSubmit'
				PageTitle='Validate and Submit'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ValidateSubmit_Content.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/PageSection/Submission.ascx' />
			<Page Key='ExpResReport'
				NavKey='ExpResReport'
				PageTitle='Upload Annual Expenditure Responsibility Report'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ExpResponsibility.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/PageSection/Submission.ascx' />
			<Page Key='OutOfCorpus'
				NavKey='OutOfCorpus'
				PageTitle='Upload Out of Corpus Report'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/OutOfCorpus.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/PageSection/Submission.ascx'/>
			<Page Key='TimelineEditor'
				NavKey='Timeline'
				PageTitle='Add or Edit Project Timeline'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ProjectTimeline_Editor.ascx' />
			<Page Key='Submission'
				NavKey='Main'
				PageTitle='Report Submitted'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/PageSection/Submission.ascx'/>
			<Page Key='Logout'
				NavKey='Logout'
				PageTitle='Log Out Page'
				ContentCtl='&CoreRoot;/Controls/Page/Logout_Content.ascx' />
		</Pages>

		<Validation>
			<ValidationSection Key='Narrative' DisplayName='Progress Report Narrative' NavKey='Narrative' RequiredText='No' DetailedRequiredText='Not Required'>
				<ValidationItem>
					<Requirement PropertyKey='ActiveRequestToReopenThis.WftaReopenSections'>
						<Filters>
							<Argument PropertyKey='SectionKey' Value='Narrative'/>
							<Argument PropertyKey='SavedAfterReopen' Value='False'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must modify the Progress Report Narrative to complete the resubmission.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem Type='Method'>
					<Action
						Object='ModulePage'
						Method='ValidateUpload'>
						<Parameters>
							<Argument Value='39'/>
						</Parameters>
					</Action>
					<Results>
						<Result
							ResultCode='3'
							Message='Either no Progress Report Narrative was uploaded, or file conversion was not successful.'/>
					</Results>
				</ValidationItem>
			</ValidationSection>
			<ValidationSection Key='Timeline' DisplayName='Updated Project Timeline' NavKey='Timeline' RequiredText='No' DetailedRequiredText='Not Required'>
				<ValidationItem>
					<Requirement PropertyKey='ActiveRequestToReopenThis.WftaReopenSections'>
						<Filters>
							<Argument PropertyKey='SectionKey' Value='Timeline'/>
							<Argument PropertyKey='SavedAfterReopen' Value='False'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must modify the Updated Project Timeline to complete the resubmission.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem Type='Method'>
					<Action
						Object='ModulePage'
						Method='ValidateUpdtTargetDt'>
					</Action>
					<Results>
						<Result
							ResultCode='3'
							Message='Please enter an Updated Target Date for each project Milestone/Activity.'/>
					</Results>
				</ValidationItem>
				<ValidationItem Type='Method'>
					<Action
						Object='ModulePage'
						Method='ValidateTimeline'>
					</Action>
					<Results>
						<Result
							ResultCode='3'
							Message='Please select a status for each project Milestone/Activity.'/>
					</Results>
				</ValidationItem>
			</ValidationSection>
			<ValidationSection Key='Expenses_BR' DisplayName='Expenses &amp; Budget Report' NavKey='Expenses_BR' RequiredText='No' DetailedRequiredText='Not Required'>
				<ValidationItem>
					<Requirement PropertyKey='ActiveRequestToReopenThis.WftaReopenSections'>
						<Filters>
							<Argument PropertyKey='SectionKey' Value='Expenses_BR'/>
							<Argument PropertyKey='SavedAfterReopen' Value='False'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must re-upload the Expenses and Budget to complete the resubmission.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem Type='Method'>
					<Action
						Object='ModulePage'
						Method='ValidateUpload'>
						<Parameters>
							<Argument Value='38'/>
						</Parameters>
					</Action>
					<Results>
						<Result
							ResultCode='3'
							Message='Either no Expenses and Budget were uploaded, or file conversion was not successful.'/>
					</Results>
				</ValidationItem>
			</ValidationSection>
			<ValidationSection Key='RecentFinancial' DisplayName='Most Recent Financial Statement' NavKey='RecentFinancial' RequiredText='No' DetailedRequiredText='Not Required'>
				<ValidationItem>
					<Requirement PropertyKey='ActiveRequestToReopenThis.WftaReopenSections'>
						<Filters>
							<Argument PropertyKey='SectionKey' Value='RecentFinancial'/>
							<Argument PropertyKey='SavedAfterReopen' Value='False'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must modify the Most Recent Financial Statements to complete the resubmission.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem Type='Method'>
					<Action
						Object='ModulePage'
						Method='RecentFinancialUpload'>
						<Parameters>
							<Argument Value='24'/>
						</Parameters>
					</Action>
					<Results>
						<Result
							ResultCode='3'
							Message='Either no Most Recent Financial Statements were uploaded, or file conversion was not successful.'/>
					</Results>
				</ValidationItem>
			</ValidationSection>
			<ValidationSection Key='ExpResReport' DisplayName='Annual Expenditure Responsibility Report' NavKey='ExpResReport' RequiredText='No' DetailedRequiredText='Not Required'>
				<ValidationItem>
					<Requirement PropertyKey='ActiveRequestToReopenThis.WftaReopenSections'>
						<Filters>
							<Argument PropertyKey='SectionKey' Value='ExpResReport'/>
							<Argument PropertyKey='SavedAfterReopen' Value='False'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must modify the Annual Expenditure Responsibility Report to complete the resubmission.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem Type='Method'>
					<Action
						Object='ModulePage'
						Method='ValidateUpload'>
						<Parameters>
							<Argument Value='36'/>
						</Parameters>
					</Action>
					<Results>
						<Result
							ResultCode='3'
							Message='Either no Expenditure Responsibility Report was uploaded, or file conversion was not successful.'/>
					</Results>
				</ValidationItem>
			</ValidationSection>
			<ValidationSection Key='OutOfCorpus' DisplayName='Out of Corpus Report' NavKey='OutOfCorpus' RequiredText='No' DetailedRequiredText='Not Required'>
				<ValidationItem>
					<Requirement PropertyKey='ActiveRequestToReopenThis.WftaReopenSections'>
						<Filters>
							<Argument PropertyKey='SectionKey' Value='OutOfCorpus'/>
							<Argument PropertyKey='SavedAfterReopen' Value='False'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must re-upload the Out of Corpus Report to complete the resubmission.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem Type='Method'>
					<Action
						Object='ModulePage'
						Method='ValidateUpload'>
						<Parameters>
							<Argument Value='37'/>
						</Parameters>
					</Action>
					<Results>
						<Result
							ResultCode='3'
							Message='Either no Out of Corpus Report was uploaded, or file conversion was not successful.'/>
					</Results>
				</ValidationItem>
			</ValidationSection>
		</Validation>

	</Module>
</EasyGrants>