<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "SubmitReport">
]>
<EasyGrants>
	<Outcomes>
		<!-- Progress Report with associated budget -->
		<Outcome OutcomeKey='320' OutcomeDescription='Submit Progress Report Complete' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='3' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
				<Argument PropertyKey='RequestTypeID' Value='2' Operator='NotEqual'>
					<RelatedProperty PropertyKey='GranteeProject.GranteeProjectBMGF'/>
				</Argument>
				<Argument PropertyKey='PaymentID' Value='' Operator='NotEqual'>
					<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
				</Argument>
			</Filters>
			<UpdateData>
			</UpdateData>
			<Tasks>
				<Task TaskKey='106' Description='Review Budget' Status='1' Outcome='427' RoleID='11' NoPersonID='True' UpdateStatus='True' >
					<ExistingWfTAFilters>
						<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='ReportWfTaskAssignmentID'>
							<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
						</Argument>
						<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentBMGF.PaymentID' PropertyKey='PaymentID'>
							<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
						</Argument>
					</ExistingWfTAFilters>
					<RelatedDataObject DataObjectDefinitionKey='WfTaskAssignmentBMGF'>
						<Filters>
							<Argument Type='NewWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='WfTaskAssignmentID'/>
						</Filters>
						<DataObjectProperties>
							<Argument Type='NewWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='WfTaskAssignmentID'/>
							<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='ReportWfTaskAssignmentID'/>
							<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentBMGF.PaymentID' PropertyKey='PaymentID'/>
						</DataObjectProperties>
					</RelatedDataObject>
				</Task>
			</Tasks>
			<Events>
				<Event EventKey='80' Description='Grantee Report Submission Confirmation'/> 
				<Event EventKey='81' Description='Grantee Report Submission Notification (PO)'/>
				<Event EventKey='82' Description='Grantee Report Submission Notification (Workgroup)'>
					<EventDataObjectList DataObjectDefinitionKey='WfTaskAssignmentWorkGroupMember'>
						<Filters>
							<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='WfTaskAssignmentID'/>
							<Argument PropertyKey='WorkGroupID' Value='2'/>
						</Filters>
					</EventDataObjectList>
				</Event>
			</Events>
		</Outcome>

		<!-- Progress Report without associated budget, with associated payment -->
		<Outcome OutcomeKey='320' OutcomeDescription='Submit Progress Report Complete' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='3' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
				<Argument PropertyKey='PaymentID' Value='' Operator='NotEqual'>
					<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
				</Argument>
				<Argument PropertyKey='RequestTypeID' Value='2'>
					<RelatedProperty PropertyKey='GranteeProject.GranteeProjectBMGF'/>
				</Argument>
			</Filters>
			<UpdateData>
			</UpdateData>
			<Tasks>
				<Task TaskKey='109' Description='Review Progress Report with Payment' Status='1' RoleID='12' PersonID='GranteeProject.GranteeProjectBMGF.ProgramOfficerPersonID' UpdateStatus='True' >
					<ExistingWfTAFilters>
						<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='ReportWfTaskAssignmentID'>
							<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
						</Argument>
					</ExistingWfTAFilters>
					<RelatedDataObject DataObjectDefinitionKey='WfTaskAssignmentBMGF'>
						<Filters>
							<Argument Type='NewWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='WfTaskAssignmentID'/>
						</Filters>
						<DataObjectProperties>
							<Argument Type='NewWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='WfTaskAssignmentID'/>
							<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='ReportWfTaskAssignmentID'/>
							<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentBMGF.PaymentID' PropertyKey='PaymentID'/>
						</DataObjectProperties>
					</RelatedDataObject>
				</Task>
			</Tasks>
			<Events>
				<Event EventKey='80' Description='Grantee Report Submission Confirmation'/> 
				<Event EventKey='81' Description='Grantee Report Submission Notification (PO)'/>
				<Event EventKey='82' Description='Grantee Report Submission Notification (Workgroup)'>
					<EventDataObjectList DataObjectDefinitionKey='WfTaskAssignmentWorkGroupMember'>
						<Filters>
							<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='WfTaskAssignmentID'/>
							<Argument PropertyKey='WorkGroupID' Value='2'/>
						</Filters>
					</EventDataObjectList>
				</Event>
			</Events>
		</Outcome>

		<!-- Progress Report without associated budget nor associated payment -->
		<Outcome OutcomeKey='320' OutcomeDescription='Submit Progress Report Complete' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='3' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
				<Argument PropertyKey='PaymentID' Value=''>
					<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
				</Argument>
			</Filters>
			<UpdateData>
			</UpdateData>
			<Tasks>
				<Task TaskKey='107' Description='Review Progress Report without Payment' Status='1' RoleID='12' PersonID='GranteeProject.GranteeProjectBMGF.ProgramOfficerPersonID' >
					<ExistingWfTAFilters>
						<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='ReportWfTaskAssignmentID'>
							<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
						</Argument>
					</ExistingWfTAFilters>
					<RelatedDataObject DataObjectDefinitionKey='WfTaskAssignmentBMGF'>
						<Filters>
							<Argument Type='NewWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='WfTaskAssignmentID'/>
						</Filters>
						<DataObjectProperties>
							<Argument Type='NewWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='WfTaskAssignmentID'/>
							<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='ReportWfTaskAssignmentID'/>
							<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentBMGF.PaymentID' PropertyKey='PaymentID'/>
						</DataObjectProperties>
					</RelatedDataObject>
				</Task>
			</Tasks>
			<Events>
				<Event EventKey='80' Description='Grantee Report Submission Confirmation'/> 
				<Event EventKey='81' Description='Grantee Report Submission Notification (PO)'/>
				<Event EventKey='121' Description='Review Report Task Notification (PO)'/>
				<Event EventKey='82' Description='Grantee Report Submission Notification (Workgroup)'>
					<EventDataObjectList DataObjectDefinitionKey='WfTaskAssignmentWorkGroupMember'>
						<Filters>
							<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='WfTaskAssignmentID'/>
							<Argument PropertyKey='WorkGroupID' Value='2'/>
						</Filters>
					</EventDataObjectList>
				</Event>
			</Events>
		</Outcome>

	</Outcomes>
</EasyGrants>
