<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "1607Review_OPPStaff">
]>
<EasyGrants>
	<Outcomes ProgramKey='1607 Review - OPP Staff'
		  DefaultOutcomeKey='209'
		  DefaultOutcomeDescription='Review Submitted'
		  PostSubmitModuleConfig="1607Review_OPPStaffModuleConfig"
		  PostSubmitModuleName="1607Review_OPPStaff"
		  ReportOutputRelatedProperty='WfProjectTask.RevPDFReportKeyLink.FinalPDFReportKeyLink.ReportOutputDefinitionID'>
		<!-- 1607 OPP STAFF REVIEW SUBMISSION -->
		<Outcome OutcomeKey='209' OutcomeDescription='1607 Review Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='91' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
			</Filters>
		</Outcome>
	</Outcomes>
</EasyGrants>