<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "EasyGrants/Modules">
	<!ENTITY ModuleName "ReviewReport">
]>
<EasyGrants>
	<Outcomes>
		<Outcome OutcomeKey='337' OutcomeDescription='Review Progress Report With Payment Not Accepted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='109' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
				<Argument PropertyKey='SelectedOutcomeID' Value='14' >
					<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
				</Argument>
			</Filters>
			<UpdateData>
				<Argument PropertyKey='WfTaskAssignmentBMGF.ReportWfTaskAssignment.WfTaskStatusID' Value='4'/>
				<Argument PropertyKey='WfTaskAssignmentBMGF.ReportWfTaskAssignment.WfTaskOutcomeID' Value='384'/>
				<Argument Type='SubmittedWfTaskAssignment' TypeKey='GranteeProject.PrimaryPersonID' PropertyKey='WfTaskAssignmentBMGF.ReportWfTaskAssignment.PersonID'/>
			</UpdateData>
			<Tasks>
			</Tasks>
			<Events>
				<Event EventKey='10' Description='Send Login Info to GP Primary Person'/>
			</Events>
		</Outcome>
		<Outcome OutcomeKey='424' OutcomeDescription='Review Progress Report With Payment Accepted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='109' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
				<Argument PropertyKey='SelectedOutcomeID' Value='13' >
					<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
				</Argument>
				<Argument Type='' TypeKey='' PropertyKey='PaymentRecommendationID' Value='1' >
					<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
				</Argument>
			</Filters>
			<UpdateData>
				<Argument PropertyKey='WfTaskAssignmentBMGF.SelectedOutcomeID' Value='28'/>
			</UpdateData>
			<Tasks>
				<Task Key='AuthPay' TaskKey='128' Description='Authorize Payment' Status='1' Outcome='393' RoleID='11' NoPersonID='True' >
					<ExistingWfTAFilters>
						<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='ReportWfTaskAssignmentID'>
							<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
						</Argument>
					</ExistingWfTAFilters>
					<RelatedDataObject DataObjectDefinitionKey='WfTaskAssignmentBMGF'>
						<Filters>
							<Argument Type='NewWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='WfTaskAssignmentID'/>
						</Filters>
						<DataObjectProperties>
							<Argument Type='NewWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='WfTaskAssignmentID'/>
							<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentBMGF.ReportWfTaskAssignmentID' PropertyKey='ReportWfTaskAssignmentID'/>
							<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentBMGF.PaymentID' PropertyKey='PaymentID'/>
						</DataObjectProperties>
					</RelatedDataObject>
				</Task>
			</Tasks>
			<Events>
				<Event Key='AuthPay' EventKey='102' Description='System - Rev Progress Report Payment Recommended'>
					<EventDataObjectList DataObjectDefinitionKey='WfTaskAssignmentWorkGroupMember'>
						<Filters>
							<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='WfTaskAssignmentID'/>
							<Argument PropertyKey='WorkGroupID' Value='14'/>
						</Filters>
					</EventDataObjectList>
				</Event>
			</Events>
		</Outcome>

		<Outcome OutcomeKey='395' OutcomeDescription='Review Progress Report With Payment Accepted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='109' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
				<Argument PropertyKey='SelectedOutcomeID' Value='13' >
					<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
				</Argument>
				<Argument Type='' TypeKey='' PropertyKey='PaymentRecommendationID' Value='2' >
					<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
				</Argument>
				<Argument Type='' TypeKey='' PropertyKey='GrantRecommendationID' Value='1' >
					<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
				</Argument>
			</Filters>
			<UpdateData>
				<Argument PropertyKey='WfTaskAssignmentBMGF.SelectedOutcomeID' Value='29'/>
			</UpdateData>
			<Tasks>
				<Task TaskKey='121' Description='Request Grant Amendment' Status='1' RoleID='12' PersonID='GranteeProject.GranteeProjectBMGF.ProgramOfficerPersonID' UpdateStatus='True' >
					<ExistingWfTAFilters>
						<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='ReportWfTaskAssignmentID'>
							<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
						</Argument>
					</ExistingWfTAFilters>
					<RelatedDataObject DataObjectDefinitionKey='GrantAmendment' Key='GrantAmendment'>
						<Filters>
							<Argument PropertyKey='GrantAmendmentID' Value='0'/>
						</Filters>
						<DataObjectProperties>
							<Argument Type='SubmittedWfTaskAssignment' TypeKey='GranteeProjectID' PropertyKey='GranteeProjectID'/>
						</DataObjectProperties>
					</RelatedDataObject>
					<RelatedDataObject DataObjectDefinitionKey='WfTaskAssignmentBMGF'>
						<Filters>
							<Argument Type='NewWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='WfTaskAssignmentID'/>
						</Filters>
						<DataObjectProperties>
							<Argument Type='NewWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='WfTaskAssignmentID'/>
							<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='ReportWfTaskAssignmentID'/>
							<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentBMGF.PaymentID' PropertyKey='PaymentID'/>
							<Argument Type='RelatedDataObjectCollection' TypeKey='GrantAmendment' DataObjectPropertyKey='GrantAmendmentID' PropertyKey='GrantAmendmentID'/>
						</DataObjectProperties>
					</RelatedDataObject>
				</Task>
			</Tasks>
			<Events>
				<Event EventKey='123' Description='Request Grant Amendment Notice to PO'/>
			</Events>
		</Outcome>
		<Outcome OutcomeKey='425' OutcomeDescription='Review Progress Report With Payment Accepted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='109' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
				<Argument PropertyKey='SelectedOutcomeID' Value='13' >
					<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
				</Argument>
				<Argument Type='' TypeKey='' PropertyKey='PaymentRecommendationID' Value='2' >
					<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
				</Argument>
				<Argument Type='' TypeKey='' PropertyKey='GrantRecommendationID' Value='2' >
					<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
				</Argument>
			</Filters>
			<UpdateData>
				<Argument PropertyKey='WfTaskAssignmentBMGF.SelectedOutcomeID' Value='30'/>
			</UpdateData>
			<Tasks>
				<Task TaskKey='115' Description='Grant Suspension' Status='1' RoleID='12' PersonID='GranteeProject.GranteeProjectBMGF.ProgramOfficerPersonID' >
					<ExistingWfTAFilters>
						<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='ReportWfTaskAssignmentID'>
							<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
						</Argument>
					</ExistingWfTAFilters>
					<RelatedDataObject DataObjectDefinitionKey='WfTaskAssignmentBMGF'>
						<Filters>
							<Argument Type='NewWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='WfTaskAssignmentID'/>
						</Filters>
						<DataObjectProperties>
							<Argument Type='NewWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='WfTaskAssignmentID'/>
							<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentBMGF.ReportWfTaskAssignmentID' PropertyKey='ReportWfTaskAssignmentID'/>
							<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentBMGF.PaymentID' PropertyKey='PaymentID'/>
						</DataObjectProperties>
					</RelatedDataObject>
				</Task>
			</Tasks>
			<Events>
				<Event EventKey='124' Description='Grant Suspension Notice to PO'/>
			</Events>
		</Outcome>

		<Outcome OutcomeKey='426' OutcomeDescription='Review Progress Report With Payment Accepted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='109' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
				<Argument PropertyKey='SelectedOutcomeID' Value='13' >
					<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
				</Argument>
				<Argument Type='' TypeKey='' PropertyKey='PaymentRecommendationID' Value='2' >
					<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
				</Argument>
				<Argument Type='' TypeKey='' PropertyKey='GrantRecommendationID' Value='3' >
					<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
				</Argument>
			</Filters>
			<UpdateData>
				<Argument PropertyKey='WfTaskAssignmentBMGF.SelectedOutcomeID' Value='31'/>
			</UpdateData>
			<Tasks>
				<Task TaskKey='118' Description='Grant Cancellation' Status='1' RoleID='12' PersonID='GranteeProject.GranteeProjectBMGF.ProgramOfficerPersonID' >
					<ExistingWfTAFilters>
						<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='ReportWfTaskAssignmentID'>
							<RelatedProperty PropertyKey='WfTaskAssignmentBMGF'/>
						</Argument>
					</ExistingWfTAFilters>
					<RelatedDataObject DataObjectDefinitionKey='WfTaskAssignmentBMGF'>
						<Filters>
							<Argument Type='NewWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='WfTaskAssignmentID'/>
						</Filters>
						<DataObjectProperties>
							<Argument Type='NewWfTaskAssignment' TypeKey='WfTaskAssignmentID' PropertyKey='WfTaskAssignmentID'/>
							<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentBMGF.ReportWfTaskAssignmentID' PropertyKey='ReportWfTaskAssignmentID'/>
							<Argument Type='SubmittedWfTaskAssignment' TypeKey='WfTaskAssignmentBMGF.PaymentID' PropertyKey='PaymentID'/>
						</DataObjectProperties>
					</RelatedDataObject>
				</Task>
			</Tasks>
			<Events>
				<Event EventKey='125' Description='Grant Cancellation Notice to PO'/>
			</Events>
		</Outcome>

	</Outcomes>
</EasyGrants>