<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "ReviewReport">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "ReviewProgressReportWithPaymentModuleConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>

<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		PageContent='XML:Pages'
		DefaultPageFrameKey='Option01'
		ModuleName = '&ModuleName;'
		ModuleConfig = '&ModuleConfig;'
		PageName='&PageName;'
		DefaultPageKey='Main'
		InvalidURL=''
		DescriptiveName='Review Progress Report'>

		<Class Name='cEGWfTAUser'
			Assembly='EasyGrants'
			FullName='EasyGrants.Web.User.cEGWfTAUser'
			CopyUser= 'cEGHomeUser'
			UniqueHashKey='_ECAppl' />

		<PageFrames>
			<PageFrame Key='Option01'
				PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
				PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
				PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

		<AdminNavigation>
			<NavElement Key='Administration'/>
		</AdminNavigation>

		<Navigation Key='ReviewProgressReportWithPayment'>
			<NavElement Key='Main'
				NavTitle='Review Report'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Main'
				HelpFile='Easygrants_v4_BMGF_r1/Help/Index.aspx?Review_Progress_Report_with_a_Payment_Contingency.html'/>
			<NavElement Key='Sep1' NavTitle='('/>
		</Navigation>

		<Pages>
			<Page Key='Main'
				NavKey='Main'
				PageTitle='Review Report'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReviewProgressReportWithPayment_Content.ascx' />
			<Page Key='ReportResubmission'
				NavKey='Main'
				PageTitle='Request Report Resubmission'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ResubmitReport_Content.ascx' />
			<Page Key='EditContact'
				NavKey='Main'
				PageTitle='Edit Primary Contact'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ResubmitEditInfo_Content.ascx' />
			<Page Key='ReplaceContact'
				NavKey='Main'
				PageTitle='Replace Primary Contact'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ResubmitReplaceContact_Content.ascx' />
			<Page Key='AddContact'
				NavKey='Main'
				PageTitle='Add New Primary Contact'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ResubmitAddPerson_Content.ascx' />
			<Page Key='AddPerson'
				NavKey='Main'
				PageTitle='Add New Primary Contact'
				ContentCtl='&ModuleRoot;/ProposalReview/Controls/Page/AddContact.ascx'/>
			<Page Key='ResubmitEmail'
				NavKey='Main'
				PageTitle='Invite for Report Resubmission'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/EmailEditorLoader_Report.ascx'/>
			<Page Key='EmailEditorPreview'
				NavKey='Main'
				PageTitle='Invite for Report Resubmission'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ResubmitReport_Email.ascx' />
			<Page Key='PersonList'
				NavKey='Contacts'
				PageTitle='Matching Contacts'
				ContentCtl='EasyGrants/Controls/PageSection/Person_List.ascx' >
			</Page>
			<Page Key='ContactDetails'
				NavKey='Contacts'
				PageTitle='Matching Contact Details'
				ContentCtl='&ModuleRoot;/Staff/Controls/PageSection/ContactDetails.ascx' />
		</Pages>

		<Validation>

		</Validation>

	</Module>
</EasyGrants>