<DataSources>
		<DataSource Key='EGDatabase'>
			<Class Name='cDataProviderSQL' Assembly='Core' FullName='Core.DataAccess.DBAccess.cDataProviderSQL'>
				<Arguments>
          <Argument Value='Data Source=KEN\SQLEXPRESS;Initial Catalog=Easygrants_SNC;User Id=EG2webuser;PASSWORD=EG2webuser;' />
        </Arguments>
			</Class>
		</DataSource>
</DataSources>