<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "Application">
]>
<EasyGrants>
	<Outcomes ProgramKey='Application'
		DefaultOutcomeKey='6'
		DefaultOutcomeDescription='Application Submitted'
		PostSubmitModuleConfig="ApplModuleConfig"
		PostSubmitModuleName="Application">
		<!-- APPLICATION SUBMISSION -->
		<Outcome OutcomeKey='6' OutcomeDescription='Application Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='2' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
			</Filters>
			<Events>
				<Event EventKey='4' Description='Application Submission'/>
			</Events>
		</Outcome>
	</Outcomes>
</EasyGrants>