<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "Application">
]>
<EasyGrants>
	<Outcomes ProgramKey='Application'
		  DefaultOutcomeKey='146'
		  DefaultOutcomeDescription='Post PQV Renewal Application Submitted'
		  PostSubmitModuleConfig="PostPQVRenewApplModuleConfig"
		  PostSubmitModuleName="Application">
		<!-- Post PQV Renewal APPLICATION SUBMISSION -->
		<Outcome OutcomeKey='146' OutcomeDescription='Post PQV Renewal Application Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='67' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
			</Filters>
			<Events>
				<Event EventKey='5' Description='Renewal Application Submission'/>
			</Events>
		</Outcome>
	</Outcomes>
</EasyGrants>