<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "LOI">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "LOIModuleConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>

<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		EnabledAfterSubmit  'Indicates if navigation element is enabled after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants

-->

<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		  PageContent='XML:Pages'
		  DefaultPageFrameKey='Option01'
		  ModuleName = '&ModuleName;'
		  DescriptiveName = 'Notice of Intent to Compete'
		  ModuleHeader ='Easygrants/Controls/Base/PublicUserModuleHeader.ascx'
		  ModuleConfig = '&ModuleConfig;'
		  PageName='&PageName;'
		  DefaultPageKey='Main'
		  InvalidURL=''>

		<Class Name='cEGWfTAUser'
				Assembly='EasyGrants'
				FullName='EasyGrants.Web.User.cEGWfTAUser'
				CopyUser= 'cEGHomeUser'
				UniqueHashKey='_LOI' />

		<PageFrames>
			<PageFrame Key='Option01'
					  PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

		<Navigation Key='LOI'>
			<NavElement Key='ReturnHome'
					  NavTitle='Home'
					  EnabledAfterSubmit='&NavElementEnabled;'
					  Enabled='&NavElementEnabled;'/>
			<NavElement Key='Sep2' NavTitle='('/>
			<!-- disabled by Alex 3/7/08
			<NavElement Key='Guidelines'
					  NavTitle='Guidelines'
					  Enabled='&NavElementEnabled;'
					  External='True'
					  Target='Blank'
					  SourceFile='../../../Easygrants/PDF/GuidelinesPlaceholder.pdf'/> -->
			<NavElement Key='Sep2' NavTitle='('/>
			<NavElement Key='Main'
					  NavTitle='Main'
					  Enabled='&NavElementEnabled;'
					  EnabledAfterSubmit='&NavElementEnabled;'
				      SourceFile='&DefaultSourceFileURL;&amp;Page=Main'/>
			<NavElement Key='ApplicantInformation'
					  NavTitle='Applicant Information'
					  Enabled='&NavElementEnabled;'
					  SourceFile='&DefaultSourceFileURL;&amp;Page=ApplicantInformation'/>
			<NavElement Key='ProjectInformation'
					  NavTitle='Project Information'
					  Enabled='&NavElementEnabled;'
					  SourceFile='&DefaultSourceFileURL;&amp;Page=ProjectInformation'/>
			<NavElement Key='KeyStaffMembers'
					  NavTitle='Key Staff Members'
					  Enabled='&NavElementEnabled;'
					  SourceFile='&DefaultSourceFileURL;&amp;Page=KeyStaffMembers'/>
			<NavElement Key='BoardMembers'
					  NavTitle='Board Members'
					  Enabled='&NavElementEnabled;'
					  SourceFile='&DefaultSourceFileURL;&amp;Page=BoardMembers'/>
			<NavElement Key='Submission'
					  NavTitle='Review and Submit'
					  Enabled='&NavElementEnabled;'
					  SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'/>
			<NavElement Key='Sep3' NavTitle='('/>
			<NavElement Key='Sep3' NavTitle='('/>
			<NavElement Key='Logout'
					  NavTitle='Log Out'
					  Enabled='&NavElementEnabled;'
					  EnabledAfterSubmit='&NavElementEnabled;'
					  SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
			<NavElement Key='Sep4' NavTitle='('/>
			<NavElement Key='Staff'
					  NavTitle='Return to Staff Module'
					  Enabled='&NavElementEnabled;'
					  EnabledAfterSubmit='&NavElementEnabled;'
					  SourceFile=''/>
			<NavElement Key='Sep3' NavTitle='('/>

		</Navigation>

		<Pages>
			<Page Key='Home'
					  NavKey='Home'
					  PageTitle='Home'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/HomeContent.ascx' />
			<Page Key='Main'
					  NavKey='Main'
					  PageTitle='Main'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/MainContent.ascx'
					  AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/LOISubmittedContent.ascx'/>
			<Page Key='RequestUnsubmission'
					  NavKey='Main'
					  PageTitle='Request Unsubmission'
				      ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/RequestUnsubmission.ascx' />
			<Page Key='ConfirmUnsubmissionRequest'
					  NavKey='Main'
					  PageTitle='Confirm Unsubmission Request'
				      ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ConfirmUnsubmitRequest.ascx' />
			<Page Key='ApplicantInformation'
					  NavKey='ApplicantInformation'
					  PageTitle='Applicant Information'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ApplicantInformation.ascx' />
			<Page Key='ApplicantInformationEditor'
					  NavKey='ApplicantInformation'
					  PageTitle='Applicant Information Editor'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/PageSection/ApplicantInformationEditor.ascx' />
			<Page Key='AddressEditor'
					NavKey='ApplicantInformation'
					PageTitle='Address Editor'
					ContentCtl='Easygrants/Controls/PageSection/AddressEditor.ascx' />
			<Page Key='PhoneEditor'
					  NavKey='ApplicantInformation'
					  PageTitle='Telephone/Fax Editor'
					  ContentCtl='Easygrants/Controls/PageSection/PhoneEditor.ascx' />
			<Page Key='EmailEditor'
					  NavKey='ApplicantInformation'
					  PageTitle='Email Address Editor'
					  ContentCtl='Easygrants/Controls/PageSection/EmailEditor.ascx' />
			<!--
			<Page Key='OtherContactsEditor'
					  NavKey='OtherContactsEditor'
					  PageTitle='Contacts Editor'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/PageSection/OtherContactsEditor.ascx' />
			<Page Key='OtherContacts'
					  NavKey='OtherContacts'
					  PageTitle='Contacts'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/OtherContactsList.ascx' />
			-->									 
			<Page Key='KeyStaffMembers'
					  NavKey='KeyStaffMembers'
					  PageTitle='Key Staff Members'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/KeyStaffMembersList.ascx' />
			<Page Key='KeyStaffMembersEditor'
					  NavKey='KeyStaffMembers'
					  PageTitle='Key Staff Members Editor'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/PageSection/KeyStaffMembersEditor.ascx' />
			<Page Key='BoardMembers'
					  NavKey='BoardMembers'
					  PageTitle='Board Members'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/BoardMembersList.ascx' />
			<Page Key='BoardMembersEditor'
					  NavKey='BoardMembers'
					  PageTitle='Board Members Editor'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/PageSection/BoardMembersEditor.ascx' />
			<Page Key='ProjectInformation'
					  NavKey='ProjectInformation'
					  PageTitle='Project Information'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/PageSection/ProjectInformation.ascx' />
			<Page Key='Submission'
					  NavKey='Submission'
					  PageTitle='Review and Submit'
				      ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/SubmitContent.ascx' />
			<Page Key='Logout'
					  NavKey='Logout'
					  PageTitle='Log Out'
					  ContentCtl='&CoreRoot;/Controls/Page/Logout_Content.ascx' />

		</Pages>
		<Validation>
			<ValidationHeader HeaderText='Notice Of Intent'>

				<!-- Organization -->
				<ValidationSection Key='ApplicantInformation' DisplayName='Applicant Information' PageKey='ApplicantInformation'>

					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.LscGranteeProjectInfo'>
							<Filters>
								<Argument PropertyKey='LscCompInfoSourceID' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must indicate how you found out about the LSC Grants competition.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>

					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.LscGranteeProjectInfo'>
							<Filters>
								<Argument PropertyKey='LscCompInfoSourceID' Value='6'/>
								<Argument PropertyKey='LscCompInfoSourceOther' Value=''/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You indicated "Other" as your source for information on the LSC Grants competition. You must specify your source in the provided text box.'
								MinCount='1'/>
						</Results>
					</ValidationItem>

					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.PrimaryPerson'>
							<Filters>
								<Argument PropertyKey='FirstName' Value=''/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='First Name is required.'
								MinCount='1'/>
						</Results>
					</ValidationItem>

					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.PrimaryPerson'>
							<Filters>
								<Argument PropertyKey='LastName' Value=''/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Last Name is required.'
								MinCount='1'/>
						</Results>
					</ValidationItem>
					
					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.PrimaryPerson.PersonPrimaryAffiliation'>
							<Filters>
								<Argument PropertyKey='Title' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Position/Title is required.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					
					<ValidationItem>
						<Requirement PropertyKey='GranteeProject' >
							<Filters>
								<Argument PropertyKey='PrimaryOrganizationID' Value=''/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Organization is required.'
								MinCount='1'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.PrimaryPerson.PrimaryAddress'>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='One primary address is required.'
								MaxCount='0'/>
							</Results>
					</ValidationItem>

					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.PrimaryPerson.PersonPrimaryPhone'>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='One primary phone is required.'
								MaxCount='0'/>
							</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.LscGranteeProjectInfo' >
							<Filters>
								<Argument PropertyKey='ApplicantCategoryID' Value='' Operator='NotEqual' />
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Applicant Category is required.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
		
					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.PrimaryPerson.PersonPrimaryEMail'>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='One primary email address is required.'
								MaxCount='0'/>
							</Results>
					</ValidationItem>

				</ValidationSection>


				<ValidationSection Key='ProjectInformation' DisplayName='Project Information' PageKey='ProjectInformation'>
					<ValidationItem>
						<Requirement PropertyKey='GranteeProject.LscGranteeProjectInfo'>
							<Filters>
								<Argument PropertyKey='AllocatedBySubgrants' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must provide an answer to the subgranting question.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem Type='Method'>
						<Action
								Object='ModulePage'
								Method='ValidateSubGrants_LOI'>
						</Action>
						<Results>
							<Result
								ResultCode='3'
								Message='The number of subgrants is required, if 25% or more of the LSC grant award will be allocated by subgrant.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
				</ValidationSection>
				<!--
				<ValidationSection Key='OtherContacts' DisplayName='Contacts' PageKey='OtherContacts'>
					<ValidationItem>
						<Requirement PropertyKey='LscContactAffiliations'>
							<Filters>
								<Argument PropertyKey='RoleID' Value='1' />
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Executive Director is required.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					
					<ValidationItem>
						<Requirement PropertyKey='LscContactAffiliations'>
							<Filters>
								<Argument PropertyKey='RoleID' Value='2' />
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Fiscal Officer is required.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
													   
				</ValidationSection>
				-->
				<ValidationSection Key='KeyStaffMembers' DisplayName='Key Staff Members' PageKey='KeyStaffMembers'>
					<ValidationItem>
						<Requirement PropertyKey='LscKeyStaffAffiliations'>
							<Filters>
								<Argument PropertyKey='RoleID' Value='1' />
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Executive Director is required.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscKeyStaffAffiliations'/>
						<Results>
							<Result
								ResultCode='3'
								Message='There cannot be more than 10 key staff members.'
								MinCount='11'/>
						</Results>
					</ValidationItem>
				</ValidationSection>
				<ValidationSection Key='BoardMembers' DisplayName='Board Members' PageKey='BoardMembers'>
					<ValidationItem Type='Method'>
						<Action
								Object='ModulePage'
								Method='ValidateBoardMembers'/>
						<Results>
							<!--In the following <Result> element, the NoInfoMessage and CheckBoxAndBoardMemberMessage elements
							are used by the validation method to set the message in the user interface.-->
							<Result
								ResultCode='3'
								Message='' 
								NoInfoMessage='You must either supply Board Member information or check the checkbox indicating that you are a new applicant and do not have a board.'
								CheckBoxAndBoardMemberMessage='You have indicated that you have no board, but you have provided board member information. Either clear the checkbox indicating that you have no board, or remove the board member information.' 
								MaxCount='0'/>
						</Results>
					</ValidationItem>
				</ValidationSection>
			  </ValidationHeader>
		</Validation>
	</Module>
</EasyGrants>
