<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "LOI">
]>
<EasyGrants>
	<Outcomes ProgramKey='Notice of Intent to Compete'
		  DefaultOutcomeKey='1'
		  DefaultOutcomeDescription='Notice of Intent to Compete Submitted'
		  PostSubmitModuleConfig="LOIModuleConfig"
		  PostSubmitModuleName="LOI">
		<!-- LOI SUBMISSION -->
		<Outcome OutcomeKey='2' OutcomeDescription='Notice of Intent to Compete Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='1' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
			</Filters>
			<Tasks>
				<Task TaskKey='3' Description='LOI Internal Review' Status='1' RoleID='16' NoPersonID='True' WorkgroupID='2'/>
			</Tasks>
			<Events>
				<Event EventKey='3' Description='Notice of Intent to Compete Submission'/>
			</Events>
		</Outcome>
	</Outcomes>
</EasyGrants>