<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "Application">
  <!ENTITY PageName "ModuleContent.aspx">
  <!ENTITY ModuleConfig "AcceptanceModuleConfig">
  <!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
  <!ENTITY NavElementEnabled "True">
]>

<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		EnabledAfterSubmit  'Indicates if navigation element is enabled after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants
-->

<EasyGrants>
  <Module UserClass='cEGWfTAUser'
		PageContent='XML:Pages'
		DefaultPageFrameKey='Option01'
		ModuleName = '&ModuleName;'
		ModuleConfig = '&ModuleConfig;'
		PageName='&PageName;'
		DefaultPageKey='Main'
		DescriptiveName='Acceptance'
		InvalidURL=''>

    <Class Name='cEGWfTAUser'
			Assembly='EasyGrants'
			FullName='EasyGrants.Web.User.cEGWfTAUser'
			CopyUser= 'cEGHomeUser'
			UniqueHashKey='_Acceptance' />

    <PageFrames>
      <PageFrame Key='Option01'
				PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
      <PageFrame Key='Option02'
				PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
      <PageFrame Key='Print'
				PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
    </PageFrames>

    <Navigation Key='Acceptance'>
      <NavElement Key='ReturnHome'
				NavTitle='Home'
				Enabled='&NavElementEnabled;'/>
      <NavElement Key='Sep1' NavTitle='('/>
      <NavElement Key='Main'
				NavTitle='Acceptance'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Main'/>
      <NavElement Key='Sep2' NavTitle='('/>
      <NavElement Key='Help'
				NavTitle='Help'
				Enabled='&NavElementEnabled;'/>
      <NavElement Key='Logout'
				NavTitle='Logout'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
      <NavElement Key='Sep3' NavTitle='('/>
      <NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile=''/>
    </Navigation>

    <Pages>
      <Page Key='Main'
				NavKey='Main'
				PageTitle='Acceptance'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/AcceptanceMain.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/AcceptanceSubmitted.ascx' />
      <Page Key='PanelReviewComments'
				NavKey='Main'
				PageTitle='Panel Review Comment'
				ContentCtl='&ModuleRoot;/&ModuleName;/PageContent/PanelReviewComments.ascx' />
      <Page Key='PanelCommentsReadOnly'
				NavKey='Main'
				PageTitle='Panel Review Comment'
				ContentCtl='&ModuleRoot;/&ModuleName;/PageContent/PanelReviewComments_ReadOnly.ascx' />
      <Page Key='Validation'
				NavKey='Main'
				PageTitle='Validation'
				ContentCtl='&ModuleRoot;/&ModuleName;/PageContent/Validation.ascx' />
      <Page Key='Submission'
				NavKey='Main'
				PageTitle='Submission'
				ContentCtl='&ModuleRoot;/&ModuleName;/PageContent/Submission.ascx' />
      <Page Key='Home'
				NavKey='Main'
				PageTitle='Home'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/HomeContent.ascx' />
      <Page Key='Logout'
				NavKey='Logout'
				PageTitle='Log Out'
				ContentCtl='&CoreRoot;/Controls/Page/Logout_Content.ascx' />

      <Page Key='AdditionalInfo'
				NavKey='Main'
				PageTitle='Additional Information'
				ContentCtl='EasyGrants/Controls/PageSection/AdditionalInfo.ascx' />
      <Page Key='RevAddInfoRevEditor'
				NavKey='Main'
				PageTitle='Additional Information Editor'
				ContentCtl='EasyGrants/Controls/PageSection/RevAddInfoRevEditor.ascx' />
    </Pages>

    <!-- <Validation>
			<ValidationHeader HeaderText='Scholars Grant Application PreScreen Review'>

				<ValidationSection Key='WfTaskAssignmentReview' DisplayName='Comments' PageKey='Main'>
					<ValidationItem>
						<Requirement PropertyKey='WfTaskAssignmentReviews' >
							<Filters>
								<Argument Type='Data' PropertyKey='ReviewStageID' Value='1' />
								<Argument Type='Data' PropertyKey='Comments' Value='' />
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3' 
								Message='You must provide a Comment.'
								MinCount='1'/>
						</Results>
					</ValidationItem>
				</ValidationSection>

				<ValidationSection Key='WfTaskAssignmentReview' DisplayName='Proposed Outcome' PageKey='Main'>
					<ValidationItem>
						<Requirement PropertyKey='WfTaskAssignmentReviews' >
							<Filters>
								<Argument Type='Data' PropertyKey='ReviewStageID' Value='1' />
								<Argument Type='Data' PropertyKey='ProposedOutcomeID' Value='' />
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3' 
								Message='You must provide a Proposed Outcome.'
								MinCount='1'/>
						</Results>
					</ValidationItem>
				</ValidationSection>

			</ValidationHeader>
		</Validation> -->
  </Module>
</EasyGrants>
