<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "Application">
  <!ENTITY PageName "ModuleContent.aspx">
  <!ENTITY ModuleConfig "ApplModuleConfig">
  <!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
  <!ENTITY NavElementEnabled "True">
]>

<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		EnabledAfterSubmit  'Indicates if navigation element is enabled after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants
-->

<EasyGrants>
  <Module UserClass='cEGWfTAUser'
		PageContent='XML:Pages'
		DefaultPageFrameKey='Option01'
		ModuleName = '&ModuleName;'
		ModuleConfig = '&ModuleConfig;'
		DescriptiveName='Full Proposal'
		PageName='&PageName;'
		DefaultPageKey='Main'
		InvalidURL=''>

    <Class Name='cEGWfTAUser'
			Assembly='EasyGrants'
			FullName='EasyGrants.Web.User.cEGWfTAUser'
			CopyUser= 'cEGHomeUser'
			UniqueHashKey='_MRGAppl' />

    <PageFrames>
      <PageFrame Key='Option01'
				PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
      <PageFrame Key='Option02'
				PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
      <PageFrame Key='Print'
				PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
    </PageFrames>

    <Navigation Key='Appl'>
      <NavElement Key='ReturnHome'
				NavTitle='Home'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;'/>
      <NavElement Key='Sep1' NavTitle='('/>
      <NavElement Key='Guidelines'
				NavTitle='Guidelines'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				External='True'
				Target='Blank'
				SourceFile='../../../Easygrants/PDF/GuidelinesPlaceholder.pdf'/>
      <NavElement Key='Sep1' NavTitle='('/>
      <NavElement Key='Main'
				NavTitle='Main'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Main'
				HelpFile='../../../Implementation/Modules/Application/Help/Application_Help.aspx'/>
      <NavElement Key='Sep2' NavTitle='('/>
      <NavElement Key='PrincipalInvestigator'
				NavTitle='Principal Investigators and Co-PIs'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=PrincipalInvestigator'
				HelpFile='../../../Implementation/Modules/Application/Help/Application_Help.aspx'/>
      <NavElement Key='Sep2' NavTitle='('/>
      <NavElement Key='ProjectInformation'
				NavTitle='Project Information'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ProjectInformation'
				HelpFile='../../../Implementation/Modules/Application/Help/Application_Help.aspx'/>
      <NavElement Key='Sep2' NavTitle='('/>
      <NavElement Key='Budget'
				NavTitle='Budget'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Budget'
				HelpFile='../../../Implementation/Modules/Application/Help/Application_Help.aspx'/>
      <NavElement Key='Sep2' NavTitle='('/>
      <NavElement Key='Upload'
				NavTitle='Uploads'
				Enabled='&NavElementEnabled;'
				HelpFile='../../../EasyGrants/Docs/WTG Application Page Help.pdf'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Uploads'>
        <NavElement Key='Uploads'
					NavTitle='Uploads'
					Enabled='&NavElementEnabled;'
					HelpFile='../../../Implementation/Modules/Application/Help/Application_Help.aspx'
					SourceFile='&DefaultSourceFileURL;&amp;Page=Uploads'/>
        <NavElement Key='AdditionalUploads'
					NavTitle='Additional Uploads'
					Enabled='True'
					HelpFile='../../../Implementation/Modules/Application/Help/Application_Help.aspx'
					SourceFile='&DefaultSourceFileURL;&amp;Page=AdditionalUploads'/>
      </NavElement>
      <NavElement Key='Sep2' NavTitle='('/>
      <NavElement Key='GeneratePDF'
				NavTitle='Final Application Document'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=GeneratePDF'
				HelpFile='../../../Implementation/Modules/Application/Help/Application_Help.aspx'/>
      <NavElement Key='Sep2' NavTitle='('/>
      <NavElement Key='Validation'
				NavTitle='Validation'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Validation'
				HelpFile='../../../Implementation/Modules/Application/Help/Application_Help.aspx'/>
      <NavElement Key='Sep2' NavTitle='('/>
      <NavElement Key='Submission'
				NavTitle='Submission'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'
				HelpFile='../../../Implementation/Modules/Application/Help/Application_Help.aspx'/>
      <NavElement Key='Sep2' NavTitle='('/>
      <NavElement Key='Help'
				NavTitle='Help'
				EnabledAfterSubmit='&NavElementEnabled;'
				External='True'
				Enabled='&NavElementEnabled;'/>
      <NavElement Key='Sep3' NavTitle='('/>
      <NavElement Key='Logout'
				NavTitle='Log Out'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
      <NavElement Key='Sep4' NavTitle='('/>
      <NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile=''/>
      <NavElement Key='Sep3' NavTitle='('/>

    </Navigation>

    <Pages>
      <Page Key='Main'
				NavKey='Main'
				PageTitle='Main'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/MainContent.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/SubmittedContent.ascx'/>
      <Page Key='PrincipalInvestigator'
				NavKey='PrincipalInvestigator'
				PageTitle='Principal Investigators'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PrincipalContent.ascx' />
      <Page Key='GranteeProjectPIEditor'
				NavKey='PrincipalInvestigator'
				PageTitle='Principal Investigators Editor'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PrincipalEditorContent.ascx' />
      <Page Key='GranteeProjectCoPIEditor'
				NavKey='PrincipalInvestigator'
				PageTitle='Co-Principal Investigators Editor'
				ContentCtl='EasyGrants/Controls/PageSection/CoPrincipal_Editor.ascx' />
      <Page Key='CoPIList'
				NavKey='PrincipalInvestigator'
				PageTitle='Co-PI Matching Contacts'
				ContentCtl='EasyGrants/Controls/PageSection/CoPIList.ascx' />
      <Page Key='ProjectInformation'
				NavKey='ProjectInformation'
				PageTitle='Project Information'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ProjectInfoContent.ascx' />
      <Page Key='Budget'
				NavKey='Budget'
				PageTitle='Budget'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/BudgetContent.ascx' />
      <Page Key='GranteeProjectBudgetEditor'
				NavKey='Budget'
				PageTitle='Budget'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/BudgetEditorContent.ascx' />
      <Page Key='BudgetItemNotes'
  NavKey='Budget'
  PageTitle='Budget Item Notes'
  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/BudgetItemNotesContent.ascx' />
      <Page Key='Uploads'
				NavKey='Uploads'
				PageTitle='Uploads'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/UploadsContent.ascx' />
      <Page Key='AdditionalUploads'
				NavKey='AdditionalUploads'
				PageTitle='Additional Uploads'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/AdditionalUploadsContent.ascx' />
      <Page Key='AdditionalUploadsEditor'
				NavKey='AdditionalUploads'
				PageTitle='Additional Uploads Editor'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/PageSection/AdditionalUploadsEditor.ascx' />
      <Page Key='GeneratePDF'
				NavKey='GeneratePDF'
				PageTitle='Final Application Document'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/GeneratePDF.ascx' />
      <Page Key='Validation'
				NavKey='Validation'
				PageTitle='Validation'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ValidateContent.ascx' />
      <Page Key='Submission'
				NavKey='Submission'
				PageTitle='Submission'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/SubmitContent.ascx' />
      <Page Key='Home'
				NavKey='Home'
				PageTitle='Home'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/HomeContent.ascx' />
      <Page Key='Logout'
				NavKey='Logout'
				PageTitle='Log Out'
				ContentCtl='&CoreRoot;/Controls/Page/Logout_Content.ascx' />
      <Page Key='PersonList'
				NavKey='Contacts'
				PageTitle='Person Editor'
				ContentCtl='EasyGrants/Controls/PageSection/Person_List.ascx' >
      </Page>

    </Pages>

    <Validation>
      <ValidationHeader HeaderText='Full Proposal'>
        <!-- PrincipalInvestigator -->
        <ValidationSection Key='PrincipalInvestigator' DisplayName='Principal Investigators' PageKey='PrincipalInvestigator'>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='1'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Principal Investigators were entered.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Principal Investigator was not entered.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='2'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='2'
								Message='Co-Principal Investigator(s) was not entered.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>
        </ValidationSection>

        <!-- ProjectInformation -->
        <ValidationSection Key='ProjectInfo' DisplayName='Project Information' PageKey='ProjectInformation'>
			<ValidationItem>
				<Requirement PropertyKey='GranteeProject' >
					<Filters>
						<Argument PropertyKey='GrantTitle' Value=''/>
					</Filters>
				</Requirement>
				<Results>
					<Result
						ResultCode='3'
						Message='Title was not entered.'
						MinCount='1'/>
					<Result
						ResultCode='1'
						Message='Title was entered.'
						MaxCount='0'/>
					</Results>
			</ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectInfo' >
              <Filters>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Brief Description was entered.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Brief Description was not entered.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectInfo' >
              <Filters>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Project Start Date was entered.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Project Start Date was not entered.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectInfo' >
              <Filters>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Project End Date was entered.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Project End Date was not entered.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectInfo' >
              <Filters>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Grant Request Amount was entered.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Grant Request Amount was not entered.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectInfo.PersonFields' >
              <Filters>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message="Discipline of Principal Investigator's Most Advanced Degree was entered."
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message="Discipline of Principal Investigator's Most Advanced Degree was not entered."
								MaxCount='0'/>
            </Results>
          </ValidationItem>

          <ValidationItem Type='Method'>
            <Action
							Object='ModulePage'
							Method='ValidateProjectDemographics'>
            </Action>
            <Results>
              <Result
								ResultCode='1'
								Message='Project Demographics were entered.'/>
              <Result
								ResultCode='3'
								Message='Project Demographics were not entered.'/>
            </Results>
          </ValidationItem>
        </ValidationSection>

        <!-- Budget -->
        <ValidationSection Key='Budget' DisplayName='Budget' PageKey='Budget'>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.Budget.BudgetPeriods.BudgetItems' >
              <Filters>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Budget was entered.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Budget was not entered.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>
        </ValidationSection>

        <!-- Uploads -->
        <ValidationSection Key='Uploads' DisplayName='Uploads' PageKey='Uploads'>
          <ValidationItem>
            <Requirement PropertyKey='SubmittedFile'>
              <Filters>
                <Argument PropertyKey='FileTypeID' Value='50'/>
                <Argument PropertyKey='ConversionStatus' Value='-1'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Budget Justification was uploaded.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Budget Justification was not uploaded or file conversion was not successful.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='SubmittedFile'>
              <Filters>
                <Argument PropertyKey='FileTypeID' Value='51'/>
                <Argument PropertyKey='ConversionStatus' Value='-1'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Abstract was uploaded.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Abstract was not uploaded or file conversion was not successful.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='SubmittedFile'>
              <Filters>
                <Argument PropertyKey='FileTypeID' Value='52'/>
                <Argument PropertyKey='ConversionStatus' Value='-1'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Proposal Narrative was uploaded.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Proposal Narrative was not uploaded or file conversion was not successful.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='SubmittedFile'>
              <Filters>
                <Argument PropertyKey='FileTypeID' Value='53'/>
                <Argument PropertyKey='ConversionStatus' Value='-1'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Biographical Sketches/Brief Curricula Vitae were uploaded.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Biographical Sketches/Brief Curricula Vitae were not uploaded or file conversion was not successful.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='SubmittedFile'>
              <Filters>
                <Argument PropertyKey='FileTypeID' Value='54'/>
                <Argument PropertyKey='ConversionStatus' Value='-1'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Institutional Review Board (IRB) Approval was uploaded.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Institutional Review Board (IRB) Approval was not uploaded or file conversion was not successful.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>

        </ValidationSection>

        <!-- FinalPDF -->
        <ValidationSection Key='Final Report Generation' DisplayName='Final Application Document' PageKey='GeneratePDF'>
          <ValidationItem>
            <Requirement PropertyKey='ReportOutput'>
              <Filters>
                <Argument PropertyKey='DefinitionID' Value='2'/>
                <Argument PropertyKey='GenStatus' Value='-1'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Final Application Document was generated.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Final Application Document was not generated.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>
        </ValidationSection>

      </ValidationHeader>
    </Validation>
  </Module>
</EasyGrants>