<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "Application">
]>
<EasyGrants>

  <Outcomes ProgramKey='Program 1'
		DefaultOutcomeKey='105'
		DefaultOutcomeDescription='Full Proposal Submitted'>
    <!-- APPLICATION SUBMISSION-->
    <Outcome OutcomeKey='105' OutcomeDescription='Full Proposal Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='55' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
      </Filters>
      <Tasks>
        <!-- <Task TaskKey='7' Description='Full Proposal Identify Reviewers' Status='1' RoleID='9' NoPersonID='True'/> -->
      </Tasks>
      <Events>
        <Event EventKey='3' Description='Application Submission'/>
      </Events>
    </Outcome>
  </Outcomes>

</EasyGrants>
