<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "Application">
]>
<EasyGrants>
  <Outcomes ProgramKey='Research Application'
		DefaultOutcomeKey='13'
		DefaultOutcomeDescription='Not Submitted'>
    <!-- FTF Application Submission -->
    <Outcome OutcomeKey='14' OutcomeDescription='Submitted Pending' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='1' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
      </Filters>
      <Tasks>
        <!-- <Task TaskKey='10' Description='Sponsored Program Office Approval' Status='1' RoleID='103'/> -->
      </Tasks>
      <Events>
        <Event EventKey='9' Description='Early Career Translational Application Submission'/>
        <Event EventKey='11' Description='Grants Officer Notification'/>
      </Events>
    </Outcome>
    <!-- FTF Sponsor Submission -->
    <Outcome OutcomeKey='92' OutcomeDescription='FTF Sponsor Ref Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='9' />
      </Filters>
      <Tasks>
        <!--
				<Task TaskKey='7' Description='GID - SS Appl SAB Review' Status='1' NoPersonID='True' RoleID='7'/>
				-->
      </Tasks>
      <Events>
        <Event EventKey='19' Description='Department Chair Notification'/>
      </Events>
    </Outcome>
    <Outcome OutcomeKey='7' OutcomeDescription='SPO Ref Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='10' />
      </Filters>
      <Tasks>
        <!--
				<Task TaskKey='7' Description='GID - SS Appl SAB Review' Status='1' NoPersonID='True' RoleID='7'/>
				-->
      </Tasks>
      <Events>
        <Event EventKey='19' Description='Department Chair Notification'/>
      </Events>
    </Outcome>
    <Outcome OutcomeKey='17' OutcomeDescription='FTF Ref Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='11' />
      </Filters>
      <Tasks>
        <!--
				<Task TaskKey='7' Description='GID - SS Appl SAB Review' Status='1' NoPersonID='True' RoleID='7'/>
				-->
      </Tasks>
      <Events>
        <Event EventKey='19' Description='Department Chair Notification'/>
      </Events>
    </Outcome>
    <Outcome OutcomeKey='19' OutcomeDescription='FTF Dept Head Not Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='12' />
      </Filters>
      <Tasks>
        <!--
				<Task TaskKey='7' Description='GID - SS Appl SAB Review' Status='1' NoPersonID='True' RoleID='7'/>
				-->
      </Tasks>
      <Events>
        <Event EventKey='19' Description='Department Chair Notification'/>
      </Events>
    </Outcome>
    <Outcome OutcomeKey='23' OutcomeDescription='FTF Ref Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='13' />
      </Filters>
      <Tasks>
        <!--
				<Task TaskKey='7' Description='GID - SS Appl SAB Review' Status='1' NoPersonID='True' RoleID='7'/>
				-->
      </Tasks>
      <Events>
        <Event EventKey='19' Description='Department Chair Notification'/>
      </Events>
    </Outcome>
    <Outcome OutcomeKey='93' OutcomeDescription='FTF Ref Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='16' />
      </Filters>
      <Tasks>
        <!--
				<Task TaskKey='7' Description='GID - SS Appl SAB Review' Status='1' NoPersonID='True' RoleID='7'/>
				-->
      </Tasks>
      <Events>
        <Event EventKey='19' Description='Department Chair Notification'/>
      </Events>
    </Outcome>
    <!-- Acceptance Submitted (if "NO" to Animal Subjects in FTF -->
    <Outcome OutcomeKey='31' OutcomeDescription='Acceptance Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='23' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
      </Filters>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='IsAccepted' Value='True'>
          <RelatedProperty PropertyKey='GranteeProjectAHA'/>
        </Argument>
      </Filters>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='IsHumanSubjects' Value='False'>
          <RelatedProperty PropertyKey='GranteeProjectInfo'/>
        </Argument>
      </Filters>
      <Tasks>
        <Task TaskKey='25' Description='Initial Budget' Status='1' Outcome='36' RoleID='12'/>
        <Task TaskKey='26' Description='Agreement and Release' Status='1' Outcome='38' RoleID='12'/>
        <Task TaskKey='27' Description='Pre-Award' Status='1' Outcome='40' RoleID='12'/>
        <Task TaskKey='28' Description='Animal Subject' Status='1' Outcome='42' RoleID='12'/>
      </Tasks>
      <Events>
        <Event EventKey='24' Description='System - Acceptance (Accepted) Submission Confirmation'/>
      </Events>
    </Outcome>
    <!-- Acceptance Submitted (if "YES" to Animal Subjects in FTF -->
    <Outcome OutcomeKey='31' OutcomeDescription='Acceptance Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='23' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
      </Filters>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='IsAccepted' Value='True'>
          <RelatedProperty PropertyKey='GranteeProjectAHA'/>
        </Argument>
      </Filters>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='IsHumanSubjects' Value='True'>
          <RelatedProperty PropertyKey='GranteeProjectInfo'/>
        </Argument>
      </Filters>
      <Tasks>
        <Task TaskKey='24' Description='Human Subjects' Status='1' Outcome='34' RoleID='12'/>
        <Task TaskKey='25' Description='Initial Budget' Status='1' Outcome='36' RoleID='12'/>
        <Task TaskKey='26' Description='Agreement and Release' Status='1' Outcome='38' RoleID='12'/>
        <Task TaskKey='27' Description='Pre-Award' Status='1' Outcome='40' RoleID='12'/>
        <Task TaskKey='28' Description='Animal Subject' Status='1' Outcome='42' RoleID='12'/>
      </Tasks>
      <Events>
        <Event EventKey='24' Description='System - Acceptance (Accepted) Submission Confirmation'/>
      </Events>
    </Outcome>




    <!-- TODO:  create Event notifying AHA if a New Organization is added by an Applicant during application process -->
    <!-- use Organization DO with NotInList and CreatedUser filters and if NotInList = "1" send e-mail -->
    <!-- may have to generate e-mail on submission code behind -->


  </Outcomes>
</EasyGrants>