<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "Application">
  <!ENTITY PageName "ModuleContent.aspx">
  <!ENTITY ModuleConfig "KatzApplication_ModuleConfig">
  <!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
  <!ENTITY NavElementEnabled "True">
]>

<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		EnabledAfterSubmit  'Indicates if navigation element is enabled after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants
-->

<EasyGrants>
  <Module UserClass='cEGWfTAUser'
		PageContent='XML:Pages'
		DefaultPageFrameKey='Option01'
		ModuleName = '&ModuleName;'
		ModuleConfig = '&ModuleConfig;'
		PageName='&PageName;'
		DescriptiveName='Competition 2 Application'
		DefaultPageKey='Main'
		InvalidURL=''>

    <Class Name='cEGWfTAUser'
			Assembly='EasyGrants'
			FullName='EasyGrants.Web.User.cEGWfTAUser'
			CopyUser= 'cEGHomeUser'
			UniqueHashKey='_ECAppl' />

    <PageFrames>
      <PageFrame Key='Option01'
				PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
      <PageFrame Key='Option02'
				PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
      <PageFrame Key='Print'
				PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
    </PageFrames>

    <Navigation Key='ECAppl'>
      <NavElement Key='ReturnHome'
				NavTitle='Home'
				Enabled='&NavElementEnabled;'/>
      <NavElement Key='Sep1' NavTitle='('/>
      <NavElement Key='Guidelines'
				NavTitle='Guidelines'
				Enabled='&NavElementEnabled;'
				Target='Blank'
				SourceFile='Implementation/Modules/Home/Help/Early Career Investigator Application Instructions.pdf'/>
      <NavElement Key='Sep1' NavTitle='('/>
      <NavElement Key='Main'
				NavTitle='Main'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Main'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Guidelines Placeholder Page.pdf'/>
      <NavElement Key='CurrentContactInfo'
				NavTitle='Applicant Info'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=CurrentContactInfo'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Guidelines Placeholder Page.pdf'/>
      <NavElement Key='AddressInfo'
				NavTitle='Address Info'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=AddressInfo'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Guidelines Placeholder Page.pdf'/>
      <NavElement Key='PersonalData'
				NavTitle='Personal Data'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=PersonalData'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Guidelines Placeholder Page.pdf'/>
      <NavElement Key='ProjectPersonnel'
				NavTitle='Project Personnel'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ProjectPersonnel'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Guidelines Placeholder Page.pdf'/>
      <NavElement Key='ProjectInformation'
				NavTitle='Project Info'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ProjectInformation'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Guidelines Placeholder Page.pdf'/>
      <NavElement Key='CVUpload'
				NavTitle='Upload CV'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=CVUpload'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Guidelines Placeholder Page.pdf'/>
      <NavElement Key='AbstractUpload'
				NavTitle='Upload Abstract'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=AbstractUpload'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Guidelines Placeholder Page.pdf'/>
      <NavElement Key='ManuUpload'
				NavTitle='Upload Manuscript'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ManuUpload'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Guidelines Placeholder Page.pdf'/>
      <NavElement Key='ScienceClassification'
				NavTitle='Science Classification'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ScienceClassification'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Guidelines Placeholder Page.pdf'/>
      <NavElement Key='PDFGeneration'
				NavTitle='PDF Generation'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=PDFGeneration'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Guidelines Placeholder Page.pdf'/>
      <NavElement Key='Submission'
				NavTitle='Validate &amp; Submit'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Guidelines Placeholder Page.pdf'/>
      <NavElement Key='Sep2' NavTitle='('/>
      <NavElement Key='Help'
				NavTitle='Help'
				Enabled='&NavElementEnabled;'/>
      <NavElement Key='Logout'
				NavTitle='Logout'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
      <NavElement Key='Sep3' NavTitle='('/>
      <NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile=''/>
    </Navigation>

    <Pages>
      <Page Key='Main'
				NavKey='Main'
				PageTitle='Main'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/KatzMain.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/SubmittedContent.ascx'/>
      <Page Key='PIContactInfo'
				NavKey='PIContactInfo'
				PageTitle='Applicant Info'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ApplicantInfoEditor.ascx' />
      <Page Key='CurrentContactInfo'
				NavKey='CurrentContactInfo'
				PageTitle='Applicant Info'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/CurrentContactInfo_Content.ascx' />
      <Page Key='AddressInfo'
				NavKey='AddressInfo'
				PageTitle='Address Info'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/AddressInfo_Content.ascx' />
      <Page Key='AddressInfoEditor'
				NavKey='AddressInfo'
				PageTitle='Address Info Editor'
				ContentCtl='EasyGrants/Controls/PageSection/AddressInfo_Editor.ascx' />
      <Page Key='PersonalData'
				NavKey='PersonalData'
				PageTitle='Personal Data'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PersonalData_Content.ascx' />
      <Page Key='Education'
				NavKey='Education'
				PageTitle='Education'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/EducationContent.ascx' />
      <Page Key='EducationEditor'
				NavKey='Education'
				PageTitle='Education Editor'
				ContentCtl='EasyGrants/Controls/PageSection/Education_Editor.ascx' />
      <Page Key='PastCurrentAwards'
				NavKey='PastCurrentAwards'
				PageTitle='Past and Current Awards'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/AwardsContent.ascx' />
      <Page Key='ProjectPersonnel'
				NavKey='ProjectPersonnel'
				PageTitle='Project Personnel'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ProjectPersonnel.ascx' />
      <Page Key='ProjectInformation'
				NavKey='ProjectInformation'
				PageTitle='Project Info'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/KatzProjectInfo.ascx' />
      <Page Key='CoAuthors'
				NavKey='CoAuthors'
				PageTitle='Co-Authors'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/CoAuthor.ascx' />
      <Page Key='CoAuthorsEditor'
				NavKey='CoAuthors'
				PageTitle='Co-Authors Editor'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/CoAuthorEditor.ascx' />
      <Page Key='OtherSupport'
				NavKey='OtherSupport'
				PageTitle='Other Support'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/OtherSupport.ascx' />
      <Page Key='OtherSupportEditor'
				NavKey='OtherSupport'
				PageTitle='Other Support Editor'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/OtherSupportEditor.ascx' />
      <Page Key='OtherSupportUpload'
				NavKey='OtherSupport'
				PageTitle='Other Support Upload'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/OtherSupportUpload.ascx' />
      <!--<Page Key='AddCoPIContactInfo'
				NavKey='AddCoPIContactInfo'
				PageTitle='Additional Co-Investigator Contact Information'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/AddPIContactInfoContent.ascx' /> -->
      <Page Key='DepartmentChairContactInfo'
				NavKey='DepartmentChairContactInfo'
				PageTitle='Deparment Chair Contact Information'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/DepartmentChair_Editor.ascx' />
      <Page Key='DepartmentChairList'
				NavKey='DepartmentChairContactInfo'
				PageTitle='Deparment Chair Matching Contacts'
				ContentCtl='EasyGrants/Controls/PageSection/DepartmentChair_List.ascx' />
      <Page Key='Contact'
				NavKey='Contacts'
				PageTitle=' Person Contact'
				ContentCtl='Implementation/Modules/Staff/Controls/Page/Contacts/PersonContact.ascx' />
      <Page Key='AdditionalInstitutionContacts'
				NavKey='AdditionalInstitutionContacts'
				PageTitle='Additional Institution Contacts'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/AddInstitutionContactsContent.ascx' />
      <Page Key='AdditionalInstitutionContactsEditor'
				NavKey='AdditionalInstitutionContacts'
				PageTitle='Additional Institution Contacts Editor'
				ContentCtl='EasyGrants/Controls/PageSection/InstitutionContacts_Editor.ascx' />
      <Page Key='AddPIEditor'
				NavKey='AddCoPIContactInfo'
				PageTitle='Additional Co-Investigator Editor'
				ContentCtl='EasyGrants/Controls/PageSection/AddPIEditor.ascx' />
      <Page Key='ProjectDescription'
				NavKey='ProjectDescription'
				PageTitle='Project Description'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ProjectDescription.ascx' />
      <Page Key='CVUpload'
				NavKey='CVUpload'
				PageTitle='Upload CV'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/CVUpload.ascx' />
      <Page Key='AbstractUpload'
				NavKey='AbstractUpload'
				PageTitle='Upload Abstract'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/AbstractUpload.ascx' />
      <Page Key='ManuUpload'
				NavKey='ManuUpload'
				PageTitle='Upload Manuscript'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ManuUpload.ascx' />
      <Page Key='ResearchClassification'
				NavKey='ResearchClassification'
				PageTitle='Research Classification'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ResearchClassification.ascx' />
      <Page Key='ScienceClassification'
				NavKey='ScienceClassification'
				PageTitle='Science Classification'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/KatzScienceClass.ascx' />
      <Page Key='CVUploads'
				NavKey='CVUploads'
				PageTitle='CV Uploads'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/CVUploads.ascx' />
      <Page Key='BudgetPeriodEditor'
				NavKey='Budget'
				PageTitle='Budget'
				ContentCtl='EasyGrants/Controls/PageSection/BudgetPeriod_Editor.ascx' />
      <Page Key='ProjectPersonnelEditor'
				NavKey='ProjectPersonnel'
				PageTitle='Project Personnel Editor'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ProjectPersonnelEditor.ascx' />
      <Page Key='Assurances'
				NavKey='Assurances'
				PageTitle='Compliance'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Assurances.ascx' />
      <Page Key='Budget'
				NavKey='Budget'
				PageTitle='Budget'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/BudgetContent.ascx' />
      <Page Key='GranteeProjectBudgetEditor'
				NavKey='Budget'
				PageTitle='Budget Editor'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/BudgetEditorContent.ascx' />
      <Page Key='BudgetItemNotes'
  NavKey='Budget'
  PageTitle='Budget Item Notes'
  ContentCtl='EasyGrants/Controls/PageSection/BudgetItem_Notes.ascx' />
      <Page Key='Uploads'
				NavKey='Uploads'
				PageTitle='Uploads'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/UploadsContentSS.ascx' />
      <Page Key='ProjectAgreement'
				NavKey='ProjectAgreement'
				PageTitle='Principal Investigator Agreement'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ProjectAgreementContent.ascx' />
      <Page Key='PDFGeneration'
				NavKey='PDFGeneration'
				PageTitle='PDF Generation'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PDFGeneration.ascx' />
      <Page Key='Validation'
				NavKey='Validation'
				PageTitle='Validation'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ValidateContent.ascx' />
      <Page Key='Submission'
				NavKey='Submission'
				PageTitle='Validate and Submit'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/SubmitContentKatz.ascx' />
      <Page Key='Home'
				NavKey='Home'
				PageTitle='Home'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/HomeContent.ascx' />
      <Page Key='Logout'
				NavKey='Logout'
				PageTitle='Log Out'
				ContentCtl='&CoreRoot;/Controls/Page/Logout_Content.ascx' />
      <Page Key='OrganizationEditor'
				NavKey='CurrentContactInfo'
				PageTitle='Organization Editor'
				ContentCtl='EasyGrants/Controls/PageSection/Organization_Editor.ascx' />
      <Page Key='OrganizationList'
				NavKey='Contacts'
				PageTitle='Matching Organizations'
				ContentCtl='EasyGrants/Controls/PageSection/Organization_List.ascx' >
      </Page>
    </Pages>


    <Validation>
      <ValidationHeader HeaderText='Application Validation'>
        <!-- Applicant Info -->
        <ValidationSection Key='CurrentContactInfo' DisplayName='Applicant Info' PageKey='CurrentContactInfo' RequiredText='Yes' DetailedRequiredText='Required'>
          <ValidationItem>
            <Requirement PropertyKey='Person'>
              <Filters>
                <Argument PropertyKey='FirstName' Value='' Operator='NotEqual'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='You have indicated your First Name.'
								MinCount='1'>
              </Result>
              <Result
								ResultCode='3'
								Message='You must indicate your First Name.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='Person'>
              <Filters>
                <Argument PropertyKey='LastName' Value='' Operator='NotEqual'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='You have indicated your Last Name.'
								MinCount='1'>
              </Result>
              <Result
								ResultCode='3'
								Message='You must indicate your Last Name.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='Person.PersonPrimaryEMail'>
              <Filters>
                <Argument PropertyKey='ContactValue1' Value='' Operator='NotEqual'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='You have indicated your E-mail Address.'
								MinCount='1'>
              </Result>
              <Result
								ResultCode='3'
								Message='You must indicate your E-mail Address.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject'>
              <Filters>
                <Argument PropertyKey='PrimaryOrganizationID' Value='' Operator='NotEqual'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='You have indicated your Institution.'
								MinCount='1'>
              </Result>
              <Result
								ResultCode='3'
								Message='You must indicate your Institution.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPrimaryPI'>
              <Filters>
                <Argument PropertyKey='CountryID' Value='' Operator='NotEqual'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='You have indicated your Country of Citizenship.'
								MinCount='1'>
              </Result>
              <Result
								ResultCode='3'
								Message='You must indicate your Country of Citizenship.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPrimaryPI'>
              <Filters>
                <Argument PropertyKey='ImmigrationID' Value='' Operator='NotEqual'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='You have indicated your Immigration Status/Visa.'
								MinCount='1'>
              </Result>
              <Result
								ResultCode='3'
								Message='You must indicate your Immigration Status/Visa.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
        </ValidationSection>

        <!-- CurrentContactInfo -->
        <!--
				<ValidationSection Key='CurrentContactInfo' DisplayName='Current Contact Info' PageKey='CurrentContactInfo' RequiredText='Yes' DetailedRequiredText='Required'>
					<ValidationItem>
						<Requirement PropertyKey='Person'>
							<Filters>
								<Argument PropertyKey='FirstName' Value='' Operator='NotEqual'/>
							</Filters>	
						</Requirement>
						<Results>
							<Result
								ResultCode='1'
								Message='You have provided a First Name.'
								MinCount='1'>
							</Result>
							<Result
								ResultCode='3'
								Message='You must provide your First name.'
								MaxCount='0'>
							</Result>
						</Results>
					</ValidationItem>		
					<ValidationItem>
						<Requirement PropertyKey='Person'>
							<Filters>
								<Argument PropertyKey='LastName' Value='' Operator='NotEqual'/>
							</Filters>	
						</Requirement>
						<Results>
							<Result
								ResultCode='1'
								Message='You have provided a Last Name.'
								MinCount='1'>
							</Result>
							<Result
								ResultCode='3'
								Message='You must provide your Last name.'
								MaxCount='0'>
							</Result>
						</Results>
					</ValidationItem>		
					<ValidationItem>
						<Requirement PropertyKey='GranteeProject'>
							<Filters>
								<Argument PropertyKey='PrimaryOrganizationID' Value='' Operator='NotEqual'/>
							</Filters>	
						</Requirement>
						<Results>
							<Result
								ResultCode='1'
								Message='You have provided an Institution.'
								MinCount='1'>
							</Result>
							<Result
								ResultCode='3'
								Message='You must provide your Institution.'
								MaxCount='0'>
							</Result>
						</Results>
					</ValidationItem>		
											
				</ValidationSection> 
				-->
        <!-- Address -->
        <ValidationSection Key='AddressInfo' DisplayName='Address Info' PageKey='AddressInfo'>
          <ValidationItem>
            <Requirement PropertyKey='Person.PersonAddress'>
              <Filters>
                <Argument PropertyKey='Address1' Value='' Operator='NotEqual'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='You have provided an Address record.'
								MinCount='1'>
              </Result>
              <Result
								ResultCode='3'
								Message='You must provide at least one Address record.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
        </ValidationSection>


        <!-- PersonalData -->
        <ValidationSection Key='PersonalData' DisplayName='Personal Data' PageKey='PersonalData'>
          <ValidationItem>
            <Requirement PropertyKey='Person'>
              <Filters>
                <Argument PropertyKey='RaceID' Value='' Operator='NotEqual' Bool=''/>
                <Argument PropertyKey='EthnicityID' Value='' Operator='NotEqual' Bool='Or'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='This section is valid.'
								MinCount='1'>
              </Result>
              <Result
								ResultCode='2'
								Message='You have not indicated Race or Ethnicity.  However, providing this information is optional.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
        </ValidationSection>

        <!-- ProjectPersonnel -->
        <ValidationSection Key='ProjectPersonnel' DisplayName='Project Personnel' PageKey='ProjectPersonnel'>
          <ValidationItem>
            <Requirement PropertyKey='ProjectPersonnels.RelatedWFTA'>
              <Filters>
                <Argument PropertyKey='WfTaskRoleID' Value='107'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='You have entered and notified a Sponsor.'
								MinCount='1'>
              </Result>
              <Result
								ResultCode='3'
								Message='You must enter and notify a Sponsor.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='ProjectPersonnels.RelatedWFTA'>
              <Filters>
                <Argument PropertyKey='WfTaskRoleID' Value='107'/>
                <Argument PropertyKey='WfTaskStatusID' Value='2'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='Your Sponsor has submitted their portion.'
								MinCount='1'>
              </Result>
              <Result
								ResultCode='3'
								Message='You have entered a Sponsor, but
									he/she has not submitted their requirements. You cannot submit unless your 
									Sponsor has submitted their portion.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='ProjectPersonnels.RelatedWFTA'>
              <Filters>
                <Argument PropertyKey='WfTaskRoleID' Value='108'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='You have entered a Reference.'
								MinCount='1'>
              </Result>
              <Result
								ResultCode='3'
								Message='You must enter one Reference.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>

        </ValidationSection>
        <!--
				<ValidationSection Key='ProjectInformation' DisplayName='Project Information' PageKey='ProjectInformation' RequiredText='No' DetailedRequiredText='Not Required'>	
					<ValidationItem>
						<Requirement PropertyKey='GranteeProject'>
							<Filters>
								<Argument PropertyKey='ApplicantAHAID' Value='' Operator='NotEqual'/>
							</Filters>	
						</Requirement>
						<Results>
							<Result
								ResultCode='1'
								Message='You have entered an Applicant AHA Membership Identification Number.'
								MinCount='1'>
							</Result>
							<Result
								ResultCode='3'
								Message='You must enter an Applicant AHA Membership Identification Number.'
								MaxCount='12'>
							</Result>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='GranteeProject'>
							<Filters>
								<Argument PropertyKey='SponsorAHAID' Value='' Operator='NotEqual'/>
							</Filters>	
						</Requirement>
						<Results>
							<Result
								ResultCode='1'
								Message='You have entered an Sponsor AHA Membership Identification Number.'
								MinCount='1'>
							</Result>
							<Result
								ResultCode='3'
								Message='You must enter an Sponsor AHA Membership Identification Number.'
								MaxCount='12'>
							</Result>
						</Results>
					</ValidationItem>	
					
				</ValidationSection>-->
        <ValidationSection Key='UploadCV' DisplayName='Upload CV' PageKey='CVUpload' RequiredText='No' DetailedRequiredText='Not Required'>
          <ValidationItem>
            <Requirement PropertyKey='SubmittedFile'>
              <Filters>
                <Argument PropertyKey='FileTypeID' Value='35'/>
                <Argument PropertyKey='ConversionStatus' Value='-1'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='You have successfully uploaded the CV.'
								MinCount='1'>
              </Result>
              <Result
								ResultCode='3'
								Message='Either no CV was uploaded, or file conversion was not successful.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>
        </ValidationSection>
        <ValidationSection Key='UploadAbstract' DisplayName='Upload Abstract' PageKey='AbstractUpload' RequiredText='No' DetailedRequiredText='Not Required'>
          <ValidationItem>
            <Requirement PropertyKey='SubmittedFile'>
              <Filters>
                <Argument PropertyKey='FileTypeID' Value='36'/>
                <Argument PropertyKey='ConversionStatus' Value='-1'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='You have successfully uploaded the Abstract.'
								MinCount='1'>
              </Result>
              <Result
								ResultCode='3'
								Message='Either no Abstract was uploaded, or file conversion was not successful.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>
        </ValidationSection>
        <ValidationSection Key='UploadManuscript' DisplayName='Upload Manuscript' PageKey='ManuUpload' RequiredText='No' DetailedRequiredText='Not Required'>
          <ValidationItem>
            <Requirement PropertyKey='SubmittedFile'>
              <Filters>
                <Argument PropertyKey='FileTypeID' Value='36'/>
                <Argument PropertyKey='ConversionStatus' Value='-1'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='You have successfully uploaded the Manuscript.'
								MinCount='1'>
              </Result>
              <Result
								ResultCode='3'
								Message='Either no Manuscript was uploaded, or file conversion was not successful.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>
        </ValidationSection>
        <ValidationSection Key='ScienceClassification' DisplayName='Science Classification' PageKey='ScienceClassification' RequiredText='No' DetailedRequiredText='Not Required'>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProjectInfo'>
              <Filters>
                <Argument PropertyKey='ScienceID' Value='' Operator='NotEqual'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='You have selected a Science Classification.'
								MinCount='1'>
              </Result>
              <Result
								ResultCode='3'
								Message='You must select a Science Classification.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
        </ValidationSection>

        <ValidationSection Key='PDFGeneration' DisplayName='PDF Generation' PageKey='PDFGeneration' RequiredText='No' DetailedRequiredText='Not Required'>
          <ValidationItem Type='Method'>
            <Action
							Object='ModulePage'
							Method='ValidateFinalPDF'>
              <Parameters>
                <Argument Value='-1'/>
              </Parameters>
            </Action>
            <Results>
              <Result
								ResultCode='1'
								Message='Final PDF has been generated.'
								MinCount='1'/>
              <Result
								ResultCode='3'
								Message='Your final PDF has not been generated.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>
        </ValidationSection>

      </ValidationHeader>
    </Validation>

  </Module>
</EasyGrants>