<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "Application">
]>
<EasyGrants>
  <Outcomes ProgramKey='Council Application'
		DefaultOutcomeKey='15'
		DefaultOutcomeDescription='Not Submitted'>
    <!--Senior Scholar Global Infectious Diseases APPLICATION SUBMISSION-->
    <Outcome OutcomeKey='16' OutcomeDescription='Submitted Pending' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='8' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
      </Filters>
      <Tasks>
        <!--
				<Task TaskKey='7' Description='GID - SS Appl SAB Review' Status='1' NoPersonID='True' RoleID='7'/>
				-->
      </Tasks>
      <Events>
        <Event EventKey='9' Description='Early Career Translational Application Submission'/>
        <Event EventKey='19' Description='Department Chair Notification'/>
      </Events>
    </Outcome>
    <Outcome OutcomeKey='89' OutcomeDescription='Katz Sponsor Not Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='14' />
      </Filters>
      <Tasks>
        <!--
				<Task TaskKey='7' Description='GID - SS Appl SAB Review' Status='1' NoPersonID='True' RoleID='7'/>
				-->
      </Tasks>
      <Events>
        <Event EventKey='19' Description='System - Project Personnel Notification'/>
      </Events>
    </Outcome>
    <Outcome OutcomeKey='21' OutcomeDescription='Katz Dept Head Not Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='17' />
      </Filters>
      <Tasks>
        <!--
				<Task TaskKey='7' Description='GID - SS Appl SAB Review' Status='1' NoPersonID='True' RoleID='7'/>
				-->
      </Tasks>
      <Events>
        <Event EventKey='19' Description='Department Chair Notification'/>
      </Events>
    </Outcome>
    <Outcome OutcomeKey='91' OutcomeDescription='Katz Reference Not Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='15' />
      </Filters>
      <Tasks>
        <!--
				<Task TaskKey='7' Description='GID - SS Appl SAB Review' Status='1' NoPersonID='True' RoleID='7'/>
				-->
      </Tasks>
      <Events>
        <Event EventKey='19' Description='System - Project Personnel Notification'/>
      </Events>
    </Outcome>
    <!-- Council Acceptance Submitted  -->
    <Outcome OutcomeKey='45' OutcomeDescription='Council Acceptance Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='33' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
      </Filters>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='IsAccepted' Value='True'>
          <RelatedProperty PropertyKey='GranteeProjectAHA'/>
        </Argument>
      </Filters>
      <Tasks>
        <Task TaskKey='32' Description='Council Pre-Award' Status='1' Outcome='44' RoleID='12'/>
      </Tasks>
      <Events>
        <Event EventKey='24' Description='System - Acceptance Submission Confirmation'/>
      </Events>
    </Outcome>

    <!-- TODO:  create Event notifying AHA if a New Organization is added by an Applicant during application process -->
    <!-- use Organization DO with NotInList and CreatedUser filters and if NotInList = "1" send e-mail -->
    <!-- may have to generate e-mail on submission code behind -->


  </Outcomes>
</EasyGrants>