<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "Application">
]>
<EasyGrants>

  <Outcomes ProgramKey='ExpenditureReport'
		DefaultOutcomeKey='51'
		DefaultOutcomeDescription='PI Approved'>


    <!-- PI Expenditure Report Approval Submitted -->
    <Outcome OutcomeKey='51' OutcomeDescription='PI Approved' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='37' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='12' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
      </Filters>
      <Tasks>
        <Task TaskKey='38' Description='Expenditure Report Review' Status='1' NoPersonID='True' RoleID='7'/>
      </Tasks>
      <Events>
        <Event EventKey='27' Description='System - PI Approval Submission Confirmation'/>
      </Events>
    </Outcome>
  </Outcomes>
</EasyGrants>

