<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "Application">
]>
<EasyGrants>
  <Outcomes ProgramKey='ECA'
		DefaultOutcomeKey='3'
		DefaultOutcomeDescription='Pending Submission'>
    <!--Senior Scholar Global Infectious Diseases APPLICATION SUBMISSION-->
    <Outcome OutcomeKey='3' OutcomeDescription='Pending Submission' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='1' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
      </Filters>
      <Tasks>
        <!--
				<Task TaskKey='7' Description='GID - SS Appl SAB Review' Status='1' NoPersonID='True' RoleID='7'/>
				-->
      </Tasks>
      <Events>
        <Event EventKey='9' Description='Early Career Translational Application Submission'/>
        <Event EventKey='11' Description='Department Chair Notification'/>
      </Events>
    </Outcome>
  </Outcomes>
</EasyGrants>
