<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "Application">
  <!ENTITY PageName "ModuleContent.aspx">
  <!ENTITY ModuleConfig "RenewalConfig">
  <!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
  <!ENTITY NavElementEnabled "True">
]>
<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		EnabledAfterSubmit  'Indicates if navigation element is enabled after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants
-->
<EasyGrants>
  <Module UserClass='cEGWfTAUser' PageContent='XML:Pages' DefaultPageFrameKey='Option01' ModuleName='&ModuleName;' DescriptiveName='Renewal Application' ModuleConfig='&ModuleConfig;' PageName='&PageName;' DefaultPageKey='Main' InvalidURL=''>
    <Class Name='cEGWfTAUser' Assembly='EasyGrants' FullName='EasyGrants.Web.User.cEGWfTAUser' CopyUser='cEGHomeUser' UniqueHashKey='_ECAppl' />
    <PageFrames>
      <PageFrame Key='Option01' PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx' />
      <PageFrame Key='Option02' PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx' />
      <PageFrame Key='Print' PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx' />
    </PageFrames>
    <Navigation Key='ECAppl'>
      <NavElement Key='ReturnHome'
				NavTitle='Home'
				Enabled='&NavElementEnabled;' />
      <NavElement Key='Sep1'	NavTitle='(' />
      <NavElement Key='Main'
				NavTitle='Main'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Main'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Main_Page_Help.pdf' />
      <NavElement Key='PIContactInfo'
				NavTitle='PI Contact Info'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=PIContactInfo'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/PI_Contact_Information_Page_Help.pdf' />
      <NavElement Key='CoPIContactInfo'
				NavTitle='Co-Investigator'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=CoPIContactInfo'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Primary_CoInvestigator_Information_Page_Help.pdf' />
      <NavElement Key='AddCoPIContactInfo'
				NavTitle='Additional Co-Investigator'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=AddCoPIContactInfo'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Additional_CoInvestigator_Page_Help.pdf' />
      <NavElement Key='DepartmentChairContactInfo'
				NavTitle='Department Chair Contact'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=DepartmentChairContactInfo'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Department_Chair_Contact_Information_Page_Help.pdf' />
      <NavElement Key='AdditionalInstitutionContacts'
				NavTitle='Additional Institution Contacts'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=AdditionalInstitutionContacts'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Additional_Institution_Contacts_Information_Page_Help.pdf' />
      <NavElement Key='ProjectInformation'
				NavTitle='Project Info Summary'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ProjectInformation'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Project_Information_Summary_Page_Help.pdf' />
      <NavElement Key='Assurances'
				NavTitle='Compliance'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Assurances'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Assurances_Page_Help.pdf' />
      <NavElement Key='ProjectDescription'
				NavTitle='Project Description'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ProjectDescription'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Project_Description_Page_Help.pdf' />
      <NavElement Key='ProjectDescriptionText'
				NavTitle='Project Description Text'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ProjectDescriptionText'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Project_Description_Page_Help.pdf' />
      <NavElement Key='OtherSupport'
				NavTitle='Funding Sources'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=OtherSupport'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Funding_Sources_Page_Help.pdf' />
      <NavElement Key='Budget'
				NavTitle='Budget'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Budget'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Budget_Page_Help.pdf' />
      <NavElement Key='CVUploads'
				NavTitle='CV Uploads'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=CVUploads'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/CV_Uploads_Page_Help.pdf' />
      <NavElement Key='ProjectAgreement'
				NavTitle='Agreement'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ProjectAgreement'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Agreement_Page_Help.pdf' />
      <NavElement Key='Validation'
				NavTitle='Validate'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Validation'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Final_Report_Generation.pdf' />
      <NavElement Key='Submission'
				NavTitle='Submit Renewal Application'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Submission_Page_Help.pdf' />
      <NavElement Key='Sep2' NavTitle='(' />
      <NavElement Key='Guidelines'
				NavTitle='Guidelines'
				Enabled='&NavElementEnabled;'
				Target='Blank'
				SourceFile='&ModuleRoot;/&ModuleName;/Help/EC_admin_application_guidelines.pdf' />
      <NavElement Key='Help'
				NavTitle='Help'
				Enabled='&NavElementEnabled;' />
      <NavElement Key='Logout'
				NavTitle='Logout'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout' />
      <NavElement Key='Sep3' NavTitle='(' />
      <NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='' />
    </Navigation>
    <Pages>
      <Page Key='Main'
				NavKey='Main'
				PageTitle='Main'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Renewal/MainContent.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Renewal/SubmittedContent.ascx' />
      <Page Key='PIContactInfo'
				NavKey='PIContactInfo'
				PageTitle='PI Contact Information'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PIContactInfoContent.ascx' />
      <Page Key='CoPIContactInfo'
				NavKey='CoPIContactInfo'
				PageTitle='Primary Co-Investigator Information Editor'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/CoPIContactInfoContent.ascx' />
      <Page Key='AddCoPIContactInfo'
				NavKey='AddCoPIContactInfo'
				PageTitle='Additional Co-Investigator Contact Information'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/AddPIContactInfoContent.ascx' />
      <Page Key='DepartmentChairContactInfo'
				NavKey='DepartmentChairContactInfo'
				PageTitle='Deparment Chair Contact Information'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/DepartmentChair_Editor.ascx' />
      <Page Key='DepartmentChairList'
				NavKey='DepartmentChairContactInfo'
				PageTitle='Deparment Chair Matching Contacts'
				ContentCtl='EasyGrants/Controls/PageSection/DepartmentChair_List.ascx' />
      <Page Key='Contact'
				NavKey='Contacts'
				PageTitle=' Person Contact'
				ContentCtl='Implementation/Modules/Staff/Controls/Page/Contacts/PersonContact.ascx' />
      <Page Key='AdditionalInstitutionContacts'
				NavKey='AdditionalInstitutionContacts'
				PageTitle='Additional Institution Contacts'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/AddInstitutionContactsContent.ascx' />
      <Page Key='AdditionalInstitutionContactsEditor'
				NavKey='AdditionalInstitutionContacts'
				PageTitle='Additional Institution Contacts Editor'
				ContentCtl='EasyGrants/Controls/PageSection/InstitutionContacts_Editor.ascx' />
      <Page Key='AddPIEditor'
				NavKey='AddCoPIContactInfo'
				PageTitle='Additional Co-Investigator Editor'
				ContentCtl='EasyGrants/Controls/PageSection/AddPIEditor.ascx' />
      <Page Key='ProjectDescription'
				NavKey='ProjectDescription'
				PageTitle='Project Description'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Renewal/ProjectDescription.ascx' />
      <Page Key='ProjectDescriptionText'
				NavKey='ProjectDescriptionText'
				PageTitle='Project Description Text'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Renewal/ProjectDescriptionText.ascx' />
      <Page Key='OtherSupport'
				NavKey='OtherSupport'
				PageTitle='Funding Sources'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Renewal/OtherSupportContent.ascx' />
      <Page Key='OtherSupportEditor'
				NavKey='OtherSupport'
				PageTitle='Funding Source Editor'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Renewal/OtherSupportEditorContent.ascx' />
      <Page Key='Budget'
				NavKey='Budget'
				PageTitle='Budget'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Renewal/GPBudgetContent.ascx' />
      <!--
				ContentCtl='EasyGrants/Controls/PageSection/BudgetPeriod_Editor.ascx' />
				-->
      <Page Key='CVUploads'
				NavKey='CVUploads'
				PageTitle='CV Uploads'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/CVUploads.ascx' />
      <Page Key='ProjectInformation'
				NavKey='ProjectInformation'
				PageTitle='Project Information Summary'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ProjectInfoContent.ascx' />
      <Page Key='Assurances'
				NavKey='Assurances'
				PageTitle='Compliance'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Renewal/Assurances.ascx' />
      <Page Key='GranteeProjectBudgetEditor'
				NavKey='Budget'
				PageTitle='Budget Editor'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/BudgetEditorContent.ascx' />
      <Page Key='BudgetItemNotes'
				NavKey='Budget'
				PageTitle='Budget Item Notes'
				ContentCtl='EasyGrants/Controls/PageSection/BudgetItem_Notes.ascx' />
      <Page Key='Uploads'
				NavKey='Uploads'
				PageTitle='Uploads'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/UploadsContentSS.ascx' />
      <Page Key='ProjectAgreement'
				NavKey='ProjectAgreement'
				PageTitle='Principal Investigator Agreement'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Renewal/ProjectAgreementContent.ascx' />
      <Page Key='Validation'
				NavKey='Validation'
				PageTitle='Validation'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ValidateContent.ascx' />
      <Page Key='Submission'
				NavKey='Submission'
				PageTitle='Submission'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Renewal/SubmitContent.ascx' />
      <Page Key='Home'
				NavKey='Home'
				PageTitle='Home'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/HomeContent.ascx' />
      <Page Key='Logout'
				NavKey='Logout'
				PageTitle='Log Out'
				ContentCtl='&CoreRoot;/Controls/Page/Logout_Content.ascx' />
    </Pages>

    <Validation>
      <ValidationHeader HeaderText='Early Career Translational Research Award Renewal Application 2008'>
        <!-- PI Contact Info -->
        <ValidationSection Key='PIContactInfo' DisplayName='PI Contact Info' PageKey='PIContactInfo' RequiredText='Yes' DetailedRequiredText='Required'>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='1' />
                <Argument PropertyKey='FirstName' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the First Name for the Principal Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='1' />
                <Argument PropertyKey='LastName' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Last Name for the Principal Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='1' />
                <Argument PropertyKey='Title' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Title for the Principal Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='1' />
                <Argument PropertyKey='PositionYears' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must enter a Number of Years in current position for the Principal Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='1' />
                <Argument PropertyKey='Address1' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide an Address 1 for the Principal Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='1' />
                <Argument PropertyKey='City' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the City for the Principal Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='1' />
                <Argument PropertyKey='StateID' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the State/Province for the Principal Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='1' />
                <Argument PropertyKey='Zip' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Zip for the Principal Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='1' />
                <Argument PropertyKey='CountryID' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Country for the Principal Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='1' />
                <Argument PropertyKey='Email' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the E-mail for the Principal Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='1' />
                <Argument PropertyKey='PhoneNumber' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Phone number for the Principal Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
        </ValidationSection>

        <!-- Co PI Contact Info -->
        <ValidationSection Key='CoPIContactInfo' DisplayName='Primary Co-Investigator Information' PageKey='CoPIContactInfo' RequiredText='Yes' DetailedRequiredText='Required'>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='2' />
                <Argument PropertyKey='FirstName' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the First Name for the Primary Co-Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='2' />
                <Argument PropertyKey='LastName' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Last Name for the Co-Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='2' />
                <Argument PropertyKey='Title' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Title for the Principal Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='2' />
                <Argument PropertyKey='Address1' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide an Address 1 for the Co-Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='2' />
                <Argument PropertyKey='City' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the City for the Co-Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='2' />
                <Argument PropertyKey='StateID' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the State/Province for the Co-Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='2' />
                <Argument PropertyKey='Zip' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Zip for the Co-Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='2' />
                <Argument PropertyKey='CountryID' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Country for the Co-Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='2' />
                <Argument PropertyKey='Email' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the E-mail for the Co-Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='2' />
                <Argument PropertyKey='PhoneNumber' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Phone number for the Co-Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectPI'>
              <Filters>
                <Argument PropertyKey='PITypeID' Value='2' />
                <Argument PropertyKey='OrganizationName' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Institution for the Co-Investigator.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
        </ValidationSection>

        <!-- Additional Co PI Contact Info -->
        <ValidationSection Key='AddCoPIContactInfo' DisplayName='Additional Co-Investigator Contact Information (if applicable)' PageKey='AddCoPIContactInfo' RequiredText='No' DetailedRequiredText='Not Required'>
          <ValidationItem Type='Method'>
            <Action Object='ModulePage' Method='ValidateAddCoPIContact' />
            <Results>
              <Result ActualResult='True' ResultCode='' Message='' />
            </Results>
          </ValidationItem>
        </ValidationSection>

        <!-- Department Chair Contact Info -->
        <ValidationSection Key='DeparmentChairContactInfo' DisplayName='Department Chair Contact' PageKey='DepartmentChairContactInfo' RequiredText='No' DetailedRequiredText='Not Required'>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectDepartmentChair'>
              <Filters>
                <Argument PropertyKey='FirstName' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the First Name for the BME Department or Program Chair.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectDepartmentChair'>
              <Filters>
                <Argument PropertyKey='LastName' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Last Name for the BME Department or Program Chair.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectDepartmentChair'>
              <Filters>
                <Argument PropertyKey='Title' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Title for the BME Department or Program Chair.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectDepartmentChair'>
              <Filters>
                <Argument PropertyKey='Address1' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide an Address 1 for the BME Department or Program Chair.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectDepartmentChair'>
              <Filters>
                <Argument PropertyKey='City' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the City for the BME Department or Program Chair.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectDepartmentChair'>
              <Filters>
                <Argument PropertyKey='StateID' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the State/Province for the BME Department or Program Chair.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectDepartmentChair'>
              <Filters>
                <Argument PropertyKey='Zip' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Zip for the BME Department or Program Chair.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectDepartmentChair'>
              <Filters>
                <Argument PropertyKey='CountryID' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Country for the BME Department or Program Chair.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>

          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectDepartmentChair'>
              <Filters>
                <Argument PropertyKey='PhoneNumber' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Phone number for the BME Department or Program Chair.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectDepartmentChair'>
              <Filters>
                <Argument PropertyKey='Email' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the E-mail for the BME Department or Program Chair.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectDepartmentChair'>
              <Filters>
                <Argument PropertyKey='Email' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the confirmation E-mail for the BME Department or Program Chair.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
        </ValidationSection>

        <!-- Additional Institution Contact Info -->
        <ValidationSection Key='AddInstitutionContactInfo' DisplayName='Additional Institution Contact Information (if applicable)' PageKey='AdditionalInstitutionContacts' RequiredText='No' DetailedRequiredText='Not Required'>
          <ValidationItem Type='Method'>
            <Action Object='ModulePage' Method='ValidateAddInstitutionContact' />
            <Results>
              <Result ActualResult='True' ResultCode='' Message='' />
            </Results>
          </ValidationItem>
        </ValidationSection>

        <!-- Project Information Summary -->
        <ValidationSection Key='ProjectInfoSummary' DisplayName='Project Information Summary' PageKey='ProjectInformation' RequiredText='No' DetailedRequiredText='Not Required'>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject'>
              <Filters>
                <Argument PropertyKey='GrantTitle' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide a Title for your project.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectWHCF'>
              <Filters>
                <Argument PropertyKey='ProjectedStartDate' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide a Projected Start Date for your project.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectWHCF'>
              <Filters>
                <Argument PropertyKey='ProjectAbstract' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide an Abstract for your project.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem Type='Method'>
            <Action Object='ModulePage' Method='ValidateKeyword' />
            <Results>
              <Result ResultCode='3' Message='You must provide at least one general area research keyword.' />
            </Results>
          </ValidationItem>
        </ValidationSection>

        <!-- Assurances -->
        <ValidationSection Key='Assurances' DisplayName='Compliance' PageKey='Assurances'>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectWHCF'>
              <Filters>
                <Argument PropertyKey='IsHumanSubject' Value='True' />
                <Argument PropertyKey='IsHumanSubject' Value='False' Bool='Or' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You did not answer the Human Subjects question.' MaxCount='0' />
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectWHCF'>
              <Filters>
                <Argument PropertyKey='IsAnimalSubject' Value='True' />
                <Argument PropertyKey='IsAnimalSubject' Value='False' Bool='Or' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You did not answer the Animal Subjects question.' MaxCount='0' />
            </Results>
          </ValidationItem>
        </ValidationSection>

        <!-- ProjectDescription -->
        <ValidationSection Key='ProjectDescription' DisplayName='Project Description' PageKey='ProjectDescription'>
          <ValidationItem>
            <Requirement PropertyKey='SubmittedFile'>
              <Filters>
                <Argument PropertyKey='FileTypeID' Value='26' />
                <Argument PropertyKey='ConversionStatus' Value='-1' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='Either no Project Description file was uploaded, or file conversion was not successful.' MaxCount='0' />
            </Results>
          </ValidationItem>
        </ValidationSection>

        <!-- ProjectDescriptionText -->
        <ValidationSection Key='ProjectDescriptionText' DisplayName='Project Description Text' PageKey='ProjectDescriptionText'>
          <ValidationItem>
            <Requirement PropertyKey='AppGranteeProject.GranteeProjectDescriptionWHCF'>
              <Filters>
                <Argument PropertyKey='Desc1' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide your general objectives.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='AppGranteeProject.GranteeProjectDescriptionWHCF'>
              <Filters>
                <Argument PropertyKey='Desc2' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide your detailed research plans.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='AppGranteeProject.GranteeProjectDescriptionWHCF'>
              <Filters>
                <Argument PropertyKey='Desc3' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide your envisioned product(s).' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='AppGranteeProject.GranteeProjectDescriptionWHCF'>
              <Filters>
                <Argument PropertyKey='Desc4' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide your project-related commercialization.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='AppGranteeProject.GranteeProjectDescriptionWHCF'>
              <Filters>
                <Argument PropertyKey='Desc5' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide your project-related presentation.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='AppGranteeProject.GranteeProjectDescriptionWHCF'>
              <Filters>
                <Argument PropertyKey='Desc6' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide your invention disclosure.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='AppGranteeProject.GranteeProjectDescriptionWHCF'>
              <Filters>
                <Argument PropertyKey='Desc7' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide your project-related grants.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
        </ValidationSection>

        <!-- Funding Sources -->
        <ValidationSection Key='FundingSources' DisplayName='Funding Sources' PageKey='OtherSupport' RequiredText='No' DetailedRequiredText='Not Required'>
          <!--
					<ValidationItem Type='Method'>
						<Action
							Object='ModulePage'
							Method='ValidateFunding'/>
						<Results>
							<Result
								ResultCode='3'
								Message='You must provide at least one additional funding source for your project.'/>
						</Results>
					</ValidationItem>	
					-->
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectOtherSupports'>
              <Requirement PropertyKey='GranteeProject.GranteeProjectWHCF' MinCount='1' ResultCode='0'>
                <Filters>
                  <Argument PropertyKey='IsOtherSupport' Value='False' />
                </Filters>
              </Requirement>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='If you select Yes, You must provide at least one additional funding source for your project.' MaxCount='0' />
            </Results>
          </ValidationItem>
        </ValidationSection>

        <!-- Budget -->
        <ValidationSection Key='Budget' DisplayName='Budget' PageKey='Budget' RequiredText='No' DetailedRequiredText='Not Required'>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.Budget.BudgetPeriods'>
              <Filters>
                <Argument PropertyKey='TotalSalary' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Total Salary amount.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.Budget.BudgetPeriods'>
              <Filters>
                <Argument PropertyKey='TotalMaterials' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Total Materials/Supplies amount.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.Budget.BudgetPeriods'>
              <Filters>
                <Argument PropertyKey='TotalEquipment' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Total Equipment amount.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.Budget.BudgetPeriods'>
              <Filters>
                <Argument PropertyKey='TotalTravel' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Total Travel amount.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.Budget.BudgetPeriods'>
              <Filters>
                <Argument PropertyKey='TotalOther' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Total Other Expenses amount.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.Budget.BudgetPeriods'>
              <Filters>
                <Argument PropertyKey='IndirectCosts' Value='' Operator='NotEqual' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must provide the Total Indirect Costs amount.' MaxCount='0'></Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='SubmittedFile'>
              <Filters>
                <Argument PropertyKey='FileTypeID' Value='14' />
                <Argument PropertyKey='ConversionStatus' Value='-1' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='Either no Budget Worksheet file was uploaded, or file conversion was not successful.' MaxCount='0' />
            </Results>
          </ValidationItem>
        </ValidationSection>

        <!-- CV Uploads -->
        <ValidationSection Key='CVUploads' DisplayName='CV Uploads' PageKey='CVUploads'>
          <ValidationItem>
            <Requirement PropertyKey='SubmittedFile'>
              <Filters>
                <Argument PropertyKey='FileTypeID' Value='15' />
                <Argument PropertyKey='ConversionStatus' Value='-1' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='Either no PI CV file was uploaded, or file conversion was not successful.' MaxCount='0' />
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='SubmittedFile'>
              <Filters>
                <Argument PropertyKey='FileTypeID' Value='22' />
                <Argument PropertyKey='ConversionStatus' Value='-1' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='Either no primary co-investigator CV file was uploaded, or file conversion was not successful.' MaxCount='0' />
            </Results>
          </ValidationItem>
        </ValidationSection>

        <!-- Agreement -->
        <ValidationSection Key='Agreement' DisplayName='Agreement' PageKey='ProjectAgreement' RequiredText='No' DetailedRequiredText='Not Required'>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectWHCF'>
              <Filters>
                <Argument PropertyKey='IsAgree' Value='True' />
              </Filters>
            </Requirement>
            <Results>
              <Result ResultCode='3' Message='You must agree to the terms and conditions of the application.' MaxCount='0' />
            </Results>
          </ValidationItem>
        </ValidationSection>
      </ValidationHeader>
    </Validation>
  </Module>
</EasyGrants>