<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "Application">
]>
<EasyGrants>
  <Outcomes ProgramKey='NSGID'
		DefaultOutcomeKey='159'
		DefaultOutcomeDescription='NS GID Application Not Submitted'>
    <!--REFERENCE-->
    <Outcome OutcomeKey='124' OutcomeDescription='RefereeNotified' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='21' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='1'  />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='4' />
      </Filters>
      <Tasks>
      </Tasks>
      <Events>
        <Event EventKey='4' Description='Reference Notification E-mail'/>
      </Events>
    </Outcome>
    <Outcome OutcomeKey='127' OutcomeDescription='RefereeNotified' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='22' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='1'  />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='4' />
      </Filters>
      <Tasks>
      </Tasks>
      <Events>
        <Event EventKey='4' Description='Reference Notification E-mail'/>
      </Events>
    </Outcome>
    <Outcome OutcomeKey='15' OutcomeDescription='DeleteReferee' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='21' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='3'  />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskOutcomeID' Value='11' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='4' />
      </Filters>
      <Tasks>
      </Tasks>
      <Events>
        <Event EventKey='3' Description='Referee Removed E-mail'/>
      </Events>
    </Outcome>
    <Outcome OutcomeKey='16' OutcomeDescription='DeleteReferee' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='22' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='3'  />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskOutcomeID' Value='12' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='4' />
      </Filters>
      <Tasks>
      </Tasks>
      <Events>
        <Event EventKey='3' Description='Referee Removed E-mail'/>
      </Events>
    </Outcome>
    <Outcome OutcomeKey='125' OutcomeDescription='ReferenceSubmitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='21' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='4' />
      </Filters>
      <Tasks>
      </Tasks>
      <Events>
        <Event EventKey='6' Description='Reference Submitted'/>
      </Events>
    </Outcome>
    <Outcome OutcomeKey='128' OutcomeDescription='ReferenceSubmitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='22' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2'  />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='4' />
      </Filters>
      <Tasks>
      </Tasks>
      <Events>
        <Event EventKey='6' Description='Reference Submitted'/>
      </Events>
    </Outcome>

    <!--Dean-->
    <!--
		<Outcome OutcomeKey='25' OutcomeDescription='DeanNotified' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='1'  />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='5' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='1' />
			</Filters>
			<Tasks>
			</Tasks>
			<Events>
				<Event EventKey='4' Description='Dean Notification E-mail'/>
			</Events>
		</Outcome>
		<Outcome OutcomeKey='26' OutcomeDescription='DeanNotified' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='1'  />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='5' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='2' />
			</Filters>
			<Tasks>
			</Tasks>
			<Events>
				<Event EventKey='4' Description='Dean Notification E-mail'/>
			</Events>
		</Outcome>
		<Outcome OutcomeKey='27' OutcomeDescription='DeleteDean' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='3'  />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='1' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskOutcomeID' Value='25' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='5' />
			</Filters>
			<Tasks>
			</Tasks>
			<Events>
				<Event EventKey='5' Description='Dean Removed E-mail'/>
			</Events>
		</Outcome>		
		<Outcome OutcomeKey='28' OutcomeDescription='DeleteDean' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='3'  />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='2' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskOutcomeID' Value='26' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='5' />
			</Filters>
			<Tasks>
			</Tasks>
			<Events>
				<Event EventKey='5' Description='Dean Removed E-mail'/>
			</Events>
		</Outcome>
		<Outcome OutcomeKey='35' OutcomeDescription='DeanSubmitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2'  />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='1' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='5' />
			</Filters>
			<Tasks>
			</Tasks>
			<Events>
				<Event EventKey='11' Description='Reference Submitted'/>
			</Events>
		</Outcome>
		<Outcome OutcomeKey='36' OutcomeDescription='DeanSubmitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2'  />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='2' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskRoleID' Value='5' />
			</Filters>
			<Tasks>
			</Tasks>
			<Events>
				<Event EventKey='11' Description='Reference Submitted'/>
			</Events>
		</Outcome>
		-->

    <!--Default - has to be the last node-->
    <Outcome OutcomeKey='156' OutcomeDescription='' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
      </Filters>
      <Tasks>
      </Tasks>
      <Events>
      </Events>
    </Outcome>
  </Outcomes>
</EasyGrants>