<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "RenewalReview">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "RenewalReviewModuleConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>

<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		EnabledAfterSubmit  'Indicates if navigation element is enabled after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants

-->
<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		  PageContent='XML:Pages'
		  DefaultPageFrameKey='Option01'
		  ModuleName = '&ModuleName;'
		  DescriptiveName = 'Renewal Review'
		  ModuleConfig = '&ModuleConfig;'
		  PageName='&PageName;'
		  DefaultPageKey='Main'
		  InvalidURL=''>

		<Class Name='cEGWfTAUser'
			Assembly='EasyGrants'
			FullName='EasyGrants.Web.User.cEGWfTAUser'
			CopyUser= 'cEGHomeUser'
			UniqueHashKey='_RenewalReview' />

		<PageFrames>
			<PageFrame Key='Option01'
				PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
				PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
				PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

		<Navigation Key='Application'>
			<NavElement Key='StaffHome'
				NavTitle='Home'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;'
				SourceFile='&ModuleRoot;/Staff/ModuleContent.aspx?Config=ModuleConfig&amp;Page=Home'/>
			<NavElement Key='Sep2' NavTitle='('/>
			<NavElement Key='Main'
				NavTitle='Main'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Main'/>
		    <NavElement Key='EvalFormL'
				NavTitle='Renewal Inquiries Review'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=EvalFormL'/>
			<NavElement Key='FundingRecommendation'
				NavTitle='Funding Recommendation'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=FundingRecommendation'/>
			<NavElement Key='Submission'
				NavTitle='Review and Submit'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'/>
			<NavElement Key='Sep3' NavTitle='('/>
			<NavElement Key='Logout'
				NavTitle='Log Out'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
		</Navigation>

		<Pages>
			<Page Key='Main'
				NavKey='Main'
				PageTitle='Main'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Main.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReviewSubmitted.ascx'/>
			
			<Page Key='EvalFormL'
				NavKey='EvalFormL'
				PageTitle='Renewal Inquiries Review'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/EvalFormL.ascx'/>
			
			<Page Key='ApplicantPAIPlanReview'
				NavKey='ApplicantPAIPlanReview'
				PageTitle='Applicant PAI Plan Review'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/AppPAIPlanReview.ascx'/>
			
			<Page Key='GranteeProfileReview'
				NavKey='GranteeProfileReview'
				PageTitle='Grantee Profile Review'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/GranteeProfileReview.ascx'/>
			<Page Key='Certifications'
				NavKey='Certifications'
				PageTitle='Certifications'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Certifications.ascx'/>
			<Page Key='FundingRecommendation'
				NavKey='FundingRecommendation'
				PageTitle='Funding Recommendation'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/FundingRecommendation.ascx'/>
			<Page Key='GrantTermsAndConditions'
				NavKey='GrantTermsAndConditions'
				PageTitle='Grant Terms and Conditions'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/GrantTermsAndConditions.ascx'/>
			<Page Key='GrantTermsAndConditionsEditor'
				NavKey='GrantTermsAndConditions'
				PageTitle='Grant Terms and Conditions Editor'
				ContentCtl='&ModuleRoot;/ApplReview/Controls/Page/GrantTermsAndConditionsEditor.ascx'/>
			<Page Key='Submission'
				NavKey='Submission'
				PageTitle='Review and Submit'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReviewSubmit.ascx' />
			<Page Key='ReviewSummary'
				NavKey='EvaluationSummary'
				PageTitle='Evaluation Summary'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/ReviewSummary/ReviewSummary.ascx' />
			<Page Key='Logout'
				NavKey='Logout'
				PageTitle='Log Out'
				ContentCtl='&CoreRoot;/Controls/Page/Logout_Content.ascx' />
		</Pages>
		<Validation>
			<!--<ValidationSection Key="EvalFormA" DisplayName="Evaluation - Form A" PageKey="EvalFormA" >
				<ValidationItem>
					<Requirement PropertyKey='GranteeProject' >
					</Requirement>
					<Results>
					</Results>
				</ValidationItem>
			</ValidationSection>	
			<ValidationSection Key="EvalFormD" DisplayName="Evaluation - Form D" PageKey="EvalFormD">
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalEval'>
						<Filters>
							<Argument PropertyKey='FormD' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question related to Expenses and Revenues is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
			</ValidationSection>
			<ValidationSection Key="EvalFormG" DisplayName="Evaluation - Form G" PageKey="EvalFormG">
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalEval'>
						<Filters>
							<Argument PropertyKey='FormG' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question related to Form D and Form G is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
			</ValidationSection>
			<ValidationSection Key="EvalFormI" DisplayName="Evaluation - Form I" PageKey="EvalFormI">
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalEval'>
						<Filters>
							<Argument PropertyKey='FormI' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question related to Form I is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
			</ValidationSection>
			<ValidationSection Key="EvalFormK" DisplayName="Evaluation - Form K" PageKey="EvalFormK">
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalEval'>
						<Filters>
							<Argument PropertyKey='FormK' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question related to Form K-1 is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
			</ValidationSection>-->
			<ValidationSection Key="EvalFormL" DisplayName="Renewal Inquiries Review" PageKey="EvalFormL">
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalEval'>
						<Filters>
							<Argument PropertyKey='FormL' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='"Do the responses to the Renewal Inquiries indicate significant issues..." is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem Type='Method'>
					<Action
							Object='ModulePage'
							Method='ValidateRenewalNarrativeReviewComment'>
					</Action>
					<Results>
						<Result
							ResultCode='3'
							Message='If you answer "Yes" to the renewal inquiries review question, you must provide a comment; if you answer "No", the comment must be left blank.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
			</ValidationSection>
			<!--<ValidationSection Key="AppOverviewReview" DisplayName="Applicant Overview Review" PageKey="AppOverviewReview">
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalEval'>
						<Filters>
							<Argument PropertyKey='AppOverviewFormat' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question related to applicant overview format is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalEval'>
						<Filters>
							<Argument PropertyKey='AppOverviewComprehensive' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question related to applicant overview content is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
			</ValidationSection>
			<ValidationSection Key="ApplicantPAIPlanReview" DisplayName="Applicant PAI Plan Review" PageKey="ApplicantPAIPlanReview">
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalEval'>
						<Filters>
							<Argument PropertyKey='PaiPlanSubmitted' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question related to submission of applicant PAI plan is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalEval'>
						<Filters>
							<Argument PropertyKey='PaiPlanResponsive' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question related to responsiveness of applicant PAI plan is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
			</ValidationSection>
			<ValidationSection Key="OCERptReview" DisplayName="OCE Report Review" PageKey="OCERptReview">
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalEval'>
						<Filters>
							<Argument PropertyKey='CorrectiveActionRequirements' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question related to corrective action requirements is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalEval'>
						<Filters>
							<Argument PropertyKey='ApplicantComplaints' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question related to complaints filed against applicant is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
			</ValidationSection>
			<ValidationSection Key="GranteeProfileReview" DisplayName="Grantee Profile Review" PageKey="GranteeProfileReview">
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalEval'>
						<Filters>
							<Argument PropertyKey='StaffingData' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question related to staffing data trend is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalEval'>
						<Filters>
							<Argument PropertyKey='CsrData' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question related to CSR data trend is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalEval'>
						<Filters>
							<Argument PropertyKey='NonLscFundingData' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question related to non-LSC funding data trend is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
			</ValidationSection>
			<ValidationSection Key="Certifications" DisplayName="Certifications" PageKey="Certifications">
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalEval'>
						<Filters>
							<Argument PropertyKey='ComplianceMemo' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question related to Certifications is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalEval'>
						<Filters>
							<Argument PropertyKey='ProgramProfile' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question related to Program Profile is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalEval'>
						<Filters>
							<Argument PropertyKey='OtherDocs' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Question related to review of other documents is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
			</ValidationSection>-->
			<ValidationSection Key="FundingRecommendation" DisplayName="Funding Recommendation" PageKey="FundingRecommendation">
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='LscRenewalRecommendationID' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Funding Recommendation is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='PrimaryReaderPersonID' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='LSC Staff Reader is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='PrimaryReaderDate' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Date is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<!--<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='LscRenewalRecommendationID' Value='3' />
							<Argument PropertyKey='RationaleNonRenewal' Value='' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Do Not Renew has been selected for Funding Recommendation; Explanation is required.'
							MinCount='1'/>
					</Results>
				</ValidationItem>-->
			</ValidationSection>
			<!--<ValidationSection Key="GrantTermsAndConditions" DisplayName="Grant Terms and Conditions" PageKey="GrantTermsAndConditions">
				<ValidationItem Type='Method'>
					<Action
							Object='ModulePage'
							Method='ValidateGTCGrantConditions'>
					</Action>
					<Results>
						<Result
							ResultCode='3'
							Message='Grant Terms and Conditions - You must either designate special grant conditions or indicate that there are no grant conditions to add, but not both.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='OtherIssues' Value='' />
							<Argument PropertyKey='NoOtherIssues' Value='True' Operator='NotEqual' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must either list and describe other identified issues for staff tracking or check the "None" checkbox.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='OtherIssues' Value='' Operator='NotEqual' />
							<Argument PropertyKey='NoOtherIssues' Value='True' Operator='Equal' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You have provided other identified issues for staff tracking and checked the checkbox indicating that there are no other issues. This must be corrected before submitting.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
			</ValidationSection>-->
		</Validation>

	</Module>
</EasyGrants>
