<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "RiskAnalysis">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "RiskAnalysisModuleConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>
<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		EnabledAfterSubmit  'Indicates if navigation element is enabled after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants

-->
<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		  PageContent='XML:Pages'
		  DefaultPageFrameKey='Option01'
		  ModuleName = '&ModuleName;'
		  DescriptiveName = 'OPP Visit Selection Risk Assessment'
		  ModuleConfig = '&ModuleConfig;'
		  PageName='&PageName;'
		  DefaultPageKey='RiskAnalysis'
		  InvalidURL=''>

		<Class Name='cEGWfTAUser'
				Assembly='EasyGrants'
				FullName='EasyGrants.Web.User.cEGWfTAUser'
				CopyUser= 'cEGHomeUser'
				UniqueHashKey='_RiskAnalysis' />

		<PageFrames>
			<PageFrame Key='Option01'
					  PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

		<Navigation Key='Application'>
			<NavElement Key='StaffHome'
				NavTitle='Home'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;'
				SourceFile='&ModuleRoot;/Staff/ModuleContent.aspx?Config=ModuleConfig&amp;Page=Home'/>
			<NavElement Key='Sep2' NavTitle='('/>
			<NavElement Key='RiskAnalysis'
				 NavTitle='OPP Visit Selection Risk Factors'
				 Enabled='&NavElementEnabled;'
				 SourceFile='&DefaultSourceFileURL;&amp;Page=RiskAnalysis'/>
			<NavElement Key='Submission'
				 NavTitle='Review and Submit'
				 Enabled='&NavElementEnabled;'
				 SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'/>
		</Navigation>

		<Pages>
			<Page Key='RiskAnalysis'
				NavKey='RiskAnalysis'
				PageTitle='Assessment Page'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/RiskAnalysis.ascx'
			    AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PostSubmission_Content.ascx'/>

			<Page Key='Submission'
				NavKey='Submission'
				PageTitle='Review and Submit'
			    ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReviewSubmit.ascx' />
		</Pages>

		<Validation>
			<ValidationSection Key="RiskAnalysis" DisplayName="Risk Analysis" PageKey="RiskAnalysis">
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysis">
						<Filters>
							<Argument PropertyKey="SigProgIssues" Value="" Operator="NotEqual"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a Yes/No response for question 2." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysisView">
						<Filters>
							<Argument PropertyKey="SigProgIssuesValid" Value="0"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message='You answered "Yes" to question 2. You must provide an explanation.' MinCount="1" />
					</Results>
				</ValidationItem>

				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysis">
						<Filters>
							<Argument PropertyKey="IssuesRelatedPA1" Value="" Operator="NotEqual"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a Yes/No response for question 5." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysisView">
						<Filters>
							<Argument PropertyKey="IssuesRelatedPA1Valid" Value="0"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message='You answered "Yes" to question 5. You must provide an explanation.' MinCount="1" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysis">
						<Filters>
							<Argument PropertyKey="IssuesRelatedPA2" Value="" Operator="NotEqual"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a Yes/No response for question 6." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysisView">
						<Filters>
							<Argument PropertyKey="IssuesRelatedPA2Valid" Value="0"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message='You answered "Yes" to question 6. You must provide an explanation.' MinCount="1" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysis">
						<Filters>
							<Argument PropertyKey="IssuesRelatedPA3" Value="" Operator="NotEqual"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a Yes/No response for question 7." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysisView">
						<Filters>
							<Argument PropertyKey="IssuesRelatedPA3Valid" Value="0"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message='You answered "Yes" to question 7. You must provide an explanation.' MinCount="1" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysis">
						<Filters>
							<Argument PropertyKey="IssuesLowCSRs" Value="" Operator="NotEqual"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a Yes/No response for question 8." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysisView">
						<Filters>
							<Argument PropertyKey="IssuesLowCSRsValid" Value="0"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message='You answered "Yes" to question 8. You must provide an explanation.' MinCount="1" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysis">
						<Filters>
							<Argument PropertyKey="IssuesLowProbonoPerformance" Value="" Operator="NotEqual"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a Yes/No response for question 9." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysisView">
						<Filters>
							<Argument PropertyKey="IssuesLowProbonoPerformanceValid" Value="0"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message='You answered "Yes" to question 9. You must provide an explanation.' MinCount="1" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysis">
						<Filters>
							<Argument PropertyKey="IssuesRelatedPA4" Value="" Operator="NotEqual"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a Yes/No response for question 10." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysisView">
						<Filters>
							<Argument PropertyKey="IssuesRelatedPA4Valid" Value="0"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message='You answered "Yes" to question 10. You must provide an explanation.' MinCount="1" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysis">
						<Filters>
							<Argument PropertyKey="TigPerformanceIssues" Value="" Operator="NotEqual"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a Yes/No response for question 11." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysisView">
						<Filters>
							<Argument PropertyKey="TigPerformanceIssuesValid" Value="0"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message='You answered "Yes" to question 11. You must provide an explanation.' MinCount="1" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysis">
						<Filters>
							<Argument PropertyKey="IssuesBoardComposition" Value="" Operator="NotEqual"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a Yes/No response for question 12." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysisView">
						<Filters>
							<Argument PropertyKey="IssuesBoardCompositionValid" Value="0"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message='You answered "Yes" to question 12. You must provide an explanation.' MinCount="1" />
					</Results>
				</ValidationItem>
			
				
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysis">
						<Filters>
							<Argument PropertyKey="SigComplaints" Value="" Operator="NotEqual"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a Yes/No response for question 13." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysisView">
						<Filters>
							<Argument PropertyKey="SigComplaintsValid" Value="0"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message='You answered "Yes" to question 13. You must provide an explanation.' MinCount="1" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysis">
						<Filters>
							<Argument PropertyKey="OPPAreasInterest" Value="" Operator="NotEqual"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a Yes/No response for question 14." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysisView">
						<Filters>
							<Argument PropertyKey="OPPAreasInterestValid" Value="0"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message='You answered "Yes" to question 14. You must provide an explanation.' MinCount="1" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysis">
						<Filters>
							<Argument PropertyKey="ProgramSizeIssues" Value="" Operator="NotEqual"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a Yes/No response for question 15." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysisView">
						<Filters>
							<Argument PropertyKey="ProgramSizeIssuesValid" Value="0"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message='You answered "Yes" to question 15. You must provide an explanation.' MinCount="1" />
					</Results>
				</ValidationItem>
				
				
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysis">
						<Filters>
							<Argument PropertyKey="LeadershipTransition" Value="" Operator="NotEqual"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a Yes/No response for question 16." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysisView">
						<Filters>
							<Argument PropertyKey="LeadershipTransitionValid" Value="0"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message='You answered "Yes" to question 16. You must provide an explanation.' MinCount="1" />
					</Results>
				</ValidationItem>
				
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysis">
						<Filters>
							<Argument PropertyKey="OIGIssues" Value="" Operator="NotEqual"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a Yes/No response for question 17." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysisView">
						<Filters>
							<Argument PropertyKey="OIGIssuesValid" Value="0"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message='You answered "Yes" to question 17. You must provide an explanation.' MinCount="1" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysis">
						<Filters>
							<Argument PropertyKey="Other" Value="" Operator="NotEqual"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message="You must provide a Yes/No response for question 18." MaxCount="0" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey="vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysisView">
						<Filters>
							<Argument PropertyKey="OtherValid" Value="0"/>
						</Filters>
					</Requirement>
					<Results>
						<Result ResultCode="3" Message='You answered "Yes" to question 18. You must provide an explanation.' MinCount="1" />
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysis'>
						<Filters>
							<Argument PropertyKey='StaffReaderPersonID' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Program Counsel Name is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='vLSCCompWftaOrgServareaYear.LscRiskFactorAnalysis'>
						<Filters>
							<Argument PropertyKey='ReviewDate' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Review Date is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
			</ValidationSection>
		</Validation>
	</Module>
</EasyGrants>
