<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "RiskAnalysis">
]>
<EasyGrants>
	<Outcomes ProgramKey='Risk Analysis'
		DefaultOutcomeKey='156'
		DefaultOutcomeDescription='Risk Analysis Submitted'
		PostSubmitModuleConfig='RiskAnalysisModuleConfig'
		PostSubmitModuleName='RiskAnalysis'>
		<Outcome OutcomeKey='156' 
				OutcomeDescription='Risk Analysis Submitted' 
				DataObjectKey='WfTaskAssignment' 
				WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='72' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
			</Filters>
		</Outcome>
	</Outcomes>
</EasyGrants>