<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "1607Compliance">
]>
<EasyGrants>
	<Outcomes ProgramKey='1607Compliance'
		DefaultOutcomeKey='205'
		DefaultOutcomeDescription='Submitted'
		PostSubmitModuleConfig="1607ComplianceModuleConfig"
		PostSubmitModuleName="1607Compliance">
		<!-- APPLICATION SUBMISSION -->
		<Outcome OutcomeKey='205' OutcomeDescription='Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='89' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
			</Filters>
			<Events>
				<Event EventKey='48' Description='Application Submission'/>
				<Event EventKey='54' Description='Reviewer notification'/>
			</Events>
		</Outcome>
	</Outcomes>
</EasyGrants>