<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "1607Compliance">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "1607ComplianceModuleConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>

<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		EnabledAfterSubmit  'Indicates if navigation element is enabled after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants

-->

<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		  PageContent='XML:Pages'
		  DefaultPageFrameKey='Option01'
		  ModuleName = '&ModuleName;'
		  DescriptiveName = '1607 Compliance Reporting'
		  ModuleHeader ='Easygrants/Controls/Base/PublicUserModuleHeader.ascx'
		  ModuleConfig = '&ModuleConfig;'
		  PageName='&PageName;'
		  DefaultPageKey='1607ComplianceReport'
		  InvalidURL=''>

		<Class Name='cEGWfTAUser'
				Assembly='EasyGrants'
				FullName='EasyGrants.Web.User.cEGWfTAUser'
				CopyUser= 'cEGHomeUser'
				UniqueHashKey='_Appl' />

		<PageFrames>
			<PageFrame Key='Option01'
					  PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

<!-- Configure Left navigation links -->
		<Navigation Key='Application'>
			<NavElement Key='ReturnHome'
					  NavTitle='Home'
					  EnabledAfterSubmit='&NavElementEnabled;'
					  Enabled='&NavElementEnabled;'/>
			<NavElement Key='Sep2' NavTitle='('/>
			<NavElement Key='1607ComplianceReport'
					  NavTitle='1607 Compliance Report'
					  Enabled='&NavElementEnabled;'
					  EnabledAfterSubmit='&NavElementEnabled;'
					  SourceFile='&DefaultSourceFileURL;&amp;Page=1607ComplianceReport'/>
			<NavElement Key='Submission'
					  NavTitle='Review and Submit'
					  Enabled='&NavElementEnabled;'
					  SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'/>
			<NavElement Key='Sep3' NavTitle='('/>
			<NavElement Key='Logout'
					  NavTitle='Log Out'
					  Enabled='&NavElementEnabled;'
					  EnabledAfterSubmit='&NavElementEnabled;'
					  SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
			<NavElement Key='Sep4' NavTitle='('/>
			<NavElement Key='Staff'
					  NavTitle='Return to Staff Module'
					  Enabled='&NavElementEnabled;'
					  EnabledAfterSubmit='&NavElementEnabled;'
					  SourceFile=''/>
		</Navigation>

<!-- Configure Web Page filename -->
		<Pages>
			<Page Key='1607ComplianceReport'
					  NavKey='1607ComplianceReport'
					  PageTitle='1607 Compliance Report'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PolicyBoardStructure.ascx' 
					  AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PostSubmission.ascx'/>
			<Page Key='PolicyBoardStructureEditor'
					  NavKey='1607ComplianceReport'
					  PageTitle='Policy Board Structure Editor'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/BoardStructureEditor.ascx' />
			<Page Key='BoardMembersEditor'
					  NavKey='1607ComplianceReport'
					  PageTitle='Policy Board Member Editor'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/BoardMemberEditor.ascx' />
			<Page Key='Submission'
					  NavKey='Submission'
					  PageTitle='Review and Submit'
				     ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReviewSubmit.ascx' />
		</Pages>
		
		<Validation>
			<ValidationHeader HeaderText='1607 Reporting'>
				<!--Validation for Current Year Governing/Policy Body Structure (Forms F-1 and F-2) Page -->
				<ValidationSection Key='PolicyBoardStructure' DisplayName='1607 Compliance Report' PageKey='1607ComplianceReport'>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure' >
							<Filters>
								<Argument PropertyKey='LscBoardInfoSourceID' Value='3' />
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Policy Board Structure is required.'
								MaxCount='0' />
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscWftaBoardMemberAffiliations' />
						<Results>
							<!--In the following <Result> element, the NoInfoMessage and CheckBoxAndBoardMemberMessage elements
							are used by the validation method to set the message in the user interface.-->
							<Result
								ResultCode='3'
								Message=''
								NoInfoMessage='You must supply Board Member information'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem Type='Method'>
						<Action
								Object='ModulePage'
								Method='ValidateBoardMemberInfo_1607'/>
						<Results>
							<Result
								ResultCode='3'
								Message=''
								BaseMessage="The following board members are missing required information. For details on a particular board member, return to Form F-2, edit that board member's information, and click Save. All items on the editor form marked with an asterisk are required. Please review the following board members: "
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem Type='Method'>
						<Action
								Object='ModulePage'
								Method='ValidateBoardChair'/>
						<Results>
							<Result
								ResultCode='3'
								Message=''
								NoBoardChairMessage='You must specify a board chair.'
								NoEmailMessage="You must provide the board chair's e-mail address."
								NoPhoneMessage="You must provide the board chair's phone number." 
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure' >
							<Filters>
								<Argument PropertyKey='McCollumAttyBylaw' Value=""/>
								<Argument PropertyKey='NewApplicantNoBylaws' Value="True" Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Number of McCollum Attorney bylaw positions is required. If there are none, enter zero.'
								MinCount='1' />
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure' >
							<Filters>
								<Argument PropertyKey='OtherAttyBylaw' Value=""/>
								<Argument PropertyKey='NewApplicantNoBylaws' Value="True" Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Number of Other Attorney bylaw positions is required. If there are none, enter zero.'
								MinCount='1' />
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure' >
							<Filters>
								<Argument PropertyKey='ClientMemberBylaw' Value=""/>
								<Argument PropertyKey='NewApplicantNoBylaws' Value="True" Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Number of Client Member bylaw positions is required. If there are none, enter zero.'
								MinCount='1' />
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure' >
							<Filters>
								<Argument PropertyKey='OtherMemberBylaw' Value=""/>
								<Argument PropertyKey='NewApplicantNoBylaws' Value="True" Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Number of Other Member bylaw positions is required. If there are none, enter zero.'
								MinCount='1' />
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure' >
							<Filters>
								<Argument PropertyKey='McCollumAttyLess90' Value=""/>
								<Argument PropertyKey='OtherAttyLess90' Value="" Bool='Or'/>
								<Argument PropertyKey='ClientMemberLess90' Value="" Bool='Or'/>
								<Argument PropertyKey='OtherMemberLess90' Value="" Bool='Or'/>
								<Argument PropertyKey='McCollumAtty90Day1Yr' Value="" Bool='Or'/>
								<Argument PropertyKey='OtherAtty90Day1Yr' Value="" Bool='Or'/>
								<Argument PropertyKey='ClientMember90Day1Yr' Value="" Bool='Or'/>
								<Argument PropertyKey='OtherMember90Day1Yr' Value="" Bool='Or'/>
								<Argument PropertyKey='McCollumAttyGreater1Yr' Value="" Bool='Or'/>
								<Argument PropertyKey='OtherAttyGreater1Yr' Value="" Bool='Or'/>
								<Argument PropertyKey='ClientMemberGreater1Yr' Value="" Bool='Or'/>
								<Argument PropertyKey='OtherMemberGreater1Yr' Value="" Bool='Or'/>
								<Argument PropertyKey='NewApplicantNoBoard' Value="False" Bool='And'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='A numeric entry is required for each category in the "Governing/Policy Body Vacancies" section. If there are no absences in a particular category, enter zero.'
								MinCount='1' />
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure.LscBoardValidation' >
							<Filters>
								<Argument PropertyKey='McCollumAttyValid' Value='1'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Please review the information provided for McCollum Attorneys. Note that for each vacancy, you must provide details about the length of the vacancy. If the system displays a number of vacancies that is not correct, you may need to add or remove a board member or edit the number of bylaw positions. The system will then recalculate the number of vacancies.'
								MaxCount='0' />
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure.LscBoardValidation' >
							<Filters>
								<Argument PropertyKey='OtherAttyValid' Value='1'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Please review the information provided for Other Attorneys. Note that for each vacancy, you must provide details about the length of the vacancy. If the system displays a number of vacancies that is not correct, you may need to add or remove a board member or edit the number of bylaw positions. The system will then recalculate the number of vacancies.'
								MaxCount='0' />
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure.LscBoardValidation' >
							<Filters>
								<Argument PropertyKey='ClientMemberValid' Value='1'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Please review the information provided for Client Members. Note that for each vacancy, you must provide details about the length of the vacancy. If the system displays a number of vacancies that is not correct, you may need to add or remove a board member or edit the number of bylaw positions. The system will then recalculate the number of vacancies.'
								MaxCount='0' />
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure.LscBoardValidation' >
							<Filters>
								<Argument PropertyKey='OtherMemberValid' Value='1'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Please review the information provided for Other Members. Note that for each vacancy, you must provide details about the length of the vacancy. If the system displays a number of vacancies that is not correct, you may need to add or remove a board member or edit the number of bylaw positions. The system will then recalculate the number of vacancies.'
								MaxCount='0' />
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure' >
							<Filters>
								<Argument PropertyKey='McCollumAttyVacancies' Value='0' Operator='LessThan'>
									<RelatedProperty PropertyKey="LscBoardVacanciesCalc"/>
								</Argument>
								<Argument PropertyKey='NewApplicantNoBylaws' Value="True" Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Total number of McCollum Attorneys exceeds the bylaw requirement.'
								MinCount='1' />
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure' >
							<Filters>
								<Argument PropertyKey='OtherAttyVacancies' Value='0' Operator='LessThan'>
									<RelatedProperty PropertyKey="LscBoardVacanciesCalc"/>
								</Argument>
								<Argument PropertyKey='NewApplicantNoBylaws' Value="True" Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Total number of Other Attorneys exceeds the bylaw requirement.'
								MinCount='1' />
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure' >
							<Filters>
								<Argument PropertyKey='ClientMemberVacancies' Value='0' Operator='LessThan'>
									<RelatedProperty PropertyKey="LscBoardVacanciesCalc"/>
								</Argument>
								<Argument PropertyKey='NewApplicantNoBylaws' Value="True" Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Total number of Client Members exceeds the bylaw requirement.'
								MinCount='1' />
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure' >
							<Filters>
								<Argument PropertyKey='OtherMemberVacancies' Value='0' Operator='LessThan'>
									<RelatedProperty PropertyKey="LscBoardVacanciesCalc"/>
								</Argument>
								<Argument PropertyKey='NewApplicantNoBylaws' Value="True" Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Total number of Other Members exceeds the bylaw requirement.'
								MinCount='1' />
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure' >
							<Filters>
								<Argument PropertyKey='OverallCompliant' Value='0'>
									<RelatedProperty PropertyKey='LscBoardCounts.LscBoardCompliance'/>
								</Argument>
								<Argument PropertyKey='ReasonsNotInCompliance' Value=''/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Your board is not in compliance. You must discuss the reasons why the grantee is not yet in compliance with 1607.'
								MinCount='1' />
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure' >
							<Filters>
								<Argument PropertyKey='OverallCompliant' Value='0'>
									<RelatedProperty PropertyKey='LscBoardCounts.LscBoardCompliance'/>
								</Argument>
								<Argument PropertyKey='EffortsMade' Value=''/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Your board is not in compliance. You must discuss the efforts made to fill the vacancies.'
								MinCount='1' />
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure' >
							<Filters>
								<Argument PropertyKey='OverallCompliant' Value='0'>
									<RelatedProperty PropertyKey='LscBoardCounts.LscBoardCompliance'/>
								</Argument>
								<Argument PropertyKey='HowProposesToFill' Value=''/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Your board is not in compliance. You must discuss how the grantee proposes to fill the vacancies to come into compliance.'
								MinCount='1' />
						</Results>
					</ValidationItem>			
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure' >
							<Filters>
								<Argument PropertyKey='OverallCompliant' Value='0'>
									<RelatedProperty PropertyKey='LscBoardCounts.LscBoardCompliance'/>
								</Argument>
								<Argument PropertyKey='ExpectedDates' Value=''/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Your board is not in compliance. You must provide the expected dates for any forthcoming appointments.'
								MinCount='1' />
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure' >
							<Filters>
								<Argument PropertyKey='BoardChairContactID' Value=""/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must specify a board chair.'
								MinCount='1' />
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure.BoardChairContact' >
							<Filters>
								<Argument PropertyKey='Email' Value=""/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message="You must provide the board chair's e-mail address."
								MinCount='1' />
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscBoardStructure.BoardChairContact' >
							<Filters>
								<Argument PropertyKey='Phone' Value=""/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message="You must provide the board chair's phone number."
								MinCount='1' />
						</Results>
					</ValidationItem>
				</ValidationSection>
			</ValidationHeader>
		</Validation>
	</Module>
</EasyGrants>