<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "Review">
]>
<EasyGrants>
  <Outcomes ProgramKey='Program 2'
		DefaultOutcomeKey='1'
		DefaultOutcomeDescription='Internal Review'>
    <!-- Rebate Request SUBMISSION -->
    <Outcome OutcomeKey='3' OutcomeDescription='Approved' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='3' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
		<Argument PropertyKey='SelectedOutcomeID' Value='15' />
		<Argument Type='' TypeKey='' PropertyKey='HasRecentPQV' Value='False' >
			  <RelatedProperty PropertyKey='GranteeProject.PrimaryOrganization.LscOrgRecentPQV'/>
		</Argument>
      </Filters>
      <Tasks>
        <Task TaskKey='2' Description='Application' Status='1' RoleID='1' PersonID='GranteeProject.PrimaryPersonID'/>
      </Tasks>
      <Events>
		  <Event EventKey='1' Description='NIC Internal Review Approved' />
      </Events>
    </Outcome>

	 <Outcome OutcomeKey='3' OutcomeDescription='Approved' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
		  <Filters>
			  <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='3' />
			  <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
			  <Argument PropertyKey='SelectedOutcomeID' Value='15' />
			  <Argument Type='' TypeKey='' PropertyKey='HasRecentPQV' Value='True' >
				  <RelatedProperty PropertyKey='GranteeProject.PrimaryOrganization.LscOrgRecentPQV'/>
			  </Argument>
		  </Filters>
		  <Tasks>
			  <Task TaskKey='66' Description='Application' Status='1' RoleID='1' PersonID='GranteeProject.PrimaryPersonID'/>
		  </Tasks>
		  <Events>
			 <Event EventKey='1' Description='NIC Internal Review Approved' />
		  </Events>
	  </Outcome>

	  <Outcome OutcomeKey='4' OutcomeDescription='Not Approved' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
		  <Filters>
			  <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='3' />
			  <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
			  <Argument PropertyKey='SelectedOutcomeID' Value='16' />
		  </Filters>
		  <Tasks>
		  </Tasks>
		  <Events>
			  <Event EventKey='2' Description='NIC Internal Review Not Approved' />
		  </Events>
	  </Outcome>

  </Outcomes>


</EasyGrants>