<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "Review">
  <!ENTITY PageName "ModuleContent.aspx">
  <!ENTITY ModuleConfig "InternalReviewModuleConfig">
  <!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
  <!ENTITY NavElementEnabled "True">
]>

<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		EnabledAfterSubmit  'Indicates if navigation element is enabled after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants
-->

<EasyGrants>
  <Module UserClass='cEGWfTAUser'
		PageContent='XML:Pages'
		DefaultPageFrameKey='Option01'
		ModuleName = '&ModuleName;'
		DescriptiveName = ''
		ModuleConfig = '&ModuleConfig;'
		PageName='&PageName;'
		DefaultPageKey='InternalReview'
		InvalidURL=''>

    <Class Name='cEGWfTAUser'
			Assembly='EasyGrants'
			FullName='EasyGrants.Web.User.cEGWfTAUser'
			CopyUser= 'cEGHomeUser'
			UniqueHashKey='_MRGLOI' />

    <PageFrames>
      <PageFrame Key='Option01'
				PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
      <PageFrame Key='Option02'
				PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
      <PageFrame Key='Print'
				PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
    </PageFrames>
    
	  <AdminNavigation>
		  <NavElement Key='Administration'/>
	  </AdminNavigation>
	  
    <Navigation Key='MRGReview'>
        
           
      <NavElement Key='InternalReview'
				NavTitle='Internal Review'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=InternalReview'/>


	 <NavElement Key='Sep1' NavTitle='('/>      

    </Navigation>

    <Pages>
      <Page Key='InternalReview'
				NavKey='InternalReview'
				PageTitle='Internal Review'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/InternalReview.ascx'/>
      
	    
    
      <!--
      <Page Key='Home'
				NavKey='Home'
				PageTitle='Home'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/HomeContent.ascx' />
      <Page Key='Logout'
				NavKey='Logout'
				PageTitle='Log Out'
				ContentCtl='&CoreRoot;/Controls/Page/Logout_Content.ascx' />

		-->
	</Pages>
	 <Validation>
		  <ValidationSection Key="PQVVisit" DisplayName="PQV Visit Recipient" PageKey="InternalReview">
			  <ValidationItem>
				  <Requirement PropertyKey="LSCRecentPQVSubmission">
					  <Filters>
						  <Argument PropertyKey="SubmissionFlag" Value="0">
						  </Argument>
					  </Filters>
				  </Requirement>
				  <Results>
					  <Result ResultCode="3" Message="NIC Review should be submitted after Deadline" MinCount="1" />
				  </Results>
			  </ValidationItem>
		  </ValidationSection>
	  </Validation>
	  
	  
    </Module>
</EasyGrants>