<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "Eligibility">
]>
<!-- Both applications are assigned to every eligibility outcome. In case exception is requested,
staff members will only have to change the application task outcome to "eligible" and status to "incomplete -->
<EasyGrants>
  <Outcomes ProgramKey='FTF'
    DefaultOutcomeKey='3'
    DefaultOutcomeDescription='EligibleNone'>


    <Outcome OutcomeKey='4' OutcomeDescription='Eligible' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskOutcomeID' Value='4' />
      </Filters>
      <Tasks>
        <Task TaskKey='54' Description='Letter of Inquiry' Status='1' Outcome='' RoleID='1'/>
      </Tasks>
    </Outcome>
    <Outcome OutcomeKey='3' OutcomeDescription='EligibleNone' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskOutcomeID' Value='3' />
      </Filters>
      <Tasks>
      </Tasks>
      <Events>
      </Events>
    </Outcome>
  </Outcomes>

</EasyGrants>

