<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "Eligibility">
]>
<!-- Both applications are assigned to every eligibility outcome. In case exception is requested,
staff members will only have to change the application task outcome to "eligible" and status to "incomplete -->
<EasyGrants>
  <Outcomes ProgramKey='Katz'
    DefaultOutcomeKey='88'
    DefaultOutcomeDescription='EligibleNone'>
    <Outcome OutcomeKey='5' OutcomeDescription='Eligible' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID' >
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskOutcomeID' Value='5' />
      </Filters>
      <Tasks>
        <Task TaskKey='8' Description='Application' Status='1' Outcome='' RoleID='1'/>
      </Tasks>
      <Events>
      </Events>
    </Outcome>

    <Outcome OutcomeKey='88' OutcomeDescription='EligibleNone' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskOutcomeID' Value='88' />
      </Filters>
      <Tasks>
      </Tasks>
      <Events>
      </Events>
    </Outcome>
  </Outcomes>

</EasyGrants>


