<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "GAR">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "ActualStaffingBranchModuleConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>

<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		  PageContent='XML:Pages'
		  DefaultPageFrameKey='Option01'
		  ModuleName = '&ModuleName;'
		  DescriptiveName = 'Form E-1(b): Actual Staffing - Branch Office'
		  ModuleHeader ='Easygrants/Controls/Base/PublicUserModuleHeader.ascx'
		  CompetitionFooter='Implementation/Modules/GAR/Controls/PageSection/GARCompetitionFooter.ascx'
		  ModuleConfig = '&ModuleConfig;'
		  PageName='&PageName;'
		  DefaultPageKey='BranchOffices'
		  InvalidURL=''>

		<Class Name='cEGWfTAUser'
				Assembly='EasyGrants'
				FullName='EasyGrants.Web.User.cEGWfTAUser'
				CopyUser= 'cEGHomeUser'
				UniqueHashKey='_ActualStaffingBranch' />

		<PageFrames>
			<PageFrame Key='Option01'
					  PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

		<Navigation Key='Application'>
			<NavElement Key='ReturnHome'
				NavTitle='Home'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;'/>
			<NavElement Key='Sep2' NavTitle='('/>
			<!--<NavElement Key='Guidelines'
				NavTitle='Guidelines'
				Enabled='&NavElementEnabled;'
				External='True'
				Target='Blank'
				SourceFile='../../../Easygrants/PDF/GuidelinesPlaceholder.pdf'/>-->
			<NavElement Key='Sep2' NavTitle='('/>
			<NavElement Key='Form_E1b'
				NavTitle='Form E-1(b): Actual Staffing - Branch Office'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=BranchOffices'
				HelpFile='../../../Implementation/Modules/LOI/Help/index.html?form_e_1b.htm'/>
			<NavElement Key='Submission'
				NavTitle='Review and Submit'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='False'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'
				HelpFile='../../../Implementation/Modules/LOI/Help/index.html?review_and_submit21.htm'/>
			<NavElement Key='Sep3' NavTitle='('/>
			<!--<NavElement Key='Help'
				NavTitle='Help'
				EnabledAfterSubmit='&NavElementEnabled;'
				External='True'
				Enabled='&NavElementEnabled;'/>-->
			<NavElement Key='Sep3' NavTitle='('/>
			<NavElement Key='Logout'
				NavTitle='Log Out'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
			<NavElement Key='Sep4' NavTitle='('/>
			<NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile=''/>
			<NavElement Key='Sep3' NavTitle='('/>
		</Navigation>

		<Pages>
			<Page Key='BranchOffices'
				NavKey='Form_E1b'
				PageTitle='Form E-1(b): Actual Staffing - Branch Office'
				ContentCtl='&ModuleRoot;/&ModuleName;/ActualStaffing/Controls/Page/BranchOffices.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/ActualStaffing/Controls/Page/PostSubmissionBranch.ascx'/>
			<Page Key='Form_E1b'
				NavKey='Form_E1b'
				PageTitle='Form E-1(b): Actual Staffing - Branch Office'
				ContentCtl='&ModuleRoot;/&ModuleName;/ActualStaffing/Controls/Page/Form_E1b.ascx'/>
			<Page Key='StaffMemberEditor'
				NavKey='Form_E1b'
				PageTitle='Form E-1(b): Staff Member Editor'
				ContentCtl='&ModuleRoot;/&ModuleName;/ActualStaffing/Controls/Page/StaffMemberEditorBranch.ascx'/>
			<Page Key='TransferOffice'
				NavKey='Form_E1b'
				PageTitle='Form E-1(b): Staff Member Editor'
				ContentCtl='&ModuleRoot;/&ModuleName;/ActualStaffing/Controls/Page/TransferOffice.ascx'/>
			<Page Key='Submission'
				NavKey='Submission'
				PageTitle='Review and Submit'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Submission.ascx'/>
			<Page Key='PrintableView'
				NavKey='Form_E1b'
				PageTitle='Form E-1(b): Actual Staffing - Branch Office'
				ContentCtl='&ModuleRoot;/&ModuleName;/ActualStaffing/Controls/Page/Form_E1bReadOnly.ascx'/>
		</Pages>

		<Validation>
			<ValidationHeader HeaderText='Grantee Information'>
				<ValidationSection Key='Form_E1b' DisplayName='Form E-1(b): Actual Staffing - Branch Office' PageKey='BranchOffices'>
					<ValidationItem>
						<Requirement PropertyKey='LscOffices.LscStaffDetail' >
							<Filters>
								<Argument PropertyKey='LscStaffJobCodeID' Value='1' />
								<Argument PropertyKey="AnnlOtherCompensation" Value=""/>
								<Argument PropertyKey="OffTypeID" Value="2">
									<RelatedProperty PropertyKey='LscOffice'/>
								</Argument>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Annual Other Compensation must be provided for the Executive Director.'
								MinCount='1'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOffices.LscStaffDetail' >
							<Filters>
								<Argument PropertyKey='StartDte' Value='' />
								<Argument PropertyKey="OffTypeID" Value="2">
									<RelatedProperty PropertyKey='LscOffice'/>
								</Argument>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Employment Start Date is missing for at least one staff member. Review the staff listing or the PDF for more details.'
								MinCount='1'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOffices.LscStaffDetail' >
							<Filters>
								<Argument PropertyKey='EmailAddr' Value='' />
								<Argument PropertyKey="OffTypeID" Value="2">
									<RelatedProperty PropertyKey='LscOffice'/>
								</Argument>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Email is missing for at least one staff member. Review the staff listing or the PDF for more details.'
								MinCount='1'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOffices.LscStaffDetail' >
							<Filters>
								<Argument PropertyKey='YrsExpCurr' Value='' />
								<Argument PropertyKey="OffTypeID" Value="2">
									<RelatedProperty PropertyKey='LscOffice'/>
								</Argument>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Years Experience in Current Job" is missing for at least one staff member. Review the staff listing or the PDF for more details.'
								MinCount='1'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOffices.LscStaffDetail' >
							<Filters>
								<Argument PropertyKey='YrsExpWLsc' Value='' />
								<Argument PropertyKey="OffTypeID" Value="2">
									<RelatedProperty PropertyKey='LscOffice'/>
								</Argument>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Years Experience with LSC Grantee" is missing for at least one staff member. Review the staff listing or the PDF for more details.'
								MinCount='1'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOffices.LscStaffDetail' >
							<Filters>
								<Argument PropertyKey='YrsExpProf' Value='' />
								<Argument PropertyKey="OffTypeID" Value="2">
									<RelatedProperty PropertyKey='LscOffice'/>
								</Argument>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Years Experience in Profession" is missing for at least one staff member. Review the staff listing or the PDF for more details.'
								MinCount='1'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOffices.LscStaffDetail' >
							<Filters>
								<Argument PropertyKey='HoursPerWeek' Value='' />
								<Argument PropertyKey="OffTypeID" Value="2">
									<RelatedProperty PropertyKey='LscOffice'/>
								</Argument>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Hours Per Week" is missing for at least one staff member. Review the staff listing or the PDF for more details.'
								MinCount='1'/>
						</Results>
					</ValidationItem>
				</ValidationSection>
			</ValidationHeader>
		</Validation>
	</Module>
</EasyGrants>
