<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "GAR">
]>
<EasyGrants>
	<Outcomes ProgramKey='Form G-5'
		  DefaultOutcomeKey='42'
		  DefaultOutcomeDescription='Report Submitted'
	      PostSubmitModuleConfig="ActualOpenCasesModuleConfig"
	      PostSubmitModuleName="GAR">
		<!-- APPLICATION SUBMISSION -->
		<Outcome OutcomeKey='42' OutcomeDescription='Form G-5 Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='13' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
			</Filters>
			<Events>
				<!--<Event EventKey='9' Description='Grantee Report Submission'/>-->
			</Events>
		</Outcome>
	</Outcomes>
</EasyGrants>