<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "GAR">
]>
<EasyGrants>
	<Outcomes ProgramKey='Form D-3'
		  DefaultOutcomeKey='38'
		  DefaultOutcomeDescription='Form D-3 Submitted'
			PostSubmitModuleConfig='ActualRevenueModuleConfig'
			PostSubmitModuleName="GAR">
		<!-- APPLICATION SUBMISSION -->
		<Outcome OutcomeKey='38' OutcomeDescription='Form D-3 Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='9' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
			</Filters>
			<Events>
				<!--<Event EventKey='9' Description='Grantee Report Submission'/>-->
			</Events>
		</Outcome>
	</Outcomes>
</EasyGrants>