<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "GAR">
]>
<EasyGrants>
	<Outcomes ProgramKey='Form E-1c'
		  DefaultOutcomeKey='56'
		  DefaultOutcomeDescription='Form E-1c Submitted'
		  PostSubmitModuleConfig='ActualStaffingSubModuleConfig'
	      PostSubmitModuleName="GAR">
		<!-- APPLICATION SUBMISSION -->
		<Outcome OutcomeKey='56' OutcomeDescription='Form E-1c Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='27' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
			</Filters>
			<Events>
				<!--<Event EventKey='9' Description='Grantee Report Submission'/>-->
			</Events>
		</Outcome>
	</Outcomes>
</EasyGrants>