<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "GAR">
]>
<EasyGrants>
	<Outcomes ProgramKey='Form G-3(d)'
		  DefaultOutcomeKey='40'
		  DefaultOutcomeDescription='Report Submitted'
		  PostSubmitModuleConfig="ActualCaseServPAIModuleConfig"
	      PostSubmitModuleName="GAR">
		<!-- APPLICATION SUBMISSION -->
		<Outcome OutcomeKey='40' OutcomeDescription='Form G-3(d) Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='11' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
			</Filters>
			<Events>
				<!--<Event EventKey='9' Description='Grantee Report Submission'/>-->
			</Events>
		</Outcome>
	</Outcomes>
</EasyGrants>