<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "GAR">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "AdditionalInformationModuleConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>

<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		  PageContent='XML:Pages'
		  DefaultPageFrameKey='Option01'
		  ModuleName = '&ModuleName;'
		  DescriptiveName = 'Form G-2: Additional Information Relating to Cases'
		  ModuleHeader ='Implementation/Modules/GAR/Controls/PageSection/GARModuleHeader.ascx'
		  CompetitionFooter='Implementation/Modules/GAR/Controls/PageSection/GARCompetitionFooter.ascx'
		  ModuleConfig = '&ModuleConfig;'
		  PageName='&PageName;'
		  DefaultPageKey='Form_G2'
		  InvalidURL=''>

		<Class Name='cEGWfTAUser'
				Assembly='EasyGrants'
				FullName='EasyGrants.Web.User.cEGWfTAUser'
				CopyUser= 'cEGHomeUser'
				UniqueHashKey='_Appl' />

		<PageFrames>
			<PageFrame Key='Option01'
					  PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

		<Navigation Key='Application'>
			<NavElement Key='ReturnHome'
				NavTitle='Home'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;'/>
			<NavElement Key='Sep2' NavTitle='('/>
			<NavElement Key='Form_G2'
				NavTitle='Form G-2: Additional Information Relating to Cases'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Form_G2'
				HelpFile='../../../Implementation/Modules/LOI/Help/index.html?form_g_2_additional_info.htm'/>
			<NavElement Key='Submission'
				NavTitle='Review and Submit'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='False'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'
				HelpFile='../../../Implementation/Modules/LOI/Help/index.html?review_and_submit14.htm'/>
			<NavElement Key='Sep3' NavTitle='('/>
			<!--<NavElement Key='Help'
				NavTitle='Help'
				EnabledAfterSubmit='&NavElementEnabled;'
				External='True'
				Enabled='&NavElementEnabled;'/>-->
			<NavElement Key='Sep3' NavTitle='('/>
			<NavElement Key='Logout'
				NavTitle='Log Out'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
			<NavElement Key='Sep4' NavTitle='('/>
			<NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile=''/>
			<NavElement Key='Sep3' NavTitle='('/>
		</Navigation>

		<Pages>
			<Page Key='Form_G2'
				NavKey='Form_G2'
				PageTitle='Form G-2: Additional Information Relating to Cases'
				ContentCtl='&ModuleRoot;/&ModuleName;/AdditionalInformation/Controls/Page/Form_G2.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/AdditionalInformation/Controls/Page/PostSubmission.ascx'/>
			<Page Key='Submission'
				NavKey='Submission'
				PageTitle='Review and Submit'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Submission.ascx'/>
			<Page Key='PrintableView'
				NavKey='Form_G2'
				PageTitle='Form G-2: Additional Information Relating to Cases'
				ContentCtl='&ModuleRoot;/&ModuleName;/AdditionalInformation/Controls/Page/Form_G2ReadOnly.ascx'/>
		</Pages>

		<Validation>
			<ValidationHeader HeaderText='Grantee Information'>
				<ValidationSection Key='Form_G2' DisplayName='Form G-2: Additional Information Relating to Cases' PageKey='Form_G2'>
					<ValidationItem>
						<Requirement PropertyKey='LscGarAdditionalInfo'>
							<Filters>
								<Argument PropertyKey="AdultsInHouseholds" Value="" Operator="NotEqual"/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Total number of Adults is required.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscGarAdditionalInfo'>
							<Filters>
								<Argument PropertyKey="ChildrenInHouseholds" Value="" Operator="NotEqual"/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Total number of Children is required.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscGarAdditionalInfo'>
							<Filters>
								<Argument PropertyKey="DomesticViolenceCases" Value="" Operator="NotEqual"/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Total number of Cases involving Domestic Violence is required.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>

					<ValidationItem>
						<Requirement PropertyKey='LscSelfInspection'>
							<Filters>
								<Argument PropertyKey='NlscCases' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must indicate the number of non-LSC funded cases not reported to LSC in the Unreported Non-LSC case.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
				</ValidationSection>
				
			</ValidationHeader>
		</Validation>

	</Module>
</EasyGrants>
