<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "GAR">
]>
<EasyGrants>
	<Outcomes ProgramKey='Form G-2'
		  DefaultOutcomeKey='168'
		  DefaultOutcomeDescription='Submitted'
			PostSubmitModuleConfig='AdditionalInformationModuleConfig'
			PostSubmitModuleName="GAR">
		<!-- APPLICATION SUBMISSION -->
		<Outcome OutcomeKey='168' OutcomeDescription='Form G-2 Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='76' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
			</Filters>
		</Outcome>
	</Outcomes>
</EasyGrants>