<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "GAR">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "ClientAgeEthGenModuleConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>

<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		  PageContent='XML:Pages'
		  DefaultPageFrameKey='Option01'
		  ModuleName = '&ModuleName;'
		  DescriptiveName = 'Form G-4: Client Age, Ethnicity, Gender and Veteran Status'
		  ModuleHeader ='Implementation/Modules/GAR/Controls/PageSection/GARModuleHeader.ascx'
		  CompetitionFooter='Implementation/Modules/GAR/Controls/PageSection/GARCompetitionFooter.ascx'
		  ModuleConfig = '&ModuleConfig;'
		  PageName='&PageName;'
		  DefaultPageKey='Form_G4'
		  InvalidURL=''>

		<Class Name='cEGWfTAUser'
				Assembly='EasyGrants'
				FullName='EasyGrants.Web.User.cEGWfTAUser'
				CopyUser= 'cEGHomeUser'
				UniqueHashKey='_ClientAgeEthGen' />

		<PageFrames>
			<PageFrame Key='Option01'
					  PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

		<Navigation Key='Application'>
			<NavElement Key='ReturnHome'
				NavTitle='Home'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;'/>
			<NavElement Key='Sep2' NavTitle='('/>
			<!--<NavElement Key='Guidelines'
				NavTitle='Guidelines'
				Enabled='&NavElementEnabled;'
				External='True'
				Target='Blank'
				SourceFile='../../../Easygrants/PDF/GuidelinesPlaceholder.pdf'/>-->
			<NavElement Key='Sep2' NavTitle='('/>
			<NavElement Key='Form_G4'
				NavTitle='Form G-4: Client Age, Ethnicity, Gender and Veteran Status'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
			    SourceFile='&DefaultSourceFileURL;&amp;Page=Form_G4'/>
			<NavElement Key='Submission'
				NavTitle='Review and Submit'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='False'
			    SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'/>
			<NavElement Key='Sep3' NavTitle='('/>
			<NavElement Key='Sep3' NavTitle='('/>
			<NavElement Key='Logout'
				NavTitle='Log Out'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
			<NavElement Key='Sep4' NavTitle='('/>
			<NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile=''/>
			<NavElement Key='Sep3' NavTitle='('/>
		</Navigation>

		<Pages>
			<Page Key='Form_G4'
				NavKey='Form_G4'
				PageTitle='Form G-4: Client Age, Ethnicity, Gender and Veteran Status'
				ContentCtl='&ModuleRoot;/&ModuleName;/ClientAgeEthGen/Controls/Page/Form_G4.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/ClientAgeEthGen/Controls/Page/PostSubmission.ascx'/>
			<Page Key='ClientLanguageEditor'
				NavKey='Form_G4'
				PageTitle='Form G-4: Client Language Editor'
				ContentCtl='&ModuleRoot;/&ModuleName;/ClientAgeEthGen/Controls/Page/ClientLanguageEditor.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/ClientAgeEthGen/Controls/Page/PostSubmission.ascx'/>
			<Page Key='Submission'
				NavKey='Submission'
				PageTitle='Review and Submit'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Submission.ascx'/>
			<Page Key='PrintableView'
				NavKey='Form_G4'
				PageTitle='Form G-4: Client Age, Ethnicity and Gender'
				ContentCtl='&ModuleRoot;/&ModuleName;/ClientAgeEthGen/Controls/Page/Form_G4ReadOnly.ascx'/>
		</Pages>

		<Validation>
			<ValidationHeader HeaderText='Grantee Information'>
				<ValidationSection Key='Form_G4' DisplayName='Form G-4: Client Age, Ethnicity, Gender and Veteran Status ' PageKey='Form_G4'>
					<ValidationItem>
						<Requirement PropertyKey='LscClientRaceGen'>
							<Filters>
								<Argument PropertyKey='Men' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must provide a count of the number of Men served.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscClientRaceGen'>
							<Filters>
								<Argument PropertyKey='Women' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must provide a count of the number of Women served.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscClientRaceGen'>
							<Filters>
								<Argument PropertyKey='Groups' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must provide a count of the number of Groups served.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
<!--These items were removed 2/25/2009 because the exact comparison was too strict. For the 2009/2010 cycle, the method will be updated to return a warning (2)
if the numbers do not match, and these ValidationItem elements will need to be edited to match.
- Peter Larsen-->
					<ValidationItem Type='Method'>
						<Action
							Object='ModulePage'
							Method='ValidateG3_G4CaseCount'>
						</Action>
						<Results>
							<Result
								ResultCode='3'
								Message='The total number of clients by Age/Ethnicity must match the total cases reported in Forms G-3 and G-3(d)'/>
						</Results>
					</ValidationItem>
					<ValidationItem Type='Method'>
						<Action
							Object='ModulePage'
							Method='ValidateG4CaseCounts'>
						</Action>
						<Results>
							<Result
								ResultCode='3'
								Message='The total number of clients by gender must match the total number of clients by Age/Ethnicity.'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscClientRaceGen'>
							<Filters>
								<Argument PropertyKey='Veteran' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must provide a count of the number of Veterans served.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscClientRaceGen'>
							<Filters>
								<Argument PropertyKey='NonVeteran' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must provide a count of the number of Non-Veterans served.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
				</ValidationSection>
			</ValidationHeader>
		</Validation>
	</Module>
</EasyGrants>
