<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "GAR">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "OtherServicesModuleConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>

<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		  PageContent='XML:Pages'
		  DefaultPageFrameKey='Option01'
		  ModuleName = '&ModuleName;'
		  DescriptiveName = 'Form M: Other Services Report'
		  ModuleHeader ='Easygrants/Controls/Base/PublicUserModuleHeader.ascx'
		  CompetitionFooter='Implementation/Modules/GAR/Controls/PageSection/GARCompetitionFooter.ascx'
		  ModuleConfig = '&ModuleConfig;'
		  PageName='&PageName;'
		  DefaultPageKey='FormM'
		  InvalidURL=''>

		<Class Name='cEGWfTAUser'
				Assembly='EasyGrants'
				FullName='EasyGrants.Web.User.cEGWfTAUser'
				CopyUser= 'cEGHomeUser'
				UniqueHashKey='_OtherServices' />

		<PageFrames>
			<PageFrame Key='Option01'
					  PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

		<Navigation Key='Application'>
			<NavElement Key='ReturnHome'
				NavTitle='Home'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;'/>
			<NavElement Key='Sep2' NavTitle='('/>
			<!--<NavElement Key='Guidelines'
				NavTitle='Guidelines'
				Enabled='&NavElementEnabled;'
				External='True'
				Target='Blank'
				SourceFile='../../../Easygrants/PDF/GuidelinesPlaceholder.pdf'/>-->
			<NavElement Key='Sep2' NavTitle='('/>
			<NavElement Key='FormM'
				NavTitle='Form M: Other Services'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=FormM'
				HelpFile='../../../Implementation/Modules/LOI/Help/index.html?form_m.htm'/>
			<NavElement Key='Submission'
				NavTitle='Review and Submit'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='False'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'
				HelpFile='../../../Implementation/Modules/LOI/Help/index.html?review_and_submit11.htm'/>
			<NavElement Key='Sep3' NavTitle='('/>
			<!--<NavElement Key='Help'
				NavTitle='Help'
				EnabledAfterSubmit='&NavElementEnabled;'
				External='True'
				Enabled='&NavElementEnabled;'/>-->
			<NavElement Key='Sep3' NavTitle='('/>
			<NavElement Key='Logout'
				NavTitle='Log Out'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
			<NavElement Key='Sep4' NavTitle='('/>
			<NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile=''/>
			<NavElement Key='Sep3' NavTitle='('/>
		</Navigation>

		<Pages>
			<Page Key='FormM'
				NavKey='FormM'
				PageTitle='Form M: Other Services'
				ContentCtl='&ModuleRoot;/&ModuleName;/OtherServices/Controls/Page/Form_M.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/OtherServices/Controls/Page/PostSubmission.ascx'/>
			<Page Key='Submission'
				NavKey='Submission'
				PageTitle='Review and Submit'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Submission.ascx'/>
			<Page Key='PrintableView'
				NavKey='CommunityLegalEducation'
				PageTitle='Form M: Other Services Report'
				ContentCtl='&ModuleRoot;/&ModuleName;/OtherServices/Controls/Page/Form_MReadOnly.ascx'/>
		</Pages>

		<Validation>
			<ValidationHeader HeaderText='Grantee Information'>
				<ValidationSection Key='FormM' DisplayName='Form M: Other Services' PageKey='FormM'>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices.LscOtherServicesTotals'>
							<Filters>
								<Argument PropertyKey='IATotal' Value='0' Operator='GreaterThan'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Community Legal Education: You must indicate the number of people directly receiving support in at least one category.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IA1a' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of people in audiences..." (Measured) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IA1b' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of people in audiences..." (Estimated) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<!--<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IA2a' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total copies of legal education brochures..." (Measured) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IA2b' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total copies of legal education brochures..." (Estimated) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>-->
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IA3aUniqueVisitors' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of unique visitors to websites..." (Measured) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IA3bUniqueVisitors' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of unique visitors to websites..." (Estimated) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IA4aDownloads' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of legal education materials..." (Measured) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IA4bDownloads' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of legal education materials..." (Estimated) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices.LscOtherServicesTotals'>
							<Filters>
								<Argument PropertyKey='IIATotal' Value='0' Operator='GreaterThanEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Pro Se Assistance: You must indicate the number of people directly receiving support in at least one category.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IIA1a' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of participants in workshops or clinics" (Measured) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IIA1b' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of participants in workshops or clinics" (Estimated) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IIA2a' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of people assisted..." (Measured) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IIA2b' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of people assisted..." (Estimated) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<!--<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IIA3a' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total copies distributed of self-help printed materials..." (Measured) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IIA3b' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total copies distributed of self-help printed materials..." (Estimated) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>-->
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IIA4aDownloads' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of self-help/pro se materials..." (Measured) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IIA4bDownloads' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of self-help/pro se materials..." (Estimated) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IIA6a' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Other-describe in Narrative section..." (Measured) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IIA6b' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Other-describe in Narrative section..." (Estimated) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices.LscOtherServicesTotals'>
							<Filters>
								<Argument PropertyKey='IIIATotal' Value='0' Operator='GreaterThan'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Referred Other Services: You must indicate the number of people directly receiving support in at least one category.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IIIA1a' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of people referred to other provider..." (Measured) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IIIA1b' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of people referred to other provider..." (Estimated) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IIIA2a' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of people referred to private bar..." (Measured) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IIIA2b' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of people referred to private bar..." (Estimated) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IIIA3a' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of people referred to provider of human..." (Measured) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IIIA3b' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of people referred to provider of human..." (Estimated) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IIIA4a' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of people referred to other source..." (Measured) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscOtherServices'>
							<Filters>
								<Argument PropertyKey='IIIA4b' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='"Total number of people referred to other source..." (Estimated) is required. If none, enter zero.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
				</ValidationSection>
			</ValidationHeader>
		</Validation>
	</Module>
</EasyGrants>
