<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "GAR">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "ProjectedStaffingSubModuleConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>

<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		  PageContent='XML:Pages'
		  DefaultPageFrameKey='Option01'
		  ModuleName = '&ModuleName;'
		  DescriptiveName = 'Form E-2(c): Projected Subrecipient Staffing'
		  ModuleHeader ='Easygrants/Controls/Base/PublicUserModuleHeader.ascx'
		  CompetitionFooter='Implementation/Modules/GAR/Controls/PageSection/GARCompetitionFooter.ascx'
		  ModuleConfig = '&ModuleConfig;'
		  PageName='&PageName;'
		  DefaultPageKey='Form_E2c'
		  InvalidURL=''>

		<Class Name='cEGWfTAUser'
				Assembly='EasyGrants'
				FullName='EasyGrants.Web.User.cEGWfTAUser'
				CopyUser= 'cEGHomeUser'
				UniqueHashKey='_ProjectedStaffingSub' />

		<PageFrames>
			<PageFrame Key='Option01'
					  PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

		<Navigation Key='Application'>
			<NavElement Key='ReturnHome'
				NavTitle='Home'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;'/>
			<NavElement Key='Sep2' NavTitle='('/>
			<!--<NavElement Key='Guidelines'
				NavTitle='Guidelines'
				Enabled='&NavElementEnabled;'
				External='True'
				Target='Blank'
				SourceFile='../../../Easygrants/PDF/GuidelinesPlaceholder.pdf'/>-->
			<NavElement Key='Sep2' NavTitle='('/>
			<NavElement Key='Form_E2c'
				NavTitle='Form E-2(c): Projected Subrecipient Staffing'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Form_E2c'
				HelpFile='../../../Implementation/Modules/LOI/Help/index.html?form_e_2c.htm'/>
			<NavElement Key='Submission'
				NavTitle='Review and Submit'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='False'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'
				HelpFile='../../../Implementation/Modules/LOI/Help/index.html?review_and_submit24.htm'/>
			<NavElement Key='Sep3' NavTitle='('/>
			<NavElement Key='Help'
				NavTitle='Help'
				EnabledAfterSubmit='&NavElementEnabled;'
				External='True'
				Enabled='&NavElementEnabled;'/>
			<NavElement Key='Sep3' NavTitle='('/>
			<NavElement Key='Logout'
				NavTitle='Log Out'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
			<NavElement Key='Sep4' NavTitle='('/>
			<NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile=''/>
			<NavElement Key='Sep3' NavTitle='('/>
		</Navigation>

		<Pages>
			<Page Key='Form_E2c'
				NavKey='Form_E2c'
				PageTitle='Form E-2(c): Projected Staffing Subrecipient'
				ContentCtl='&ModuleRoot;/&ModuleName;/ProjectedStaffing/Controls/Page/Form_E2c.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/ProjectedStaffing/Controls/Page/PostSubmissionE2c.ascx'/>
			<Page Key='Submission'
				NavKey='Submission'
				PageTitle='Review and Submit'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Submission.ascx'/>
			<Page Key='PrintableView'
				NavKey='Form_E2c'
				PageTitle='Form E-2(c): Projected Staffing Subrecipient'
				ContentCtl='&ModuleRoot;/&ModuleName;/ProjectedStaffing/Controls/Page/Form_E2cReadOnly.ascx'/>
		</Pages>

		<Validation>
			<ValidationHeader HeaderText='Grantee Information'>
				<ValidationSection Key='Form_E2c' DisplayName='Form E-2(c): Projected Subrecipient Staffing' PageKey='Form_E2c'>
					<ValidationItem>
						<Requirement PropertyKey='GranteeProject' >
						</Requirement>
						<Results>
						</Results>
					</ValidationItem>
				</ValidationSection>
			</ValidationHeader>
		</Validation>
	</Module>
</EasyGrants>
