<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "GAR">
]>
<EasyGrants>
	<Outcomes ProgramKey='Form E-2c'
		  DefaultOutcomeKey='58'
		  DefaultOutcomeDescription='Form E-2c Submitted'>
		<!-- APPLICATION SUBMISSION -->
		<Outcome OutcomeKey='58' OutcomeDescription='Form E-2c Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='29' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
			</Filters>
			<Events>
				<!--<Event EventKey='9' Description='Grantee Report Submission'/>-->
			</Events>
		</Outcome>
	</Outcomes>
</EasyGrants>