<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "GAR">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "ProjectedRevenueModuleConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>

<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		  PageContent='XML:Pages'
		  DefaultPageFrameKey='Option01'
		  ModuleName = '&ModuleName;'
		  DescriptiveName = 'Form D-4: Projected Support and Revenue'
		  ModuleHeader ='Implementation/Modules/GAR/Controls/PageSection/GARModuleHeader.ascx'
		  CompetitionFooter='Implementation/Modules/GAR/Controls/PageSection/GARCompetitionFooter.ascx'
		  ModuleConfig = '&ModuleConfig;'
		  PageName='&PageName;'
		  DefaultPageKey='Form_D4'
		  InvalidURL=''>

		<Class Name='cEGWfTAUser'
				Assembly='EasyGrants'
				FullName='EasyGrants.Web.User.cEGWfTAUser'
				CopyUser= 'cEGHomeUser'
				UniqueHashKey='_ProjectedRevenue' />

		<PageFrames>
			<PageFrame Key='Option01'
					  PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

		<Navigation Key='Application'>
			<NavElement Key='ReturnHome'
				NavTitle='Home'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;'/>
			<NavElement Key='Sep2' NavTitle='('/>
			<!--<NavElement Key='Guidelines'
				NavTitle='Guidelines'
				Enabled='&NavElementEnabled;'
				External='True'
				Target='Blank'
				SourceFile='../../../Easygrants/PDF/GuidelinesPlaceholder.pdf'/>-->
			<NavElement Key='Sep2' NavTitle='('/>
			<NavElement Key='Form_D4'
				NavTitle='Form D-4: Projected Support and Revenue'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Form_D4'
				HelpFile='../../../Implementation/Modules/LOI/Help/index.html?form_d_4.htm'/>
			<NavElement Key='Submission'
				NavTitle='Review and Submit'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='False'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'
				HelpFile='../../../Implementation/Modules/LOI/Help/index.html?review_and_submit15.htm'/>
			<NavElement Key='Sep3' NavTitle='('/>
			<NavElement Key='Help'
				NavTitle='Help'
				EnabledAfterSubmit='&NavElementEnabled;'
				External='True'
				Enabled='&NavElementEnabled;'/>
			<NavElement Key='Sep3' NavTitle='('/>
			<NavElement Key='Logout'
				NavTitle='Log Out'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
			<NavElement Key='Sep4' NavTitle='('/>
			<NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile=''/>
			<NavElement Key='Sep3' NavTitle='('/>
		</Navigation>

		<Pages>
			<Page Key='Form_D4'
				NavKey='Form_D4'
				PageTitle='Form D-4: Projected Support and Revenue'
				ContentCtl='&ModuleRoot;/&ModuleName;/ProjectedRevenue/Controls/Page/Form_D4.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/ProjectedRevenue/Controls/Page/PostSubmission.ascx'/>
			<Page Key='Submission'
				NavKey='Submission'
				PageTitle='Review and Submit'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Submission.ascx'/>
			<Page Key='PrintableView'
				NavKey='Form_D4'
				PageTitle='Form D-4: Projected Support and Revenue'
				ContentCtl='&ModuleRoot;/&ModuleName;/ProjectedRevenue/Controls/Page/Form_D4ReadOnly.ascx'/>
		</Pages>

		<Validation>
			<ValidationHeader HeaderText='Grantee Information'>
				<ValidationSection Key='Form_D4' DisplayName='Form D-4: Projected Support and Revenue' PageKey='Form_D4'>
					<ValidationItem>
						<Requirement PropertyKey='WfTATopLevelBudgetItems'>
							<Filters>
								<Argument PropertyKey='CategoryTypeID' Value='7'/>
								<Argument PropertyKey='Amount' Value='' Operator='NotEqual'/>
								<Argument PropertyKey='Amount' Value='0' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must provide Projected Support and Revenue information.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
				</ValidationSection>
			</ValidationHeader>
		</Validation>
	</Module>
</EasyGrants>
