<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "GAR">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "SelfInspectionModuleConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>

<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		  PageContent='XML:Pages'
		  DefaultPageFrameKey='Option01'
		  ModuleName = '&ModuleName;'
		  DescriptiveName = 'Form G-6: Self Inspection'
		  ModuleHeader ='Easygrants/Controls/Base/PublicUserModuleHeader.ascx'
		  CompetitionFooter='Implementation/Modules/GAR/Controls/PageSection/GARCompetitionFooter.ascx'
		  ModuleConfig = '&ModuleConfig;'
		  PageName='&PageName;'
		  DefaultPageKey='Certification'
		  InvalidURL=''>

		<Class Name='cEGWfTAUser'
				Assembly='EasyGrants'
				FullName='EasyGrants.Web.User.cEGWfTAUser'
				CopyUser= 'cEGHomeUser'
				UniqueHashKey='_SelfInspection' />

		<PageFrames>
			<PageFrame Key='Option01'
					  PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

		<Navigation Key='Application'>
			<NavElement Key='ReturnHome'
				NavTitle='Home'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;'/>
			<NavElement Key='Sep2' NavTitle='('/>
			<!--<NavElement Key='Guidelines'
				NavTitle='Guidelines'
				Enabled='&NavElementEnabled;'
				External='True'
				Target='Blank'
				SourceFile='../../../Easygrants/PDF/GuidelinesPlaceholder.pdf'/>-->
			<NavElement Key='Sep2' NavTitle='('/>
			<NavElement Key='Certification'
				NavTitle='Form G-6: Self-Inspection Certification'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Certification'
				HelpFile='../../../Implementation/Modules/LOI/Help/index.html?form_g_6_certification.htm'/>
			<NavElement Key='Summary'
				NavTitle='Form G-6: Self-Inspection Summary'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Summary'
				HelpFile='../../../Implementation/Modules/LOI/Help/index.html?form_g_6_summary.htm'/>
			
			<NavElement Key='Submission'
				NavTitle='Review and Submit'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='False'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'
				HelpFile='../../../Implementation/Modules/LOI/Help/index.html?review_and_submit12.htm'/>
			<NavElement Key='Sep3' NavTitle='('/>
			<!--<NavElement Key='Help'
				NavTitle='Help'
				EnabledAfterSubmit='&NavElementEnabled;'
				External='True'
				Enabled='&NavElementEnabled;'/>-->
			<NavElement Key='Sep3' NavTitle='('/>
			<NavElement Key='Logout'
				NavTitle='Log Out'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
			<NavElement Key='Sep4' NavTitle='('/>
			<NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile=''/>
			<NavElement Key='Sep3' NavTitle='('/>
		</Navigation>

		<Pages>
			<Page Key='Certification'
				NavKey='Certification'
				PageTitle='Form G-6: Self-Inspection Certification'
				ContentCtl='&ModuleRoot;/&ModuleName;/SelfInspection/Controls/Page/Certification.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/SelfInspection/Controls/Page/PostSubmission.ascx'/>
			<Page Key='Summary'
				NavKey='Summary'
				PageTitle='Form G-6: Self-Inspection Summary'
				ContentCtl='&ModuleRoot;/&ModuleName;/SelfInspection/Controls/Page/Summary.ascx'/>
			<Page Key='Unreported'
				NavKey='Unreported'
				PageTitle='Form G-6: Self-Inspection Unreported Non-LSC Case'
				ContentCtl='&ModuleRoot;/&ModuleName;/SelfInspection/Controls/Page/Unreported.ascx'/>
			<Page Key='Submission'
				NavKey='Submission'
				PageTitle='Review and Submit'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Submission.ascx'/>
			<Page Key='PrintableView'
				NavKey='Certification'
				PageTitle='Form G-6: Self-Inspection'
				ContentCtl='&ModuleRoot;/&ModuleName;/SelfInspection/Controls/Page/Form_G6ReadOnly.ascx'/>
		</Pages>

		<Validation>
			<ValidationHeader HeaderText='Grantee Information'>
				<ValidationSection Key='Certification' DisplayName='Form G-6: Self-Inspection Certification' PageKey='Certification'>
					<ValidationItem>
						<Requirement PropertyKey='GranteeProject' >
						</Requirement>
						<Results>
						</Results>
					</ValidationItem>

					<ValidationItem>
						<Requirement PropertyKey='LscSelfInspection'>
							<Filters>
								<Argument PropertyKey='Cases' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Cases is missing'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					
					
					
				</ValidationSection>
				<ValidationSection Key='Summary' DisplayName='Form G-6: Self-Inspection Summary' PageKey='Summary'>
					<ValidationItem>
						<Requirement PropertyKey='LscSelfInspection'>
							<Filters>
								<Argument PropertyKey='Action1' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must indicate whether you took any corrective action related to item 1 in the Self-Inspection Summary list.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscSelfInspection'>
							<Filters>
								<Argument PropertyKey='Action2' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must indicate whether you took any corrective action related to item 2 in the Self-Inspection Summary list.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscSelfInspection'>
							<Filters>
								<Argument PropertyKey='Action3' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must indicate whether you took any corrective action related to item 3 in the Self-Inspection Summary list.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscSelfInspection'>
							<Filters>
								<Argument PropertyKey='Action4' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must indicate whether you took any corrective action related to item 4 in the Self-Inspection Summary list.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscSelfInspection'>
							<Filters>
								<Argument PropertyKey='Action5' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must indicate whether you took any corrective action related to item 5 in the Self-Inspection Summary list.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscSelfInspection'>
							<Filters>
								<Argument PropertyKey='Action6' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must indicate whether you took any corrective action related to item 6 in the Self-Inspection Summary list.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscSelfInspection'>
							<Filters>
								<Argument PropertyKey='Action7' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must indicate whether you took any corrective action related to item 7 in the Self-Inspection Summary list.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscSelfInspection'>
							<Filters>
								<Argument PropertyKey='Action8' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must indicate whether you took any corrective action related to item 8 in the Self-Inspection Summary list.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscSelfInspection'>
							<Filters>
								<Argument PropertyKey='Action9' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must indicate whether you took any corrective action related to item 9 in the Self-Inspection Summary list.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscSelfInspection'>
							<Filters>
								<Argument PropertyKey='Action10' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must indicate whether you took any corrective action related to item 10 in the Self-Inspection Summary list.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscSelfInspection'>
							<Filters>
								<Argument PropertyKey='Action11' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must indicate whether you took any corrective action related to item 11 in the Self-Inspection Summary list.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
					<ValidationItem>
						<Requirement PropertyKey='LscSelfInspection'>
							<Filters>
								<Argument PropertyKey='Action12' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must indicate whether you took any corrective action related to item 12 in the Self-Inspection Summary list.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>
				</ValidationSection>
				
				<!--<ValidationSection Key='Unreported' DisplayName='Form G-6: Self-Inspection Unreported Non-LSC Case' PageKey='Unreported'>
					<ValidationItem>
						<Requirement PropertyKey='LscSelfInspection'>
							<Filters>
								<Argument PropertyKey='NlscCases' Value='' Operator='NotEqual'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='You must indicate the number of non-LSC funded cases not reported to LSC in the Self-Inspection Unreported Non-LSC case.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>	
				</ValidationSection>-->
				
			</ValidationHeader>
		</Validation>

	</Module>
</EasyGrants>