<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "RenewalReview_OPPDir">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "RenewalReviewModule_OPPDirConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>

<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		EnabledAfterSubmit  'Indicates if navigation element is enabled after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants

-->
<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		  PageContent='XML:Pages'
		  DefaultPageFrameKey='Option01'
		  ModuleName = '&ModuleName;'
		  DescriptiveName = 'Renewal Review - OPP Director'
		  ModuleConfig = '&ModuleConfig;'
		  PageName='&PageName;'
		  DefaultPageKey='ReviewList'
		  InvalidURL=''>

		<Class Name='cEGWfTAUser'
			Assembly='EasyGrants'
			FullName='EasyGrants.Web.User.cEGWfTAUser'
			CopyUser= 'cEGHomeUser'
			UniqueHashKey='_RenewalReview' />

		<PageFrames>
			<PageFrame Key='Option01'
				PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
				PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
				PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

		<Navigation Key='Application'>
			<NavElement Key='StaffHome'
				NavTitle='Home'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;'
				SourceFile='&ModuleRoot;/Staff/ModuleContent.aspx?Config=ModuleConfig&amp;Page=Home'/>
			<NavElement Key='Sep2' NavTitle='('/>
			<NavElement Key='ReviewList'
			 NavTitle='Review List'
			 Enabled='&NavElementEnabled;'
			 SourceFile='&DefaultSourceFileURL;&amp;Page=ReviewList'/>
			<NavElement Key='OPPDirRenewReview'
			 NavTitle='Review'
			 Enabled='&NavElementEnabled;'
			 SourceFile='&DefaultSourceFileURL;&amp;Page=OPPDirRenewReview'/>
			<NavElement Key='Submission'
			 NavTitle='Review and Submit'
			 Enabled='&NavElementEnabled;'
			 SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'/>
			
		</Navigation>

		<Pages>

			<Page Key='Home'
				NavKey='Home'
				PageTitle='Home'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/HomeContent.ascx' />

			<Page Key='ReviewList'
				NavKey='ReviewList'
				PageTitle='Review List'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReviewList.ascx'/>

			<Page Key='OPPDirRenewReview'
				NavKey='OPPDirRenewReview'
				PageTitle='Renewal Review - Opp Director'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/OPPDir_RenewReview.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PostSubmission_Content.ascx'/>

			<Page Key='Submission'
				NavKey='Submission'
				PageTitle='Review and Submit'
			    ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReviewSubmit.ascx' />

		</Pages>

		<Validation>
			<ValidationSection Key='OPPDirRenewReview' DisplayName='OPP Director Review - Renewals' PageKey='OPPDirRenewReview'>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='LscRenewalRecommendationID' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='OPP Grant Renewal Recommendation is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='YesNoSpecialGrantCond' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Special Grant Conditions field is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='LscRenewalRecommendationID' Value='3'/>
							<Argument PropertyKey='YesNoSpecialGrantCond' Value='True' Operator='Boolean'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You have recommended that the grant not be renewed, but you have also recommended special grant conditions. Please resolve.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='PrimaryReaderPersonID' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='OPP Director field is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscRenewalRec'>
						<Filters>
							<Argument PropertyKey='PrimaryReaderDate' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Date of Meeting is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				
			</ValidationSection>
		</Validation>
		
	</Module>
</EasyGrants>
