<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "RenewalReview_OPPDir">
]>
<EasyGrants>
	<Outcomes ProgramKey='Renewal Review'
		  DefaultOutcomeKey='121'
		  DefaultOutcomeDescription='Renewal Review Submitted'
		PostSubmitModuleConfig='RenewalReviewModule_OPPDirConfig'
		PostSubmitModuleName="RenewalReview_OPPDir"
		ReportOutputRelatedProperty="WfProjectTask.WfProjectTaskPDF.FinalPDFReportKeyLink.ReportOutputDefinitionID">
		<!-- Renewal APPLICATION REVIEW SUBMISSION -->
		<Outcome OutcomeKey='121' OutcomeDescription='Renewal Review Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='52' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
			</Filters>
		</Outcome>
	</Outcomes>
</EasyGrants>