<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "Home">
  <!ENTITY PageName "HomeModuleContent.aspx">
  <!ENTITY ModuleConfig "HomeModuleConfig">
  <!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
  <!ENTITY NavElementEnabled "True">
]>

<!-- On July 15, 2005 in the afternoon, Basil Eliopoulos changed references to the file "Home_Help_Page.pdf"  -->
<!-- to the generic AHA help file "Easygrants Mgr User Guide_AHA.pdf".   I did that in the below    -->
<!-- navigational elements.    I did this as part of a QA task.    -->


<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		AvailableAfterSubmit'Indicates if this page is available after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants
-->

<EasyGrants>
  <Module UserClass='cEGHomeUser'
		PageContent='XML:Pages'

		DefaultPageFrameKey='Option01'
		ModuleName = '&ModuleName;'
		ModuleHeader ='Easygrants/Controls/Base/PublicUserModuleHeader.ascx'
		ModuleConfig = '&ModuleConfig;'
		DefaultPageKey='Home'
		InvalidURL=''>

    <Class Name='cEGHomeUser'
			Assembly='EasyGrants_Web'
			FullName='EasyGrants_Web.User.cEGHomeUser'/>

    <PageFrames>
      <PageFrame Key='Option01'
				PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
      <PageFrame Key='Option02'
				PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
      <PageFrame Key='Print'
				PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
    </PageFrames>

    <Navigation Key='Home'>
      <NavElement Key='Home'
				NavTitle='Home'
				Enabled='&NavElementEnabled;'
				ActiveOnSelect='True'
				HelpFile='../../../Easygrants_Web_LSC/Implementation/Modules/LOI/Help/index.html?home.htm'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Home'/>
      <NavElement Key='Sep1' NavTitle='('/>
      <NavElement Key='ChangePassword'
				NavTitle='Change Password'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ChangePassword'/>
      <NavElement Key='Sep1' NavTitle='('/>
      <NavElement Key='Help'
				NavTitle='Help'
				Enabled='&NavElementEnabled;'/>
      <NavElement Key='Sep1' NavTitle='('/>

      <NavElement Key='Logout'
				NavTitle='Logout'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout'/>
      <NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				SourceFile=''/>
    </Navigation>

    <Pages>
      <Page Key='Home'
				NavKey='Home'
				PageTitle='LSC Grants Home'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/HomeContent.ascx' />
	  <Page Key='CopyTask'
			  NavKey='Home'
			  PageTitle='Copy Task'
			  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/CopyTaskContent.ascx' />
	  <Page Key='CopyExistingTask'
				 NavKey='Home'
				 PageTitle='Copy Existing Task'
				 ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/CopyExistTaskContent.ascx' />
	  <Page Key='ChangePassword'
				NavKey='ChangePassword'
				PageTitle='Change Password'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ChangePasswordContent.ascx' />
      <Page Key='SelectProgram'
				NavKey='Home'
				PageTitle='Select a Grant Program'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/SelectProgram_Content.ascx' />
      <Page Key='ApplyGrant'
				NavKey='Home'
				PageTitle='Select a Service Area'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ApplyGrantContent.ascx' />
      <Page Key='FTFEligQuiz'
				NavKey='Home'
				PageTitle='Eligibility Quiz'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/EligibilityQuiz_Content.ascx' />
      <Page Key='Logout'
				NavKey='Logout'
				PageTitle='Log Out'
				ContentCtl='&CoreRoot;/Controls/Page/Logout_Content.ascx' />
      <Page Key='EditAfterSubmitError'
				NavKey='Home'
				PageTitle='Already Submitted Error'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/EditAfterSubmitErrorContent.ascx' />
	  <Page Key='PreviousGAR'
				  NavKey='Home'
				  PageTitle='Previous Grantee Reports'
				  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PreviousGAR.ascx' />
	  <Page Key='PreviousGARList'
				NavKey='Home'
				PageTitle='Previous Grantee Reports'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PreviousGARList.ascx' />
	   <Page Key='PrintableView'
				 NavKey='Home'
				 PageTitle='Form D-1: Actual Expenses'
				 ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PrintableViewFormD1A.ascx'/>
		<Page Key='PV_Gar_G4'
				 NavKey='Home'
				 PageTitle='Form G-4: Client Age, Ethnicity and Gender'
				 ContentCtl='&ModuleRoot;/GAR/ClientAgeEthGen/Controls/Page/Form_G4ReadOnly.ascx'/>
		<Page Key='PV_Gar_G3'
			     NavKey='Home'
				 PageTitle='Form G-3: Actual Cases Services'
				 ContentCtl='&ModuleRoot;/GAR/ActualCaseServ/Controls/PageSection/ActualCaseServReadOnly.ascx'/>
		<Page Key='PV_Gar_G3d'
			     NavKey='Home'
				 PageTitle='Form G-3(d): Actual Cases Services - PAI'
				 ContentCtl='&ModuleRoot;/GAR/ActualCaseServ/Controls/PageSection/ActualCaseServPAIReadOnly.ascx'/>
		<Page Key='PV_Gar_G5'
			     NavKey='Home'
				 PageTitle='Form G-5: Actual Open Cases '
				 ContentCtl='&ModuleRoot;/GAR/ActualOpenCases/Controls/Page/Form_G5ReadOnly.ascx'/>
		<Page Key='PV_Gar_G5d'
			     NavKey='Home'
				 PageTitle='Form G-5(d): Actual Open Cases - PAI '
				 ContentCtl='&ModuleRoot;/GAR/ActualOpenCases/Controls/Page/Form_G5dReadOnly.ascx'/>
		<Page Key='PV_Gar_D1'
			     NavKey='Home'
				 PageTitle='Form D-1: Actual Expenses '
				 ContentCtl='&ModuleRoot;/GAR/ActualExpenses/Controls/Page/Form_D1ReadOnly.ascx'/>
		<Page Key='PV_Gar_D3'
			     NavKey='Home'
				 PageTitle='Form D-3: Actual Support and Revenue'
				 ContentCtl='&ModuleRoot;/GAR/ActualRevenue/Controls/Page/Form_D3ReadOnly.ascx'/>
		<Page Key='PV_Gar_E0'
			     NavKey='Home'
				 PageTitle='Form E-0: Actual Office Information'
				 ContentCtl='&ModuleRoot;/GAR/ActualOfficeInfo/Controls/Page/Form_E0ReadOnly.ascx'/>
		<Page Key='PV_Gar_E1a'
			     NavKey='Home'
				 PageTitle='Form E-1(a): Actual Staffing - Main Office'
				 ContentCtl='&ModuleRoot;/GAR/ActualStaffing/Controls/Page/Form_E1aReadOnly.ascx'/>
		<Page Key='PV_Gar_E1b'
			     NavKey='Home'
				 PageTitle='Form E-1(b): Actual Staffing - Branch Office'
				 ContentCtl='&ModuleRoot;/GAR/ActualStaffing/Controls/Page/Form_E1bReadOnly.ascx'/>
		<Page Key='PV_Gar_E1c'
			     NavKey='Home'
				 PageTitle='Form E-1(c): Actual Staffing - Subrecipient Office'
				 ContentCtl='&ModuleRoot;/GAR/ActualStaffing/Controls/Page/Form_E1cReadOnly.ascx'/>
		<Page Key='PV_Gar_J1'
			     NavKey='Home'
				 PageTitle='Form J-1: Components of Actual PAI'
				 ContentCtl='&ModuleRoot;/GAR/ComponentsPAI/Controls/Page/Form_J1ReadOnly.ascx'/>
		<Page Key='PV_Gar_J2'
			     NavKey='Home'
				 PageTitle='Form J-2: Projected Components of PAI'
				 ContentCtl='&ModuleRoot;/GAR/ComponentsPAI/Controls/Page/Form_J2ReadOnly.ascx'/>
		<Page Key='PV_Gar_M'
			     NavKey='Home'
				 PageTitle='Form M: Other Services Report'
				 ContentCtl='&ModuleRoot;/GAR/OtherServices/Controls/Page/Form_MReadOnly.ascx'/>
		<Page Key='PV_Gar_G6'
			     NavKey='Home'
				 PageTitle='Form G-6: Self Inspection Form'
				 ContentCtl='&ModuleRoot;/GAR/SelfInspection/Controls/Page/Form_G6ReadOnly.ascx'/>
		<Page Key='PV_Gar_G2'
			     NavKey='Home'
				 PageTitle='Form G-2: Additional Information Related to Cases'
				 ContentCtl='&ModuleRoot;/GAR/AdditionalInformation/Controls/Page/Form_G2ReadOnly.ascx'/>
		<!--<Page Key='PV_Gar_L'
			     NavKey='Home'
				 PageTitle='Form L: Other Services Narrative'
				 ContentCtl='&ModuleRoot;/GAR/ServiceNarrative/Controls/Page/UploadsEditor.ascx'/>-->
		<Page Key='PV_Gar_D2'
			     NavKey='Home'
				 PageTitle='Form D-2: Projected Expenses'
				 ContentCtl='&ModuleRoot;/GAR/ProjectedExpenses/Controls/Page/Form_D2ReadOnly.ascx'/>
		<Page Key='PV_Gar_D4'
			     NavKey='Home'
				 PageTitle='Form D-4: Projected Support and Revenue'
				 ContentCtl='&ModuleRoot;/GAR/ProjectedRevenue/Controls/Page/Form_D4ReadOnly.ascx'/>
		<Page Key='PV_Gar_G1'
			     NavKey='Home'
				 PageTitle='Form G-1: Projected Case Services'
				 ContentCtl='&ModuleRoot;/GAR/ProjectedCaseServ/Controls/Page/Form_G1ReadOnly.ascx'/>
		<Page Key='PV_Gar_G1d'
			     NavKey='Home'
				 PageTitle='Form G-1(d): Projected Case Services - PAI'
				 ContentCtl='&ModuleRoot;/GAR/ProjectedCaseServ/Controls/Page/Form_G1dReadOnly.ascx'/>
		<Page Key='PV_Gar_E2a'
			     NavKey='Home'
				 PageTitle='Form E-2(a): Projected Staffing - Recipient Only'
				 ContentCtl='&ModuleRoot;/GAR/ProjectedStaffing/Controls/Page/Form_E2aReadOnly.ascx'/>
		<Page Key='PV_Gar_E2c'
			     NavKey='Home'
				 PageTitle='Form E-2(c): Projected Staffing - SubRecipient Only'
				 ContentCtl='&ModuleRoot;/GAR/ProjectedStaffing/Controls/Page/Form_E2cReadOnly.ascx'/>
		<!--<Page Key='PV_Gar_L'
			     NavKey='Home'
				 PageTitle='Form L: Other Services Narrative'
				 ContentCtl='&ModuleRoot;/GAR/ServiceNarrative/Controls/Page/ViewPDFButton.ascx'/>-->
		<Page Key='PV_Gar_L'
			     NavKey='Home'
				 PageTitle='Form L: Other Services Narrative'
				 ContentCtl='&ModuleRoot;/GAR/ServiceNarrative/Controls/Page/ViewFormL.ascx'/>
		<Page Key='InstructionsSummary'
			     NavKey='Home'
				 PageTitle='InstructionsSummary'
				  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/InstructionsSummary.ascx' />
		<Page Key='TIGApplyGrant'
				NavKey='Home'
				PageTitle='TIG Apply Grants'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/TIGApplyGrantContent.ascx' />
		<Page Key='RequestNewSubgrantApproval'
				NavKey='Home'
				PageTitle='Request New Subgrant Approval'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/RequestNewSubgrantApproval.ascx' />
		<Page Key='ApplicationPDF'
				NavKey='Home'
				PageTitle='Application PDF'
				ContentCtl='Core/Controls/Base/ReportOutputLink.ascx' />
		<Page Key='SandyApplyGrant'
				NavKey='Home'
				PageTitle='Apply for Sandy Disaster Grant'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/SandyApplyGrant.ascx' />
		<Page Key='DisasterApplyGrant'
				NavKey='Home'
				PageTitle='Apply for LSC Emergency Disaster Grant'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/DisasterApplyGrant.ascx' />
		<Page Key='RequestNewPSA'
				NavKey='Home'
				PageTitle='Initiate Step 1 of Subgrant Approval Request'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/RequestNewPSA.ascx' />
      <Page Key='ProBonoApplyGrant'
				NavKey='Home'
				PageTitle='Apply to Pro Bono Innovation Fund'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ProBonoApplyGrant.ascx' />
      <Page Key='MLDCPApplyGrant'
				NavKey='Home'
				PageTitle='Apply to Midwest Legal Disaster Coordination Program'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/MLDCPApplyGrant.ascx' />
      <Page Key='InitiateSubgrantStep2'
				NavKey='Home'
				PageTitle='Initiate Step 2 of Subgrant Approval Request'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/InitiateSubgrantStep2.ascx' />
	</Pages>
  </Module>
</EasyGrants>
