<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "ApplReview_President">
]>
<EasyGrants>
	<Outcomes ProgramKey='Application Review'
		PostSubmitModuleConfig='ApplReviewModule_PresidentConfig'
		PostSubmitModuleName="ApplReview_President"
		ReportOutputRelatedProperty="WfProjectTask.WfProjectTaskPDF.FinalPDFReportKeyLink.ReportOutputDefinitionID">
	</Outcomes>
</EasyGrants>