<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "ApplReview_President">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "ApplReviewModule_PresidentConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>

<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		EnabledAfterSubmit  'Indicates if navigation element is enabled after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants

-->

<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		  PageContent='XML:Pages'
		  DefaultPageFrameKey='Option01'
		  ModuleName = '&ModuleName;'
		  DescriptiveName = 'Application Review - President'
		  ModuleConfig = '&ModuleConfig;'
		  PageName='&PageName;'
		  DefaultPageKey='ReviewList'
		  InvalidURL=''>

		<Class Name='cEGWfTAUser'
				Assembly='EasyGrants'
				FullName='EasyGrants.Web.User.cEGWfTAUser'
				CopyUser= 'cEGHomeUser'
				UniqueHashKey='_Appl' />

		<PageFrames>
			<PageFrame Key='Option01'
					  PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

		<!-- Configure Left navigation links -->
		<Navigation Key='Application'>
			<NavElement Key='StaffHome'
				NavTitle='Home'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;'
				SourceFile='&ModuleRoot;/Staff/ModuleContent.aspx?Config=ModuleConfig&amp;Page=Home'/>
			<NavElement Key='Sep2' NavTitle='('/>
			<NavElement Key='ReviewList'
			 NavTitle='Review List'
			 Enabled='&NavElementEnabled;'
			 SourceFile='&DefaultSourceFileURL;&amp;Page=ReviewList'/>
			<NavElement Key='PresidentCompReview'
			 NavTitle=''
			 Enabled='&NavElementEnabled;'
			 SourceFile='&DefaultSourceFileURL;&amp;Page=PresidentCompReview'/>
			<NavElement Key='Submission'
			 NavTitle=''
			 Enabled='&NavElementEnabled;'
			 SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'/>
		</Navigation>

		<!-- Configure Web Page filename -->
		<Pages>
			<Page Key='Home'
				NavKey='Home'
				PageTitle='Home'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/HomeContent.ascx' />

			<Page Key='ReviewList'
				NavKey='ReviewList'
				PageTitle='Review List'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReviewList.ascx'/>

			<Page Key='PresidentCompReview'
				NavKey='PresidentCompReview'
				PageTitle='Application Review - President'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/President_CompReview.ascx'
			    AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PostSubmission_Content.ascx'/>

			<Page Key='Submission'
				NavKey='Submission'
				PageTitle='Review and Submit'
			    ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReviewSubmit.ascx' />

			
			
		</Pages>

		<Validation>
			<ValidationSection Key='PresidentCompReview' DisplayName='LSC President Review' PageKey='PresidentCompReview'>
				<ValidationItem>
					<Requirement PropertyKey='WfTaskOutcome'>
						<Filters>
							<Argument PropertyKey='WfTaskOutcomeID' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='LSC President Grant Award Decision is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='LscFundingTermID' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='LSC President Funding Term Decision is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='SpecialGrant' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Special Grant Conditions field is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscOA1'>
						<Filters>
							<Argument PropertyKey='StaffReaderPersonID' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='LSC President field is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscOA1'>
						<Filters>
							<Argument PropertyKey='StaffReaderDate' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Date of Meeting is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='WfTaskOutcomeID' Value='128' >
								<RelatedProperty PropertyKey='WfTaskAssignment'/>
							</Argument>
							<Argument PropertyKey='LscFundingTermID' Value='10'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Grant Award Decision of "Fund" is inconsistent with Funding Term Decision of "Do Not Fund".'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='WfTaskOutcomeID' Value='129' >
								<RelatedProperty PropertyKey='WfTaskAssignment'/>
							</Argument>
							<Argument PropertyKey='LscFundingTermID' Value='10' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Grant Award Decision is "Do Not Fund", so Funding Term Decision must also be "Do Not Fund".'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='WfTaskOutcomeID' Value='129' >
								<RelatedProperty PropertyKey='WfTaskAssignment'/>
							</Argument>
							<Argument PropertyKey='SpecialGrant' Value='True'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Grant Award Recommendation is "Do Not Fund", so Special Grant Conditions must be answered "No".'
							MinCount='1'/>
					</Results>
				</ValidationItem>

			</ValidationSection>
			
		</Validation>
	</Module>
</EasyGrants>
