<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "ProgressReport">
]>
<EasyGrants>
  <Outcomes ProgramKey='Progress Report Submitted'
		DefaultOutcomeKey='11'
		DefaultOutcomeDescription='Progress Report Submitted'>
    <!--Progress Report SUBMISSION-->
    <Outcome OutcomeKey='11' OutcomeDescription='Progress Report Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='7' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
      </Filters>
      <Tasks>
        <Task TaskKey='13' Description='ECTR Award Semi-Annual PR (Year 2) Review' Status='1' NoPersonID='True' RoleID='10'/>
      </Tasks>
      <Events>
        <Event EventKey='10' Description='Progress Report Submission'/>
      </Events>
    </Outcome>
  </Outcomes>
</EasyGrants>
