<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "ProgressReport">
  <!ENTITY PageName "ModuleContent.aspx">
  <!ENTITY ModuleConfig "ProgressReport1Config">
  <!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
  <!ENTITY NavElementEnabled "True">
]>
<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		AvailableAfterSubmit'Indicates if this page is available after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants
-->
<EasyGrants>
  <Module UserClass='cEGWfTAUser'
		PageContent='XML:Pages'
		DefaultPageFrameKey='Option01'
		ModuleHeader=''
		ModuleStyle=''
		DescriptiveName='Early Career Translational Research Award'
		ModuleName='ProgressReport'
		PageName='&PageName;'
		ModuleConfig='&ModuleConfig;'
		DefaultPageKey='Main'
		InvalidURL=''>
    <Roles>
      <Role WfTaskRole='8' />
    </Roles>
    <Class Name='cEGWfTAUser'
			Assembly='EasyGrants'
			FullName='EasyGrants.Web.User.cEGWfTAUser'
			CopyUser='cEGHomeUser'
			UniqueHashKey='Main' />
    <PageFrames>
      <PageFrame Key='Option01'
				PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx' />
      <PageFrame Key='Option02'
				PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx' />
      <PageFrame Key='Print'
				PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx' />
    </PageFrames>
    <Navigation Key='ProgressReport'>
      <NavElement Key='ReturnHome'
				NavTitle='Home'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;' />
      <NavElement Key='Sep1' NavTitle='(' />
      <NavElement Key='Main'
				NavTitle='Main Page'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Main'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Main_Page_Help.pdf' />
      <NavElement Key='ResearchProgress'
				NavTitle='Research Progress'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ResearchProgress'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Research_Progress_Page_Help.pdf' />
      <NavElement Key='Budget'
				NavTitle='Budget'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Budget'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Budget_Page_Help.pdf' />
      <NavElement Key='ResearchProgressText'
				NavTitle='Research Progress Text'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ResearchProgressText'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Research_Progress_Text_Page_Help.pdf' />
      <NavElement Key='Seminars'
				NavTitle='Seminars'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Seminars'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Seminars_Page_Help.pdf' />
      <NavElement Key='Validation'
				NavTitle='Validate'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Validation'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Final_Report_Generation.pdf' />
      <NavElement Key='Submission'
				NavTitle='Submit Report'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'
				HelpFile='&ModuleRoot;/&ModuleName;/Help/Submission_Page_Help.pdf' />
      <NavElement Key='Sep1' NavTitle='(' />
      <NavElement Key='Guidelines'
				NavTitle='Guidelines'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				Target='Blank'
				SourceFile='&ModuleRoot;/&ModuleName;/Help/EC_admin_application_guidelines.pdf'/>
      <NavElement Key='Help'
				NavTitle='Help'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;' />
      <NavElement Key='Sep1' NavTitle='(' />
      <NavElement Key='Logout'
				NavTitle='Logout'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Logout' />
      <NavElement Key='Sep1' NavTitle='(' />
      <NavElement Key='Staff'
				NavTitle='Return to Staff Module'
				Enabled='&NavElementEnabled;'
				EnabledAfterSubmit='&NavElementEnabled;'
				SourceFile=''/>
    </Navigation>
    <Pages>
      <Page Key='Main'
				NavKey='Main'
				PageTitle='Main'
				ContentCtl='&ModuleRoot;/&ModuleName;/PageContent/Main.ascx'
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/PageContent/Submitted_Content.ascx'/>
      <Page Key='ResearchProgress'
				NavKey='ResearchProgress'
				PageTitle='Research Progress'
				ContentCtl='&ModuleRoot;/&ModuleName;/PageContent/ResearchProgress.ascx' />
      <Page Key='Budget'
				NavKey='Budget'
				PageTitle='Budget'
				ContentCtl='EasyGrants/Controls/PageSection/BudgetPeriodReport_Editor.ascx' />
      <Page Key='ResearchProgressText'
				NavKey='ResearchProgressText'
				PageTitle='Research Progress Text'
				ContentCtl='&ModuleRoot;/&ModuleName;/PageContent/ResearchProgressText.ascx' />
      <Page Key='Seminars'
				NavKey='Seminars'
				PageTitle='Seminars'
				ContentCtl='&ModuleRoot;/&ModuleName;/PageContent/Seminar.ascx' />
      <Page Key='SeminarEditor'
				NavKey='Seminars'
				PageTitle='Seminars Editor'
				ContentCtl='&ModuleRoot;/&ModuleName;/PageContent/Seminar_Editor.ascx' />
      <Page Key='Validation'
				NavKey='Validation'
				PageTitle='Validation'
				ContentCtl='&ModuleRoot;/&ModuleName;/PageContent/Validation.ascx' />
      <Page Key='Submission'
				NavKey='Submission'
				PageTitle='Submission'
				ContentCtl='&ModuleRoot;/&ModuleName;/PageContent/Submission.ascx' />
      <Page Key='ReferencePrintable'
				NavKey='Reference'
				PageTitle='Printable Reference Information Form'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReferencePrintableContent.ascx' />
      <Page Key='Logout'
				NavKey='Logout'
				PageTitle='Log Out'
				ContentCtl='&CoreRoot;/Controls/Page/Logout_Content.ascx' />
    </Pages>

    <Validation>
      <ValidationHeader HeaderText='Early Career Translational Research Award Annual Report'>
        <ValidationSection Key='SubmittedFile' DisplayName='Research Progress' PageKey='ResearchProgress'>
          <ValidationItem>
            <Requirement PropertyKey='SubmittedFile'>
              <Filters>
                <Argument PropertyKey='FileTypeID' Value='24'/>
                <Argument PropertyKey='ConversionStatus' Value='-1'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='3'
								Message='Either no progress report was uploaded, or file conversion was not successful.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>
        </ValidationSection>
        <!-- Budget -->
        <ValidationSection Key='Budget' DisplayName='Budget' PageKey='Budget' RequiredText='No' DetailedRequiredText='Not Required'>
          <ValidationItem>
            <Requirement PropertyKey='Expense'>
              <Filters>
                <Argument PropertyKey='Expense' Value='' Operator='NotEqual'/>
                <Argument PropertyKey='BudgetCategoryID' Value='102'>
                  <RelatedProperty PropertyKey='BudgetItem'/>
                </Argument>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='3'
								Message='You must provide the Total Salary.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='Expense'>
              <Filters>
                <Argument PropertyKey='Expense' Value='' Operator='NotEqual'/>
                <Argument PropertyKey='BudgetCategoryID' Value='103'>
                  <RelatedProperty PropertyKey='BudgetItem'/>
                </Argument>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='3'
								Message='You must provide the Total Materials/Supplies.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='Expense'>
              <Filters>
                <Argument PropertyKey='Expense' Value='' Operator='NotEqual'/>
                <Argument PropertyKey='BudgetCategoryID' Value='104'>
                  <RelatedProperty PropertyKey='BudgetItem'/>
                </Argument>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='3'
								Message='You must provide the Total Equipment.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='Expense'>
              <Filters>
                <Argument PropertyKey='Expense' Value='' Operator='NotEqual'/>
                <Argument PropertyKey='BudgetCategoryID' Value='105'>
                  <RelatedProperty PropertyKey='BudgetItem'/>
                </Argument>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='3'
								Message='You must provide the Total Travel.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='Expense'>
              <Filters>
                <Argument PropertyKey='Expense' Value='' Operator='NotEqual'/>
                <Argument PropertyKey='BudgetCategoryID' Value='106'>
                  <RelatedProperty PropertyKey='BudgetItem'/>
                </Argument>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='3'
								Message='You must provide the Total Other Expenses.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='Expense'>
              <Filters>
                <Argument PropertyKey='Expense' Value='' Operator='NotEqual'/>
                <Argument PropertyKey='BudgetCategoryID' Value='107'>
                  <RelatedProperty PropertyKey='BudgetItem'/>
                </Argument>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='3'
								Message='You must provide the Total Indirect Costs.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
        </ValidationSection>
        <ValidationSection Key='ResearchProgressText' DisplayName='Research Progress Text' PageKey='ResearchProgressText'>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProjectDescriptionWHCF'>
              <Filters>
                <Argument PropertyKey='Desc1' Value='' Operator='NotEqual'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='3'
								Message='You must List the original specific project objectives and milestones.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProjectDescriptionWHCF'>
              <Filters>
                <Argument PropertyKey='Desc2' Value='' Operator='NotEqual'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='3'
								Message='You must List any project-related presentations or manuscripts.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProjectDescriptionWHCF'>
              <Filters>
                <Argument PropertyKey='Desc3' Value='' Operator='NotEqual'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='3'
								Message='You must List and describe any invention disclosure or patent activity.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProjectDescriptionWHCF'>
              <Filters>
                <Argument PropertyKey='Desc4' Value='' Operator='NotEqual'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='3'
								Message='You must Describe any progress toward project-related commercialization, licensing, or technology transfer activity.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProjectDescriptionWHCF'>
              <Filters>
                <Argument PropertyKey='Desc5' Value='' Operator='NotEqual'/>
              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='3'
								Message='You must Describe any project-related grants or other funding applications or awards.'
								MaxCount='0'>
              </Result>
            </Results>
          </ValidationItem>
        </ValidationSection>
        <ValidationSection Key='Seminars' DisplayName='Seminars' PageKey='Seminars'>
          <ValidationItem>
            <Requirement PropertyKey='GranteeProject.GranteeProjectSeminars'>
              <Filters>

              </Filters>
            </Requirement>
            <Results>
              <Result
								ResultCode='1'
								Message='You did not provide any seminar information.'
								MaxCount='0'/>
            </Results>
          </ValidationItem>
        </ValidationSection>
        <!-- SubmittedFile -->
        <!--
				<ValidationSection Key='SubmittedFile' DisplayName='Submitted File' PageKey='Main'>
					<ValidationItem>
						<Requirement PropertyKey='SubmittedFile'>
							<Filters>
								<Argument PropertyKey='FileTypeID' Value='24'/>
								<Argument PropertyKey='ConversionStatus' Value='-1'/>
							</Filters>
						</Requirement>
						<Results>
							<Result
								ResultCode='3'
								Message='Either no progress report was uploaded, or file conversion was not successful.'
								MaxCount='0'/>
						</Results>
					</ValidationItem>					
				</ValidationSection>-->
      </ValidationHeader>
    </Validation>
  </Module>
</EasyGrants>
