<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
  <!ENTITY CoreRoot "Core">
  <!ENTITY ModuleRoot "Implementation/Modules">
  <!ENTITY ModuleName "ProgressReport">
]>
<EasyGrants>
  <Outcomes ProgramKey='Progress Report Submitted'
		DefaultOutcomeKey='9'
		DefaultOutcomeDescription='Progress Report Submitted'>
    <!--Progress Report SUBMISSION-->
    <Outcome OutcomeKey='9' OutcomeDescription='Progress Report Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='6' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
      </Filters>
      <Tasks>
        <Task TaskKey='12' Description='ECTR Award Annual PR (Year 1) Review' Status='1' NoPersonID='True' RoleID='10'/>
      </Tasks>
      <Events>
        <Event EventKey='10' Description='Progress Report Submission'/>
      </Events>
    </Outcome>
    <Outcome OutcomeKey='25' OutcomeDescription='Progress Report Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='8' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
      </Filters>
      <Tasks>
        <Task TaskKey='16' Description='ECTR Award Annual PR (Year 2) Review' Status='1' NoPersonID='True' RoleID='10'/>
      </Tasks>
      <Events>
        <Event EventKey='10' Description='Progress Report Submission'/>
      </Events>
    </Outcome>
    <Outcome OutcomeKey='9' OutcomeDescription='Progress Report Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
      <Filters>
        <Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='10' />
        <Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
      </Filters>
      <Tasks>
        <Task TaskKey='18' Description='ECTR Award Annual PR (Year 1) Review' Status='1' NoPersonID='True' RoleID='10'/>
      </Tasks>
      <Events>
        <Event EventKey='10' Description='Progress Report Submission'/>
      </Events>
    </Outcome>
  </Outcomes>
</EasyGrants>
