<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "ApplReview_VP">
]>
<EasyGrants>
	<Outcomes ProgramKey='Application Review'
		PostSubmitModuleConfig='ApplReview_VP_ModuleConfig'
		PostSubmitModuleName="ApplReview_VP"
		ReportOutputRelatedProperty="WfProjectTask.WfProjectTaskPDF.FinalPDFReportKeyLink.ReportOutputDefinitionID">
	</Outcomes>
</EasyGrants>