<DataSources>
	<DataSource Key='EGDatabase'>
		<Class Name='cDataProviderSQL' Assembly='Core' FullName='Core.DataAccess.DBAccess.cDataProviderSQL'> 
			<Arguments>
				<Argument Value='Data Source=LSC-EG5DEV;Initial Catalog=EasygrantsDev;User Id=sa;PASSWORD=wisconsin;' />
			</Arguments>
		</Class>
	</DataSource>
	<DataSource Key='RINDB'>
		<Class Name='cDataProviderSQL' Assembly='Core' FullName='Core.DataAccess.DBAccess.cDataProviderSQL'> 
			<Arguments>
				<Argument Value='Data Source=LSC-EGSQL;Initial Catalog=RINDB;User Id=sa;PASSWORD=wisconsin;' />
			</Arguments>
		</Class>
	</DataSource>
</DataSources>