<DataSources>
  <DataSource Key='EGDatabase'>
    <Class Name='cDataProviderSQL' Assembly='Core' FullName='Core.DataAccess.DBAccess.cDataProviderSQL'>
      <Arguments>
        <Argument Value='Data Source=LSC-EGSQL.LSC.GOV;Initial Catalog=EasyGrants;User Id=sa;PASSWORD=wisconsin;' />
      </Arguments>
    </Class>
  </DataSource>
</DataSources>