<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "ApplReview_OPPDir">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "ApplReviewModule_OPPDirConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>

<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		EnabledAfterSubmit  'Indicates if navigation element is enabled after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants

-->

<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		  PageContent='XML:Pages'
		  DefaultPageFrameKey='Option01'
		  ModuleName = '&ModuleName;'
		  DescriptiveName = 'Application Review - OPP Director'
		  ModuleConfig = '&ModuleConfig;'
		  PageName='&PageName;'
		  DefaultPageKey='OPPDirCompReview'
		  InvalidURL=''>

		<Class Name='cEGWfTAUser'
				Assembly='EasyGrants'
				FullName='EasyGrants.Web.User.cEGWfTAUser'
				CopyUser= 'cEGHomeUser'
				UniqueHashKey='_Appl' />

		<PageFrames>
			<PageFrame Key='Option01'
					  PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

		<!-- Configure Left navigation links -->
		<Navigation Key='Application'>
			<NavElement Key='StaffHome'
				NavTitle='Home'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;'
				SourceFile='&ModuleRoot;/Staff/ModuleContent.aspx?Config=ModuleConfig&amp;Page=Home'/>
			<NavElement Key='Sep2' NavTitle='('/>
			<NavElement Key='OPPDirCompReview'
			 NavTitle='Review'
			 Enabled='&NavElementEnabled;'
			 SourceFile='&DefaultSourceFileURL;&amp;Page=OPPDirCompReview'/>
			<NavElement Key='Submission'
			 NavTitle='Review and Submit'
			 Enabled='&NavElementEnabled;'
			 SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'/>
		</Navigation>

		<!-- Configure Web Page filename -->
		<Pages>
			<Page Key='Home'
				NavKey='Home'
				PageTitle='Home'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/HomeContent.ascx' />

			<Page Key='OPPDirCompReview'
				NavKey='OPPDirCompReview'
				PageTitle='Application Review - OPP Director'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/OPPDir_CompReview.ascx'
			    AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PostSubmission_Content.ascx'/>

			<Page Key='Submission'
				NavKey='Submission'
				PageTitle='Review and Submit'
			    ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReviewSubmit.ascx' />

			<Page Key='CSRAnalysis'
				NavKey='CSRAnalysis'
				PageTitle='CSR Analysis'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/CSRAnalysis.ascx'/>

			<Page Key='ScoreReport'
				NavKey='ScoreReport'
				PageTitle='Score Report'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ScoreReport.ascx' />
			
		</Pages>

		<Validation>
			<ValidationSection Key='OPPDirCompReview' DisplayName='OPP Director Review' PageKey='OPPDirCompReview'>
				<ValidationItem>
					<Requirement PropertyKey='WfTaskOutcome'>
						<Filters>
							<Argument PropertyKey='WfTaskOutcomeID' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Grant Award Recommendation is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='LscFundingTermID' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Funding Term is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='SpecialGrant' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Special Grant Conditions field is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscOA1'>
						<Filters>
							<Argument PropertyKey='StaffReaderPersonID' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='OPP Director field is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscOA1'>
						<Filters>
							<Argument PropertyKey='StaffReaderDate' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Date of Meeting is required.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='WfTaskOutcomeID' Value='112' >
								<RelatedProperty PropertyKey='WfTaskAssignment'/>
							</Argument>
							<Argument PropertyKey='LscFundingTermID' Value='10'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Grant Award Recommendation of "Fund" is inconsistent with Funding Recommendation of "Do Not Fund".'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='WfTaskOutcomeID' Value='113' >
								<RelatedProperty PropertyKey='WfTaskAssignment'/>
							</Argument>
							<Argument PropertyKey='LscFundingTermID' Value='10' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Grant Award Recommendation is "Do Not Fund", so Funding Recommendation must also be "Do Not Fund".'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewApplication'>
						<Filters>
							<Argument PropertyKey='WfTaskOutcomeID' Value='113' >
								<RelatedProperty PropertyKey='WfTaskAssignment'/>
							</Argument>
							<Argument PropertyKey='SpecialGrant' Value='True'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Grant Award Recommendation is "Do Not Fund", so Special Grant Conditions must be answered "No".'
							MinCount='1'/>
					</Results>
				</ValidationItem>

			</ValidationSection>
			
		</Validation>
	</Module>
</EasyGrants>
