<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "RenewalReview_President">
]>
<!--<EasyGrants>
	<Outcomes ProgramKey='Renewal Review'
		  DefaultOutcomeKey='123'
		  DefaultOutcomeDescription='Renewal Review Submitted'>
		--><!-- RENEWAL APPLICATION REVIEW SUBMISSION --><EasyGrants>
	<Outcomes ProgramKey='Renewal Review President'
		PostSubmitModuleConfig='RenewalReviewModule_PresidentConfig'
		PostSubmitModuleName="RenewalReview_President"
		ReportOutputRelatedProperty="WfProjectTask.WfProjectTaskPDF.FinalPDFReportKeyLink.ReportOutputDefinitionID">
</Outcomes>
</EasyGrants>

