<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "ApplReview_OCEStaff">
]>
<EasyGrants>
	<Outcomes ProgramKey='Application Review'
		  DefaultOutcomeDescription='Application Review Submitted'
		  PostSubmitModuleConfig="ApplReviewModule_OCEStaffConfig"
		  PostSubmitModuleName="ApplReview_OCEStaff"
		  ReportOutputRelatedProperty="WfProjectTask.WfProjectTaskPDF.FinalPDFReportKeyLink.ReportOutputDefinitionID">
		<!-- APPLICATION REVIEW SUBMISSION - Check this before deploying-->
		<Outcome OutcomeKey='182' OutcomeDescription='Application Review Submitted' DataObjectKey='WfTaskAssignment' WfTaskAssignmentFilterKey='WfTaskAssignmentID'>
			<Filters>
				<Argument Type='' TypeKey='' PropertyKey='WfTaskID' Value='83' />
				<Argument Type='' TypeKey='' PropertyKey='WfTaskStatusID' Value='2' />
			</Filters>
			<Events>
				<Event EventKey='6' Description='Application Review Submission Notification'/>
				<Event EventKey='69' Description='Submission of OCE staff review of fiscal form'/>
			</Events>
		</Outcome>
	</Outcomes>
</EasyGrants>