<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "ApplReview_OCEStaff">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY ModuleConfig "ApplReviewModule_OCEStaffConfig">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY NavElementEnabled "True">
]>

<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		EnabledAfterSubmit  'Indicates if navigation element is enabled after submission
		Target				'Target for page (i.e., _blank)
		Enabled				'Indicates if navigation element should be enabled
		External			'Indicates that the navigation item will take the user to a web page outside of Easygrants

-->

<EasyGrants>
	<Module UserClass='cEGWfTAUser'
		  PageContent='XML:Pages'
		  DefaultPageFrameKey='Option01'
		  ModuleName = '&ModuleName;'
		  DescriptiveName = 'Application Review - OCE Staff'
		  ModuleConfig = '&ModuleConfig;'
		  PageName='&PageName;'
		  DefaultPageKey='Recommendation'
		  InvalidURL=''>

		<Class Name='cEGWfTAUser'
				Assembly='EasyGrants'
				FullName='EasyGrants.Web.User.cEGWfTAUser'
				CopyUser= 'cEGHomeUser'
				UniqueHashKey='_Appl' />

		<PageFrames>
			<PageFrame Key='Option01'
					  PageFrameCtl='Easygrants/Controls/PageFrame/ModuleBrowser01.ascx'/>
			<PageFrame Key='Option02'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/EGModuleBrowser02.ascx'/>
			<PageFrame Key='Print'
					  PageFrameCtl='EasyGrants/Controls/PageFrame/ModulePrint01.ascx'/>
		</PageFrames>

		<!-- Configure Left navigation links -->
		<Navigation Key='Application'>
			<NavElement Key='StaffHome'
				NavTitle='Home'
				EnabledAfterSubmit='&NavElementEnabled;'
				Enabled='&NavElementEnabled;'
				SourceFile='&ModuleRoot;/Staff/ModuleContent.aspx?Config=ModuleConfig&amp;Page=Home'/>
			<NavElement Key='Sep2' NavTitle='('/>

			
			<NavElement Key='Recommendation'
				NavTitle='Recommendation'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Recommendation'/>
			<NavElement Key='Submission'
				NavTitle='Review and Submit'
				Enabled='&NavElementEnabled;'
				SourceFile='&DefaultSourceFileURL;&amp;Page=Submission'/>
		</Navigation>

		<!-- Configure Web Page filename -->
		<Pages>
			<Page Key='Home'
				NavKey='Home'
				PageTitle='Home'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/HomeContent.ascx'/>

			<Page Key='ApplicationScoring'
				NavKey='ApplicationScoring'
				PageTitle='Application Scoring'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ApplicationScoring.ascx' 
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PostSubmission_Content.ascx'/>
			<Page Key='Recommendation'
				NavKey='Recommendation'
				PageTitle='Recommendation'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Recommendation.ascx' 
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PostSubmission_Content.ascx'/>
			<Page Key='Submission'
				NavKey='Submission'
				PageTitle='Review and Submit'
			   ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/ReviewSubmit.ascx' 
				AfterSubmitContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/PostSubmission_Content.ascx'/>
		</Pages>

		<Validation>
			<ValidationSection Key='Recommendation' DisplayName='Recommendation' PageKey='Recommendation'>
				<ValidationItem>
					<Requirement PropertyKey='LscValidateOceStaffSupplementalScores'>
						<Filters>
							<Argument PropertyKey='FinanceReportReviewIntervalIsOther' Value='False' Operator='Boolean'/>
							<Argument PropertyKey='LscFinanceReportReviewIntervalOtherScore' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='The applicant did not indicate "Other" for question I.5.a. You must not provide a score for this item.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscValidateOceStaffSupplementalScores'>
						<Filters>
							<Argument PropertyKey='FinanceReportReviewIntervalIsOther' Value='True' Operator='Boolean'/>
							<Argument PropertyKey='LscFinanceReportReviewIntervalOtherScore' Value='' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='The applicant indicated "Other" for question I.5.a. You must provide a score for this item.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscValidateOceStaffSupplementalScores'>
						<Filters>
							<Argument PropertyKey='LscFinanceReportReviewIntervalOtherScore' Value='0' Operator='LessThan' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Your score for question I.5.a must be between 0 and 1.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscValidateOceStaffSupplementalScores'>
						<Filters>
							<Argument PropertyKey='LscFinanceReportReviewIntervalOtherScore' Value='1' Operator='GreaterThan' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Your score for question I.5.a must be between 0 and 1.'
							MinCount='1'/>
					</Results>
				</ValidationItem>

				<ValidationItem>
					<Requirement PropertyKey='LscValidateOceStaffSupplementalScores'>
						<Filters>
							<Argument PropertyKey='AcctgCtrlPolicyReviewIntervalIsOther' Value='False' Operator='Boolean'/>
							<Argument PropertyKey='LscAcctgCtrlPolicyReviewIntervalOtherScore' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='The applicant did not indicate "Other" for question I.5.c. You must not provide a score for this item.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscValidateOceStaffSupplementalScores'>
						<Filters>
							<Argument PropertyKey='AcctgCtrlPolicyReviewIntervalIsOther' Value='True' Operator='Boolean'/>
							<Argument PropertyKey='LscAcctgCtrlPolicyReviewIntervalOtherScore' Value='' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='The applicant indicated "Other" for question I.5.c. You must provide a score for this item.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscValidateOceStaffSupplementalScores'>
						<Filters>
							<Argument PropertyKey='LscAcctgCtrlPolicyReviewIntervalOtherScore' Value='0' Operator='LessThan' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Your score for question I.5.c must be between 0 and 1.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscValidateOceStaffSupplementalScores'>
						<Filters>
							<Argument PropertyKey='LscAcctgCtrlPolicyReviewIntervalOtherScore' Value='1' Operator='GreaterThan' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Your score for question I.5.c must be between 0 and 1.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscValidateOceStaffSupplementalScores'>
						<Filters>
							<Argument PropertyKey='LscCeoCompensationJustificationIsOther' Value='False' Operator='Boolean'/>
							<Argument PropertyKey='LscCeoCompensationJustificationScore' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='The applicant did not indicate "Other" for question I.16. You must not provide a score for this item.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscValidateOceStaffSupplementalScores'>
						<Filters>
							<Argument PropertyKey='LscCeoCompensationJustificationIsOther' Value='True' Operator='Boolean'/>
							<Argument PropertyKey='LscCeoCompensationJustificationScore' Value='' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='The applicant indicated "Other" for question I.16 You must provide a score for this item.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscValidateOceStaffSupplementalScores'>
						<Filters>
							<Argument PropertyKey='LscCeoCompensationJustificationScore' Value='0' Operator='LessThan' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Your score for question I.16 must be between 0 and 1.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscValidateOceStaffSupplementalScores'>
						<Filters>
							<Argument PropertyKey='LscCeoCompensationJustificationScore' Value='1' Operator='GreaterThan' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='Your score for question I.16 must be between 0 and 1.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='CertGoodStandingMeetReq' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must indicate whether the Certificate of Good Standing met requirements.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='CertGoodStanding' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must provide your assessment of the Certificate of Good Standing.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='AcctManual' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must provide your assessment of the Accounting Manual.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='FidelityBondMeetReq' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must indicate whether the Current Fidelity Bond Coverage document met requirements.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='FidelityBond' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must provide your assessment of the Current Fidelity Bond Coverage document.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='SgcOtherSources' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must provide your assessment of Fiscal-related Special Grant Conditions from Other Funding Sources Currently in Effect (if applicable).'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='CommitteeCharters' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must provide your assessment of the Audit/Finance/Executive Committee Charters.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='CostAlloc' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must provide your assessment of the Cost-Allocation Method/Policy.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='PaiMethod' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must provide your assessment of the Private Attorney Involvement Method/Policy.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='SegFinDuties' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must provide your assessment of the Segregation of Financial Duties Worksheet.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='DerivativeIncomePolicy' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must provide your assessment of the Derivative Income Policy.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='AudFinStmt' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must evaluate the applicant on the Recent Audited Financial Statement opinion and weaknesses (if noted):'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='FinStability' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message="You must evaluate the applicant's financial stability"
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='QualityMgmtSystems' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message="You must evaluate the Quality of the applicant's management systems to effectively implement statutory, regulatory or other requirements imposed on non-Federal entities"
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='TimelyFinStmts' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message="You must evaluate the Timeliness of the applicant's submitting financial statements, requests for waivers (fund balance, PAI)"
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='SubrecipientCompliance' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message="You must evaluate applicant's monitoring for fiscal compliance of subrecipients (if applicable)."
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='PropertyAgreement' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message="You must evaluate the Property Agreement (if applicable)."
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='FundBalanceHistory' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message="You must evaluate the Fund balance history, since the applicant’s last competitive application, and proper reporting of carry forward fund balance in the following Audited Financial Statement(s) (if applicable)."
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='PaiWaiverHistory' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message="You must evaluate the  	PAI waiver history, since the applicant’s last competitive application, and accuracy of PAI reporting in the applicable Audited Financial Statement(s) (if applicable)."
							MaxCount='0'/>
					</Results>
				</ValidationItem>

				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='OverallComment' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must provide an overall comment.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='SubjectFiscalSGC' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must indicate whether the applicant was subject to fiscal SGCs during the current funding year.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='SubjectFiscalSGC' Value='True' />
							<Argument PropertyKey='FiscalSGCCompleted' Value='' />
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You indicated that the applicant was subject to fiscal SGCs during the current funding year. You must indicate whether the fiscal SGCs have been successfully completed.'
							MinCount='1'/>
					</Results>
				</ValidationItem>

				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='SubjectFiscalSGC' Value='False' />
							<Argument PropertyKey='FiscalSGCCompleted' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You indicated that the applicant was not subject to fiscal SGCs during the current funding year. You also indicated that fiscal SGCs were or were not completed. Please resolve.'
							MinCount='1'/>
					</Results>
				</ValidationItem>

				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='FiscalSGCCompleted' Value='False' />
							<Argument PropertyKey='AddlActionToComplete' Value=''/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You indicated that the fiscal SGCs have not been successfully completed. You must indicate what additional actions need to be completed.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='FiscalSGCCompleted' Value='True' />
							<Argument PropertyKey='AddlActionToComplete' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You indicated that the fiscal SGCs have been successfully completed, but you have also indicated additional actions to be completed. Please resolve.'
							MinCount='1'/>
					</Results>
				</ValidationItem>

				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='FundingTermRecommendationID' Value='3' />
							<Argument PropertyKey='FundingTermRecommendationReason' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You have recommended a funding term of 3 years, but you have also provided a reason for recommending a funding term of less than 3 years. Please resolve.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='ImposeFiscalSGC' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You must indicate whether fiscal SGCs should be imposed.'
							MaxCount='0'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='ImposeFiscalSGC' Value='True' />
							<Argument PropertyKey='RecommendedFiscalSGC' Value=''/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You indicated that the fiscal SGCs should be imposed. You must specify the proposed SGCs and reporting dates.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
				<ValidationItem>
					<Requirement PropertyKey='LscReviewCompApplOCEStaff'>
						<Filters>
							<Argument PropertyKey='ImposeFiscalSGC' Value='False' />
							<Argument PropertyKey='RecommendedFiscalSGC' Value='' Operator='NotEqual'/>
						</Filters>
					</Requirement>
					<Results>
						<Result
							ResultCode='3'
							Message='You indicated that the fiscal SGCs should not be imposed, but you have specified proposed SGCs and reporting dates. Please resolve.'
							MinCount='1'/>
					</Results>
				</ValidationItem>
			</ValidationSection>
		</Validation>
	</Module>
</EasyGrants>
