<?xml version="1.0"?>
<!DOCTYPE EasyGrants [
  <!ENTITY ApplName "EasyGrants_Web">
  <!ENTITY ApplAssembly "EasyGrants_Web">
  <!ENTITY ApplRoot "&ApplName;">
  <!ENTITY ModuleRoot "/&ApplRoot;/Implementation/Modules">
  <!ENTITY BaselineDDRoot "/&ApplRoot;/BaselineDD">
  <!ENTITY ConfigRoot "/&ApplRoot;/ConfigFiles">
  <!ENTITY ReleaseBuild "r1.20080904.A">
]>

<EasyGrants>
  <Appl ActiveProperties='Dev'>
	  <Settings>
		  <Setting Key='SPInvalidFileNameCharacters' Value='\ / : * ? " &apos; &lt; &gt; | # { } % ~ &amp; +' />
		  <Setting Key='SPInvalidFileNameCharactersRegex' Value='[\*\?\|\\/:"&apos;&lt;&gt;#{}%~&amp;+]' />
	  </Settings>

	  <BuildVersions>
      <BuildVersion BuildKey='Debug'
				Version='&ApplRoot;'
				Build='&ReleaseBuild;'
			/>
      <BuildVersion BuildKey='Test'
				Version='Test of &ApplRoot;'
				Build='&ReleaseBuild;'
			/>
      <BuildVersion BuildKey='Stage'
				Version='&ApplRoot;'
				Build='&ReleaseBuild;'
			/>
      <BuildVersion BuildKey='Release'
				Version='&ApplRoot;'
				Build='&ReleaseBuild;'
			/>
    </BuildVersions>

    <Properties Key='Dev'
			LogoutURL='/&ApplRoot;/Implementation/Modules/Login/LoginModuleContent.aspx?Config=LoginModuleConfig&amp;Page=Login'
			Name='&ApplName;'
			Root='/&ApplRoot;'
			ModuleRoot='&ModuleRoot;'
			UNCRoot='\\localhost\wwwroot\&ApplRoot;'
			BaseURL='http://localhost'
			SecureURL='http://localhost'
			MaxFailedLoginAttempts='4'
			ConfigRoot='&ConfigRoot;/'
			DataDefinition='&BaselineDDRoot;/DataDefinition.config'
			ClientDataDefinition='&ConfigRoot;/ClientDataDefinition.config'
			QueryToolDefinition='&BaselineDDRoot;/DataDefinition.config'
			WebAssembly='&ApplAssembly;'
			LocalPDFUrl='/&ApplRoot;/Implementation/PDF/'
		/>

    <Modules
			ModuleStyle='/&ApplRoot;/Core/Styles/Easygrants.css'
			ClientModuleStyle='/&ApplRoot;/Core/Styles/ClientImplementation.css'
			ModuleHeader='Easygrants/Controls/Base/ModuleHeader.ascx'
			ModuleFooter='Easygrants/Controls/Base/ModuleFooter.ascx'
			CompetitionHeader='Easygrants/Controls/Base/CompetitionHeader.ascx'
			CompetitionFooter='Easygrants/Controls/Base/CompetitionFooter.ascx'
		>
      <Module Key='Login'
				ConfigFile='&ModuleRoot;/Login/LoginModuleConfig.config'>
        <EGUserTypes Type='Public'/>
      </Module>
      <Module Key='Home'
				ConfigFile='&ModuleRoot;/Home/HomeModuleConfig.config'>
        <!--Specifies the module that the user will be redirected to after login (based on user type). 
					ConfigFile listed above applies to "Appl" type only. 
					Create a different ConfigFile attribute for other user types. -->

        <EGUserTypes Type='PUBLIC'/>
      </Module>
      <!--
			<Module Key='Home'
				ConfigFile='&ModuleRoot;/Home/GuestHomeModuleConfig.config'>
				<EGUserTypes Type='GUEST'/>
			</Module>
			-->
      <Module Key='Staff' Root='&ModuleRoot;'
				ConfigFile='&ModuleRoot;/Staff/ModuleConfig.config'>
        <EGUserTypes Type='SMBR'/>
        <EGUserTypes Type='ADMIN'/>
      </Module>

      <Module Key='Profile' Root='&ModuleRoot;' />
    </Modules>

    <EMailParams>
      <EmailMerge Key='Tags' OpenTag='[' CloseTag=']' />
      <EMailParam
				SMTPHost='altummail.internal.altum.com'
				ToAddress='EGAutoEmails@altum.com'>
        <ReleaseBuild BuildKey='Debug'/>
        <ReleaseBuild BuildKey='Test'/>
      </EMailParam>
      <EMailParam
				SMTPHost='altummail.internal.altum.com'
				ToAddress='EGAutoEmails@altum.com'>
        <ReleaseBuild BuildKey='Stage'/>
      </EMailParam>
      <EMailParam
				SMTPHost='altummail.internal.altum.com'>
        <ReleaseBuild BuildKey='Release'/>
      </EMailParam>
      <DefaultSupportEmail
				TechAddress='EGAutoEmails@altum.com'
				ContentAddress='support@foundation.org'>
        <ReleaseBuild BuildKey='Debug'/>
        <ReleaseBuild BuildKey='Test'/>
        <ReleaseBuild BuildKey='Stage'/>
        <ReleaseBuild BuildKey='Release'/>
      </DefaultSupportEmail>
      <!-- Person -->
      <DataObjectEmailProperties Key='Person'>
        <EMail Property='PersonPrimaryEMail.ContactValue1'/>
        <Name Property='LastNameFirstName'/>
        <RcptPersonID Property='PersonID'/>
      </DataObjectEmailProperties>
      <!-- Organization -->
      <DataObjectEmailProperties Key='Organization'>
        <EMail Property='PrimaryEmail.ContactValue1'/>
        <Name Property='OrganizationName'/>
        <RcptPersonID Property='PrimaryPerson.PersonID'/>
      </DataObjectEmailProperties>
      <!-- WfTaskAssignment -->
      <DataObjectEmailProperties Key='WfTaskAssignment'>
        <EMail Property='Person.PersonPrimaryEMail.ContactValue1'/>
        <Name Property='Person.LastNameFirstName'/>
        <RcptPersonID Property='PersonID'/>
      </DataObjectEmailProperties>
      <DataObjectEmailProperties Key='GranteeProject'>
        <EMail Property='PrimaryPerson.PersonPrimaryEMail.ContactValue1'/>
        <Name Property='PrimaryPerson.LastNameFirstName'/>
        <RcptPersonID Property='PrimaryPerson.PersonID'/>
      </DataObjectEmailProperties>
		<DataObjectEmailProperties Key='ReviewCycle'>
			<EMail Property='ReviewCycleStages.ReviewCycleStageGranteeProjectReviewStages.RevWfTaskAssignments.Person.PersonPrimaryEMail.ContactValue1'/>
			<Name Property='ReviewCycleStages.ReviewCycleStageGranteeProjectReviewStages.RevWfTaskAssignments.Person.LastNameFirstName'/>
			<RcptPersonID Property='ReviewCycleStages.ReviewCycleStageGranteeProjectReviewStages.RevWfTaskAssignments.Person.PersonID'/>
		</DataObjectEmailProperties>
    </EMailParams>
	<ConfigurableLabels>
		 <Label Name='GrantId'>Easygrants ID</Label>
		 <Label Name='LegacyGrantId'>Legacy Grant ID</Label>
	</ConfigurableLabels>
  </Appl>  
  <Controls>
	<Control Key='cAutoCompleteTextBox'
		  ControlFile='/&ApplRoot;/Core/Controls/Base/AutoCompleteTextBox.ascx'>
	</Control>
    <Control Key='cDoubleListBox'
			ControlFile='/&ApplRoot;/Core/Controls/Base/DoubleListBox.ascx'>
    </Control>
    <Control Key='cDoubleListBox2'
			ControlFile='/&ApplRoot;/Core/Controls/Base/DoubleListBox2.ascx'>
    </Control>
    <Control Key='cDropDown'
			ControlFile='/&ApplRoot;/Core/Controls/Base/DropDown.ascx'>
    </Control>
    <Control Key='cDataListCtl'
			ControlFile='/&ApplRoot;/Core/Controls/Base/DataListCtl.ascx'>
    </Control>
    <Control Key='cButton'
			ControlFile='/&ApplRoot;/Core/Controls/Base/CSSButton.ascx'>
    </Control>
    <Control Key='cButtonImage'
			ControlFile='/&ApplRoot;/Core/Controls/Base/Button.ascx'>
    </Control>    
    <Control Key='cLink'
			ControlFile='/&ApplRoot;/Core/Controls/Base/Link.ascx'>
    </Control>
    <Control Key='cListBox'
			ControlFile='/&ApplRoot;/Core/Controls/Base/ListBox.ascx'>
    </Control>
    <Control Key='cCheckBoxList'
			ControlFile='/&ApplRoot;/Core/Controls/Base/CheckBoxList.ascx'>
    </Control>
    <Control Key='cUpload' Type='Upload'
			ControlFile='/&ApplRoot;/Core/Controls/Base/Upload.ascx' SPControlFile='/&ApplRoot;/Core/Controls/Sharepoint/Upload.ascx'>
    </Control>
	<Control Key='cUploadSaveAll' Type='Upload'
			ControlFile='/&ApplRoot;/Easygrants/Controls/Base/UploadSaveAll.ascx' SPControlFile='/&ApplRoot;/Core/Controls/Sharepoint/UploadSaveAll.ascx'>
    </Control>
    <Control Key='cUpload1' Type='Upload'
			ControlFile='/&ApplRoot;/Core/Controls/Base/Upload1.ascx' SPControlFile='/&ApplRoot;/Core/Controls/Sharepoint/Upload1.ascx'>
	</Control>
	<Control Key='cUploadTemplate' Type='Upload'
			ControlFile='/&ApplRoot;/Core/Controls/Base/UploadTemplate.ascx' SPControlFile='/&ApplRoot;/Core/Controls/Sharepoint/UploadTemplate.ascx'>
	</Control>
	<Control Key='cUploadNew' Type='Upload'
			  ControlFile='/&ApplRoot;/Core/Controls/Base/UploadNew.ascx' SPControlFile='/&ApplRoot;/Core/Controls/Sharepoint/UploadNew.ascx'>
    </Control>
    <Control Key='cUploadInstructions'
			ControlFile='/&ApplRoot;/Core/Controls/Base/UploadInstructions.ascx'>
    </Control>
    <Control Key='cEmailTextBox'
			ControlFile='/&ApplRoot;/Core/Controls/Base/EmailTextBox.ascx'>
    </Control>
    <Control Key='cDateTextBox'
			ControlFile='/&ApplRoot;/Core/Controls/Base/DateTextBoxCalendar.ascx'>
    </Control>
    <Control Key='cDateTimeTextBox'
			ControlFile='/&ApplRoot;/Core/Controls/Base/DateTimeTextBox.ascx'>
    </Control>
    <Control Key='cTextBox'
			ControlFile='/&ApplRoot;/Core/Controls/Base/TextBox.ascx'>
    </Control>
    <Control Key='cMoneyTextBox'
			ControlFile='/&ApplRoot;/Core/Controls/Base/MoneyTextBox.ascx'>
    </Control>
    <Control Key='cPasswordTextBox'
			ControlFile='/&ApplRoot;/Core/Controls/Base/PasswordTextBox.ascx'>
    </Control>
    <Control Key='cRadioButton'
			ControlFile='/&ApplRoot;/Core/Controls/Base/RadioButton.ascx'>
    </Control>
    <!--<Control Key='cOrgSelectLauncher'
			ControlFile='/&ApplRoot;/Core/Controls/Base/OrgSelectLauncher.ascx'>
		</Control>-->
    <Control Key='cOrgSelectLauncherNotInList'
			ControlFile='/&ApplRoot;/Easygrants/Controls/Base/OrgSelectLauncherNotInList.ascx'>
    </Control>
    <Control Key='cPopUpSelectorLauncher2'
			ControlFile='/&ApplRoot;/Core/Controls/Base/PopUpSelectorLauncher2.ascx'>
    </Control>
    <Control Key='cCheckBox'
			ControlFile='/&ApplRoot;/Core/Controls/Base/CheckBox.ascx'>
    </Control>
    <Control Key='cRadioButtonList'
			ControlFile='/&ApplRoot;/Core/Controls/Base/RadioButtonList.ascx'>
    </Control>
    <Control Key='cTextArea'
			ControlFile='/&ApplRoot;/Core/Controls/Base/TextArea.ascx'>
    </Control>
    <Control Key='cLabel'
			ControlFile='/&ApplRoot;/Core/Controls/Base/Label.ascx'>
    </Control>
    <Control Key='cCloseWindow'
			ControlFile='/&ApplRoot;/Core/Controls/Base/CloseWindow.ascx'>
    </Control>
    <Control Key='cNavigationList'
			ControlFile='/&ApplRoot;/EasyGrants/Controls/Base/NavigationListCtl.ascx'>
    </Control>
    <Control Key='cValidationSummary'
			ControlFile='/&ApplRoot;/Core/Controls/Base/ValidationSummary.ascx'>
    </Control>
    <Control Key='cFileUploadOpen'
			ControlFile='/&ApplRoot;/Core/Controls/Base/FileUploadOpen.ascx'>
    </Control>
    <Control Key='cDocumentListCtl'
			ControlFile='/&ApplRoot;/Core/Controls/Base/DocumentListCtl.ascx'>
    </Control>
    <Control Key='cDataPresenterList'
			ControlFile='/&ApplRoot;/Core/Controls/Base/DataPresenterList.ascx'>
    </Control>
    <Control Key='cTextPopUp'
			ControlFile='/&ApplRoot;/Core/Controls/Base/TextPopUp.ascx'>
    </Control>
    <Control Key='cReportOutputLink'
			ControlFile='/&ApplRoot;/Core/Controls/Base/ReportOutputLink.ascx'>
    </Control>
    <Control Key='cReportOutputOpen'
			ControlFile='/&ApplRoot;/Core/Controls/Base/ReportOutputOpen.ascx'>
    </Control>
    <Control Key='cpgReportOutputReader'
			ControlFile='/&ApplRoot;/Core/Controls/Base/pgReportOutputReader.aspx'>
    </Control>
    <Control Key='cCSSButton'
			ControlFile='/&ApplRoot;/Core/Controls/Base/CSSButton.ascx'>
    </Control>
    <Control Key='cDropDownText'
			ControlFile='/&ApplRoot;/Core/Controls/Base/DropDownText.ascx'>
    </Control>
    <Control Key='cWftaReopenCheckboxlist'
			ControlFile='/&ApplRoot;/Easygrants/Controls/Base/WftaReopenCheckboxlist.ascx'>
    </Control>
    <Control Key='cHorizNavCtl'
			ControlFile='/&ApplRoot;/Core/Controls/Base/HorizNav.ascx'>
    </Control>
    <Control Key='cImport'
      ControlFile='/&ApplRoot;/Core/Controls/Base/Import.ascx'>
    </Control>

  </Controls>
  <ForbiddenFiles>
    <FileExtension Name='exe' ErrorMessage='Files with extension of .exe are not permitted.'/>
    <FileExtension Name='bat' ErrorMessage='Files with extension of .bat are not permitted.'/>
    <FileExtension Name='aspx' ErrorMessage='Files with extension of .aspx are not permitted.'/>
  </ForbiddenFiles>
  <UploadViewerControls>
	<Control Type='ConvertedFileViewer' URL='Core/Controls/Base/pgUploadReader.aspx' SPURL='Core/Controls/Sharepoint/pgUploadReader.aspx'/>
	<Control Type='OriginalFileViewer' URL='Core/Controls/Base/pgUploadSrcReader.aspx' SPURL='Core/Controls/Sharepoint/pgUploadSrcReader.aspx' />
	<Control Type='InProcess' URL='Core/Controls/Base/pgUploadReader_InQueue.aspx' />
	<Control Type='InProcessSrcFile' URL='Core/Controls/Base/pgUploadSrcReader_InQueue.aspx' SPURL='Core/Controls/Sharepoint/pgUploadSrcReader_InQueue.aspx' />
	<Control Type='Error' URL='Core/Controls/Base/pgUploadReader_Error_VDate.aspx' />
	<Control Type='SrcReaderError' URL='Core/Controls/Base/pgUploadSrcReader_Error.aspx' SPURL='Core/Controls/Sharepoint/pgUploadSrcReader_Error.aspx' />
	<Control Type='SharepointPageNotFound' URL='Core/Controls/Sharepoint/pgUploadNotFound.aspx' SPURL='Core/Controls/Sharepoint/pgUploadNotFound.aspx' />
  </UploadViewerControls>
</EasyGrants>
