<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE EasyGrants [
	<!ENTITY CoreRoot "Core">
	<!ENTITY EasyGrantsRoot "EasyGrants">
	<!ENTITY ModuleRoot "Implementation/Modules">
	<!ENTITY ModuleName "Staff">
	<!ENTITY ModuleConfig "ModuleConfig">
	<!ENTITY PageName "ModuleContent.aspx">
	<!ENTITY PageContent "PageContent">
	<!ENTITY DefaultSourceFileURL "&ModuleRoot;/&ModuleName;/&PageName;?Config=&ModuleConfig;">
	<!ENTITY DefaultPageContentPath "&ModuleRoot;/&ModuleName;/Controls/Page">
	<!ENTITY DefaultHelpFile "&ModuleRoot;/&ModuleName;/Help/Easygrants Mgr User Guide_WHCF.pdf">
	<!ENTITY NavElementEnabled "True">
]>

<!--
	NavElement properites:
		Key					'Key for this element
		NavTitle			'Title that appears in the navigation
		SourceFile			'Source URL
		HelpFile			'Indicates the HelpFile for this page (drives visiblity and URL of Help element)
		Visible				'Indicates initial visibility of this element
		AvailableAfterSubmit'Indicates if this page is available after submission
		Target				'Target for page (i.e., _blank)
-->

<EasyGrants>
  <Module UserClass='cEGStaffUser'
		  PageContent='XML:Pages'
		  DefaultPageFrameKey='Option01'
		  HomeURL='&DefaultSourceFileURL;&amp;Page=Home'
		  PageName = '&PageName;'
		  ModuleName = '&ModuleName;'
		  DescriptiveName='LSC Grants Manager'
		  ModuleConfig = '&ModuleConfig;'
		  ModuleHeader = '&ModuleRoot;/&ModuleName;/Controls/Base/ModuleHeader.ascx'
		  DefaultPageKey='Home'
		  InvalidURL=''>


    <Navigation Key='Login' Baseline='Append'>

      <NavElement Key='ProgressReportEL'
				NavTitle='Grantee Reports'
				Enabled='True'
				ActiveOnSelect='True'
				HelpFile='Help/Index.aspx?grantee_reports.htm'
				SourceFile='&DefaultSourceFileURL;&amp;Page=ProgressReportEL'
				Baseline='Append'>
        <NavElement Key='GARTracking' Baseline='Override'
					  NavTitle='GAR Tracking'
					  Enabled='True'
					  ActiveOnSelect='True'
					  SourceFile='&DefaultSourceFileURL;&amp;Page=GARTrackingEL'/>
      </NavElement>

      <NavElement Key='EvaluationTool'
				  NavTitle='Evaluation Tool'
				  Enabled='True'
				  ActiveOnSelect='True'
			      SourceFile='&DefaultSourceFileURL;&amp;Page=EvaluationTool'
					InsertAfter='Tasks'
				  Baseline='Append'>
      </NavElement>
        <NavElement Key='FAQ'
              NavTitle='FAQ'
              Enabled='&NavElementEnabled;'
							External='True' 
              Target='Blank'
					    InsertAfter='Administration'
              SourceFile='http://www.lsc.gov/'
             Baseline='Override'/>
      </Navigation>


    <Pages>
      <Page Key='NotImplemented' Baseline='Override'
					  NavKey='NotImplemented'
					  PageTitle='Coming Soon'
					  ContentCtl='&ModuleRoot;/NotImplemented.ascx' />
      <Page Key='Home' Baseline='Override'
					  NavKey='Home'
					  PageTitle='LSC Grants Home'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Home_Content.ascx' />
      <Page Key='EvaluationTool' Baseline='Append'
					  NavKey='EvaluationTool'
					  PageTitle='Review Evaluation Tool'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Administration/EvaluationToolStructure.ascx' />
      <Page Key='PerformanceAreaEditor' Baseline='Append'
					  NavKey='EvaluationTool'
					  PageTitle='Performance Area Editor'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Administration/PerformanceAreaEditor.ascx' />
      <Page Key='RFPCategories' Baseline='Append'
					  NavKey='EvaluationTool'
					  PageTitle='Categories'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Administration/Categories.ascx' />
      <Page Key='CategoryEditor' Baseline='Append'
					  NavKey='EvaluationTool'
					  PageTitle='Categories'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Administration/CategoryEditor.ascx' />
      <Page Key='Criteria' Baseline='Append'
					  NavKey='EvaluationTool'
					  PageTitle='Criteria'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Administration/Criteria.ascx' />
      <Page Key='CriterionEditor' Baseline='Append'
					  NavKey='EvaluationTool'
					  PageTitle='Criterion Editor'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Administration/CriterionEditor.ascx' />
      <Page Key='Inquiries' Baseline='Append'
					  NavKey='EvaluationTool'
					  PageTitle='Inquiries'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Administration/Inquiries.ascx' />
      <Page Key='InquiryEditor' Baseline='Append'
					  NavKey='EvaluationTool'
					  PageTitle='Inquiry Editor'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Administration/InquiryEditor.ascx' />
      <Page Key='InquiryProof' Baseline='Append'
					  NavKey='EvaluationTool'
					  PageTitle='Inquiry Proof'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Administration/InquiryProof.ascx' />
      <Page Key='Subtopics' Baseline='Append'
					  NavKey='EvaluationTool'
					  PageTitle='Subtopics'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Administration/Subtopics.ascx' />
      <Page Key='SubtopicEditor' Baseline='Append'
					  NavKey='EvaluationTool'
					  PageTitle='Subtopic Editor'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Administration/SubtopicEditor.ascx' />
      <Page Key='ElementsByInquiry' Baseline='Append'
					  NavKey='EvaluationTool'
					  PageTitle='Elements By Inquiry'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Administration/ElementsByInquiry.ascx' />
      <Page Key='ElementEditorByInquiry' Baseline='Append'
					  NavKey='EvaluationTool'
					  PageTitle='Element Editor By Inquiry'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Administration/ElementEditorByInquiry.ascx' />
      <Page Key='ElementsBySubtopic' Baseline='Append'
					  NavKey='EvaluationTool'
					  PageTitle='Elements By Subtopic'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Administration/ElementsBySubtopic.ascx' />
      <Page Key='ElementEditorBySubtopic' Baseline='Append'
					  NavKey='EvaluationTool'
					  PageTitle='Element Editor By Subtopic'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Administration/ElementEditorBySubtopic.ascx' />
      <Page Key='CopyExistingTask' Baseline='Append'
					   NavKey='Home'
					   PageTitle='Copy Existing Task'
					   ContentCtl='&ModuleRoot;/Home/Controls/Page/CopyExistTaskContent.ascx' />
      <Page Key='ApplReviewSummary' Baseline='Append'
					   NavKey='Reviews'
						PageTitle ='Application Review Summary'
						ContentCtl='&ModuleRoot;/ApplReview/Controls/Page/ReviewSummary.ascx'/>
      <Page Key='RenewalReviewSummary' Baseline='Append'
					   NavKey='Reviews'
						PageTitle ='Renewal Review Summary'
						ContentCtl='&ModuleRoot;/RenewalReview/Controls/ReviewSummary/ReviewSummary.ascx'/>
      <Page Key='ReviewSummaryRedirect' Baseline='Append'
					   NavKey='Reviews'
						PageTitle ='Review Summary Redirect'
						ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/ReviewSummaryRedirect.ascx'/>
      <Page Key='PhoneEditor' Baseline='Override'
					  NavKey='Contacts'
					  PageTitle='Telephone/Fax Editor'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Contacts/PhoneEditor_Content.ascx' />
      <Page Key='EmailEditor' Baseline='Override'
					  NavKey='Contacts'
					  PageTitle='E-mail Address Editor'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Contacts/EmailEditor_Content.ascx' />
      <Page Key='AddressEditor' Baseline='Override'
					  NavKey='Contacts'
					  PageTitle='Address Editor'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Contacts/AddressEditor_Content.ascx' />
      <Page Key='ScoreReport'
				NavKey='Reviews'
				PageTitle='Score Report'
				ContentCtl='&ModuleRoot;/ApplReview/Controls/Page/ScoreReport.ascx' />
      <Page Key='GrantsTIG'
				NavKey='GrantsEL'
				PageTitle='Grant File - TIG'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/PageSection/GrantsTIG.ascx' />
      <Page Key='MilestoneEditor'
				NavKey='GrantsEL'
				PageTitle='Milestone Editor'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/PageSection/MilestoneEditor.ascx' />
      <Page Key='BudgetEditorTIG'
				PageTitle='Budget Editor TIG'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/PageSection/BudgetEditorTIG.ascx' />
      <Page Key='PaymentSchedule'
				PageTitle='Payment Schedule Report'
				ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Grants/PaymentSchedule.ascx' />
      <Page Key='Form_G4'
				NavKey='GARTracking'
				PageTitle='Form G-4'
				ContentCtl='&ModuleRoot;/GAR/ClientAgeEthGen/Controls/Page/Form_G4.ascx' />
		<Page Key='ClientLanguageEditor'
				NavKey='GARTracking'
				PageTitle='Form G-4: Client Language Editor'
				ContentCtl='&ModuleRoot;/GAR/ClientAgeEthGen/Controls/Page/ClientLanguageEditor.ascx' />
      <Page Key='Form_G3'
				NavKey='GARTracking'
				PageTitle='Form G-3'
				ContentCtl='&ModuleRoot;/GAR/ActualCaseServ/Controls/Page/Form_G3.ascx' />
      <Page Key='Form_G3d'
				NavKey='GARTracking'
				PageTitle='Form G-3(d)'
				ContentCtl='&ModuleRoot;/GAR/ActualCaseServ/Controls/Page/Form_G3d.ascx' />
      <Page Key='Form_D1'
				NavKey='GARTracking'
				PageTitle='Form D-1'
				ContentCtl='&ModuleRoot;/GAR/ActualExpenses/Controls/Page/Form_D1.ascx' />
      <Page Key='Form_E0'
				NavKey='GARTracking'
				PageTitle='Form E-0'
				ContentCtl='&ModuleRoot;/GAR/ActualOfficeInfo/Controls/Page/Form_E0.ascx' />
      <Page Key='Form_E0a'
				NavKey='GARTracking'
				PageTitle='Form E-0a'
				ContentCtl='&ModuleRoot;/GAR/ActualOfficeInfo/Controls/Page/Form_E0a.ascx' />
      <Page Key='Form_E0b'
				NavKey='GARTracking'
				PageTitle='Form E-0b'
				ContentCtl='&ModuleRoot;/GAR/ActualOfficeInfo/Controls/Page/Form_E0b.ascx' />
      <Page Key='Form_E0c'
				NavKey='GARTracking'
				PageTitle='Form E-0c'
				ContentCtl='&ModuleRoot;/GAR/ActualOfficeInfo/Controls/Page/Form_E0c.ascx' />
      <Page Key='Form_G5'
				NavKey='GARTracking'
				PageTitle='Form G-5'
				ContentCtl='&ModuleRoot;/GAR/ActualOpenCases/Controls/Page/Form_G5.ascx' />
      <Page Key='Form_G5d'
				NavKey='GARTracking'
				PageTitle='Form G-5d'
				ContentCtl='&ModuleRoot;/GAR/ActualOpenCases/Controls/Page/Form_G5d.ascx' />
      <Page Key='Form_D3'
				NavKey='GARTracking'
				PageTitle='Form D-3'
				ContentCtl='&ModuleRoot;/GAR/ActualRevenue/Controls/Page/Form_D3.ascx' />
      <Page Key='Form_J1'
				NavKey='GARTracking'
				PageTitle='Form J-1'
				ContentCtl='&ModuleRoot;/GAR/ComponentsPAI/Controls/Page/Form_J1.ascx' />
      <Page Key='Form_J2'
				NavKey='GARTracking'
				PageTitle='Form J-2'
				ContentCtl='&ModuleRoot;/GAR/ComponentsPAI/Controls/Page/Form_J2.ascx' />
      <Page Key='Form_G2'
				NavKey='GARTracking'
				PageTitle='Form G-2'
				ContentCtl='&ModuleRoot;/GAR/AdditionalInformation/Controls/Page/Form_G2.ascx' />
      <Page Key='Form_M'
				NavKey='GARTracking'
				PageTitle='Form M'
				ContentCtl='&ModuleRoot;/GAR/OtherServices/Controls/Page/Form_M.ascx' />
      <Page Key='CommunityLegalEducation'
				NavKey='GARTracking'
				PageTitle='Community Legal Education'
				ContentCtl='&ModuleRoot;/GAR/OtherServices/Controls/Page/I_CommunityLegalEducation.ascx' />
      <Page Key='ProSeAssistance'
				NavKey='GARTracking'
				PageTitle='Pro Se Assistance'
				ContentCtl='&ModuleRoot;/GAR/OtherServices/Controls/Page/II_ProSeAssistance.ascx' />
      <Page Key='ReferredOtherServices'
				NavKey='GARTracking'
				PageTitle='Referred Other Services'
				ContentCtl='&ModuleRoot;/GAR/OtherServices/Controls/Page/III_ReferredOtherServices.ascx' />
      <Page Key='Outreach'
				NavKey='GARTracking'
				PageTitle='Outreach'
				ContentCtl='&ModuleRoot;/GAR/OtherServices/Controls/Page/IV_Outreach.ascx' />
      <Page Key='IndirectOtherServices'
				NavKey='GARTracking'
				PageTitle='Indirect Other Services'
				ContentCtl='&ModuleRoot;/GAR/OtherServices/Controls/Page/V_IndirectOtherServices.ascx' />
      <Page Key='MiscOtherServices'
				NavKey='GARTracking'
				PageTitle='Misc Other Services'
				ContentCtl='&ModuleRoot;/GAR/OtherServices/Controls/Page/VI_MiscOtherServices.ascx' />
      <Page Key='Form_G1'
				NavKey='GARTracking'
				PageTitle='Form G-1'
				ContentCtl='&ModuleRoot;/GAR/ProjectedCaseServ/Controls/Page/Form_G1.ascx' />
      <Page Key='Form_G1d'
				NavKey='GARTracking'
				PageTitle='Form G-1d'
				ContentCtl='&ModuleRoot;/GAR/ProjectedCaseServ/Controls/Page/Form_G1d.ascx' />
      <Page Key='Form_D2'
				NavKey='GARTracking'
				PageTitle='Form D-2'
				ContentCtl='&ModuleRoot;/GAR/ProjectedExpenses/Controls/Page/Form_D2.ascx' />
      <Page Key='Form_D4'
				PageTitle='Form D-4'
				ContentCtl='&ModuleRoot;/GAR/ProjectedRevenue/Controls/Page/Form_D4.ascx' />
      <Page Key='Form_E2'
				NavKey='GARTracking'
				PageTitle='Form E-2'
				ContentCtl='&ModuleRoot;/GAR/ProjectedStaffing/Controls/Page/Form_E2a.ascx' />
      <Page Key='Form_E2c'
				NavKey='GARTracking'
				PageTitle='Form E-2c'
				ContentCtl='&ModuleRoot;/GAR/ProjectedStaffing/Controls/Page/Form_E2c.ascx' />
      <Page Key='Form_E1a'
				NavKey='GARTracking'
				PageTitle='Form E-1a'
				ContentCtl='&ModuleRoot;/GAR/ActualStaffing/Controls/Page/Form_E1a.ascx' />
      <Page Key='StaffMemberEditor'
				NavKey='GARTracking'
				PageTitle='Staff Member Editor'
				ContentCtl='&ModuleRoot;/GAR/ActualStaffing/Controls/PageSection/StaffMemberEditorGeneral.ascx' />
      <Page Key='TransferOffice'
				NavKey='GARTracking'
				PageTitle='Transfer Office'
				ContentCtl='&ModuleRoot;/GAR/ActualStaffing/Controls/Page/TransferOffice.ascx' />
      <Page Key='Form_E1b'
				NavKey='GARTracking'
				PageTitle='Form E-1b'
				ContentCtl='&ModuleRoot;/GAR/ActualStaffing/Controls/Page/Form_E1b.ascx' />
      <Page Key='BranchOffices'
				NavKey='GARTracking'
				PageTitle='Branch Offices'
				ContentCtl='&ModuleRoot;/GAR/ActualStaffing/Controls/Page/BranchOffices.ascx' />
      <Page Key='Form_E1c'
				NavKey='GARTracking'
				PageTitle='Form E-1c'
				ContentCtl='&ModuleRoot;/GAR/ActualStaffing/Controls/Page/Form_E1c.ascx' />
      <Page Key='SubrecipientOffices'
				NavKey='GARTracking'
				PageTitle='Subrecipient Offices'
				ContentCtl='&ModuleRoot;/GAR/ActualStaffing/Controls/Page/SubrecipientOffices.ascx' />
      <Page Key='Certification'
				NavKey='GARTracking'
				PageTitle='Certification'
				ContentCtl='&ModuleRoot;/GAR/SelfInspection/Controls/Page/Certification.ascx' />
      <Page Key='Summary'
				NavKey='GARTracking'
				PageTitle='Summary'
				ContentCtl='&ModuleRoot;/GAR/SelfInspection/Controls/Page/Summary.ascx' />
      <Page Key='Unreported'
				NavKey='GARTracking'
				PageTitle='Unreported'
				ContentCtl='&ModuleRoot;/GAR/SelfInspection/Controls/Page/Unreported.ascx' />
      <Page Key='Form_L'
				NavKey='GARTracking'
				PageTitle='Form L'
				ContentCtl='&ModuleRoot;/GAR/ServiceNarrative/Controls/Page/ServiceNarrative.ascx' />
      <Page Key='GARTrackingEL'
					  NavKey='GARTracking'
					  PageTitle='GAR Tracking Easylist'
					  ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Grants/GARTrackingEL.ascx' />
      <Page Key='PV_Gar_G4'
				 NavKey='GARTracking'
				 PageTitle='Form G-4: Client Age, Ethnicity and Gender'
				 ContentCtl='&ModuleRoot;/GAR/ClientAgeEthGen/Controls/Page/Form_G4ReadOnly.ascx'/>
      <Page Key='PV_Gar_G3'
			     NavKey='Home'
				 PageTitle='Form G-3: Actual Cases Services'
				 ContentCtl='&ModuleRoot;/GAR/ActualCaseServ/Controls/PageSection/ActualCaseServReadOnly.ascx'/>
      <Page Key='PV_Gar_G3d'
					 NavKey='Home'
					 PageTitle='Form G-3(d): Actual Cases Services - PAI'
					 ContentCtl='&ModuleRoot;/GAR/ActualCaseServ/Controls/PageSection/ActualCaseServPAIReadOnly.ascx'/>
      <Page Key='PV_Gar_G5'
					 NavKey='Home'
					 PageTitle='Form G-5: Actual Open Cases '
					 ContentCtl='&ModuleRoot;/GAR/ActualOpenCases/Controls/Page/Form_G5ReadOnly.ascx'/>
      <Page Key='PV_Gar_G5d'
					 NavKey='Home'
					 PageTitle='Form G-5(d): Actual Open Cases - PAI '
					 ContentCtl='&ModuleRoot;/GAR/ActualOpenCases/Controls/Page/Form_G5dReadOnly.ascx'/>
      <Page Key='PV_Gar_D1'
					 NavKey='Home'
					 PageTitle='Form D-1: Actual Expenses '
					 ContentCtl='&ModuleRoot;/GAR/ActualExpenses/Controls/Page/Form_D1ReadOnly.ascx'/>
      <Page Key='PV_Gar_D3'
					 NavKey='Home'
					 PageTitle='Form D-3: Actual Support and Revenue'
					 ContentCtl='&ModuleRoot;/GAR/ActualRevenue/Controls/Page/Form_D3ReadOnly.ascx'/>
      <Page Key='PV_Gar_E0'
					 NavKey='Home'
					 PageTitle='Form E-0: Actual Office Information'
					 ContentCtl='&ModuleRoot;/GAR/ActualOfficeInfo/Controls/Page/Form_E0ReadOnly.ascx'/>
      <Page Key='PV_Gar_E1a'
					 NavKey='Home'
					 PageTitle='Form E-1(a): Actual Staffing - Main Office'
					 ContentCtl='&ModuleRoot;/GAR/ActualStaffing/Controls/Page/Form_E1aReadOnly.ascx'/>
      <Page Key='PV_Gar_E1b'
					 NavKey='Home'
					 PageTitle='Form E-1(b): Actual Staffing - Branch Office'
					 ContentCtl='&ModuleRoot;/GAR/ActualStaffing/Controls/Page/Form_E1bReadOnly.ascx'/>
      <Page Key='PV_Gar_E1c'
					 NavKey='Home'
					 PageTitle='Form E-1(c): Actual Staffing - Subrecipient Office'
					 ContentCtl='&ModuleRoot;/GAR/ActualStaffing/Controls/Page/Form_E1cReadOnly.ascx'/>
      <Page Key='PV_Gar_J1'
					 NavKey='Home'
					 PageTitle='Form J-1: Components of Actual PAI'
					 ContentCtl='&ModuleRoot;/GAR/ComponentsPAI/Controls/Page/Form_J1ReadOnly.ascx'/>
      <Page Key='PV_Gar_J2'
					 NavKey='Home'
					 PageTitle='Form J-2: Projected Components of PAI'
					 ContentCtl='&ModuleRoot;/GAR/ComponentsPAI/Controls/Page/Form_J2ReadOnly.ascx'/>
      <Page Key='PV_Gar_M'
					 NavKey='Home'
					 PageTitle='Form M: Other Services Report'
					 ContentCtl='&ModuleRoot;/GAR/OtherServices/Controls/Page/Form_MReadOnly.ascx'/>
      <Page Key='PV_Gar_G6'
					 NavKey='Home'
					 PageTitle='Form G-6: Self Inspection Form'
					 ContentCtl='&ModuleRoot;/GAR/SelfInspection/Controls/Page/Form_G6ReadOnly.ascx'/>
      <Page Key='PV_Gar_D2'
			     NavKey='Home'
				 PageTitle='Form D-2: Projected Expenses'
				 ContentCtl='&ModuleRoot;/GAR/ProjectedExpenses/Controls/Page/Form_D2ReadOnly.ascx'/>
      <Page Key='PV_Gar_D4'
					 NavKey='Home'
					 PageTitle='Form D-4: Projected Support and Revenue'
					 ContentCtl='&ModuleRoot;/GAR/ProjectedRevenue/Controls/Page/Form_D4ReadOnly.ascx'/>
      <Page Key='PV_Gar_G1'
					 NavKey='Home'
					 PageTitle='Form G-1: Projected Case Services'
					 ContentCtl='&ModuleRoot;/GAR/ProjectedCaseServ/Controls/Page/Form_G1ReadOnly.ascx'/>
      <Page Key='PV_Gar_G1d'
					 NavKey='Home'
					 PageTitle='Form G-1(d): Projected Case Services - PAI'
					 ContentCtl='&ModuleRoot;/GAR/ProjectedCaseServ/Controls/Page/Form_G1dReadOnly.ascx'/>
      <Page Key='PV_Gar_E2a'
					 NavKey='Home'
					 PageTitle='Form E-2(a): Projected Staffing - Recipient Only'
					 ContentCtl='&ModuleRoot;/GAR/ProjectedStaffing/Controls/Page/Form_E2aReadOnly.ascx'/>
      <Page Key='PV_Gar_E2c'
					 NavKey='Home'
					 PageTitle='Form E-2(c): Projected Staffing - SubRecipient Only'
					 ContentCtl='&ModuleRoot;/GAR/ProjectedStaffing/Controls/Page/Form_E2cReadOnly.ascx'/>
      <Page Key='PV_Gar_L'
			     NavKey='Home'
				 PageTitle='Form L: Other Services Narrative'
				 ContentCtl='&ModuleRoot;/GAR/ServiceNarrative/Controls/Page/ViewFormL.ascx'/>
      <Page Key='PV_Gar_G2'
			     NavKey='Home'
				 PageTitle='Form G-2: Additional Information Related to Cases'
				 ContentCtl='&ModuleRoot;/GAR/AdditionalInformation/Controls/Page/Form_G2ReadOnly.ascx'/>
      <Page Key='TIGAppReview_O_R_WI'
					NavKey='Home'
					PageTitle='TIG Application Review - Open/Replication/Website Improvement - Assignment List'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/TIGAppReview_O_R_WI.ascx' />
      <Page Key='GrantNoteViewer'
					NavKey='Grants'
					PageTitle='Grant Note Viewer'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Grants/GrantNoteViewer.ascx' />
      <Page Key='TIGLOIReview_O_R_WI_OPP'
					NavKey='Home'
					PageTitle='TIG LOI Review - Open/Replication/Website Improvement - Assignment List - OPP Staff'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/TIGLOIReview_O_R_WI_OPP.ascx' />
      <Page Key='TIGLOIReview_O_R_WI_OPPDir'
					NavKey='Home'
					PageTitle='TIG LOI Review - Open/Replication/Website Improvement - Assignment List - OPP Director'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/TIGLOIReview_O_R_WI_OPPDir.ascx' />
      <Page Key='TIGLOIReview_O_R_WI_VicePresident'
					NavKey='Home'
					PageTitle='TIG LOI Review - Open/Replication/Website Improvement - Assignment List - Vice President'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/TIGLOIReview_O_R_WI_VicePresident.ascx' />
      <Page Key='TIGLOIReview_O_R_WI_President'
					NavKey='Home'
					PageTitle='TIG LOI Review - Open/Replication/Website Improvement - Assignment List - President'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/TIGLOIReview_O_R_WI_President.ascx' />
      <Page Key='TIGAppReview_O_R_WI_OPPDir'
					NavKey='Home'
					PageTitle='TIG Application Review - Open/Replication/Website Improvement - Assignment List - OPP Director'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/TIGAppReview_O_R_WI_OPPDir.ascx' />
      <Page Key='TIGAppReview_O_R_WI_VP'
					NavKey='Home'
					PageTitle='TIG Application Review - Open/Replication/Website Improvement - Assignment List - Vice President'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/TIGAppReview_O_R_WI_VP.ascx' />
      <Page Key='TIGAppReview_O_R_WI_Pres'
					NavKey='Home'
					PageTitle='TIG Application Review - Open/Replication/Website Improvement - Assignment List - President'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/TIGAppReview_O_R_WI_Pres.ascx' />
      <Page Key='DataDictionary'
					NavKey='Home'
					PageTitle='Data Dictionary'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Administration/DataDictionary/DataDictionary.ascx' />
      <Page Key='DataDictionaryTableViewEditor'
					NavKey='Home'
					PageTitle='Data Dictionary Table/View Editor'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Administration/DataDictionary/DataDictionaryTableViewEditor.ascx' />
      <Page Key='DataDictionaryColumnEditor'
					NavKey='Home'
					PageTitle='Data Dictionary Column Editor'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Administration/DataDictionary/DataDictionaryColumnEditor.ascx' />
      <Page Key='TIGAppReview_Website_OPPDir'
					NavKey='Home'
					PageTitle='TIG Application Review - Website Continuation/Renewal - Assignment List - OPP Director'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/TIGAppReview_Website_OPPDir.ascx' />
      <Page Key='TIGAppReview_Website_VP'
					NavKey='Home'
					PageTitle='TIG Application Review - Website Continuation/Renewal - Assignment List - Vice President'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/TIGAppReview_Website_VP.ascx' />
      <Page Key='TIGAppReview_Website_President'
					NavKey='Home'
					PageTitle='TIG Application Review - Website Continuation/Renewal - Assignment List - President'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/TIGAppReview_Website_President.ascx' />
      <Page Key='RenewalAppReview_OPPDir'
					NavKey='Home'
					PageTitle='Renewal Application Review - Assignment List - OPP Director'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/RenewalAppReview_OPPDir.ascx' />
      <Page Key='AppReview_President'
					NavKey='Home'
					PageTitle='Application Review - Assignment List - President'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/AppReview_President.ascx' />
      <Page Key='RenewalAppReview_President'
					NavKey='Home'
					PageTitle='Renewal Application Review - Assignment List - President'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/RenewalAppReview_President.ascx' />
      <Page Key='TIGAppReview_BudgetRevision'
					NavKey='Home'
					PageTitle='TIG - Review Revised Budget'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/TIGAppReview_BudgetRevision.ascx' />
      <Page Key='TIGAppReview_PaymentScheduleRevision'
					NavKey='Home'
					PageTitle='TIG - Review Revised Payment Schedule'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/TIGAppReview_PaymentScheduleRevision.ascx' />
      <Page Key='TIGAppReview_GrantAwardPackage'
					NavKey='Home'
					PageTitle='Review TIG Grant Award Package'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/TIGAppReview_GrantAwardPackage.ascx' />
      <Page Key='TIGGrantBudgetReport'
					NavKey='Home'
					PageTitle='TIG Grant Budget Report'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Grants/TIGGrantBudgetReport.ascx' />
      <Page Key='AppReview_OPPDir'
					NavKey='Home'
					PageTitle='Application Review - Assignment List - OPP Director'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/AppReview_OPPDir.ascx' />
      <Page Key='AppReview_OCEDir'
					NavKey='Home'
					PageTitle='Application Review - Assignment List - OCE Director'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/AppReview_OCEDir.ascx' />
      <Page Key='RenewalAppReview_OCEDir'
					NavKey='Home'
					PageTitle='Renewal Application Review - Assignment List - OCE Director'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/RenewalAppReview_OCEDir.ascx' />
      <Page Key='ProBonoReviewLOIPrimary'
					NavKey='Home'
					PageTitle='Pro Bono Innovation Fund - LOI Review - Primary - Assignment List'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/ProBonoReviewLOIPrimary.ascx' />
      <Page Key='ProBonoReviewEligibility'
					NavKey='Home'
					PageTitle='Pro Bono Innovation Fund - Eligibility Review - Assignment List'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/ProBonoReviewEligibility.ascx' />
      <Page Key='ProBonoReviewProgrammaticPrimary'
					NavKey='Home'
					PageTitle='Pro Bono Innovation Fund - Programmatic Review (Primary) - Assignment List'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/ProBonoReviewProgrammaticPrimary.ascx' />
      <Page Key='ProBonoReviewProgrammaticSecondary'
					NavKey='Home'
					PageTitle='Pro Bono Innovation Fund - Programmatic Review (Secondary) - Assignment List'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/ProBonoReviewProgrammaticSecondary.ascx' />
		<Page Key='ProBonoReviewRiskAssessment'
					NavKey='Home'
					PageTitle='Pro Bono Innovation Fund - Due Diligence Review - Assignment List'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/ProBonoReviewRiskAssessment.ascx' />
		<Page Key='ProBonoReviewOPPDir'
					NavKey='Home'
					PageTitle='Pro Bono Innovation Fund - OPP Director Review - Assignment List'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/ProBonoReviewOPPDir.ascx' />
		<Page Key='ProBonoReviewVP'
					NavKey='Home'
					PageTitle='Pro Bono Innovation Fund - Vice President Review - Assignment List'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/ProBonoReviewVP.ascx' />
		<Page Key='ProBonoReviewPresident'
					NavKey='Home'
					PageTitle='Pro Bono Innovation Fund - President Review - Assignment List'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/ProBonoReviewPresident.ascx' />
		<Page Key='SubgrantReviewArchive'
					NavKey='Home'
					PageTitle='Subgrant Approval Request Reviews - Archive'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/SubgrantReviewArchive.ascx' />
		<Page Key='TIGGrantBudgetReportBC'
					NavKey='Home'
					PageTitle='TIG Grant Budget Report'
					ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Grants/TIGGrantBudgetReportBC.ascx' />
		<Page Key='TIGAppReview_BudgetRevision2013nEarlier'
				   NavKey='Home'
				   PageTitle='TIG - Review Revised Budget 2013 and Earlier'
				   ContentCtl='&ModuleRoot;/&ModuleName;/Controls/Page/Reviews/TIGAppReview_BudgetRevision2013nEarlier.ascx' />

	</Pages>


  </Module>
</EasyGrants>
